Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

feat(overworld-tools): add commands for overworld validation and diagnostics
  src/cli/agent.cmake
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/tools/overworld_doctor_commands.cc
  src/cli/handlers/tools/overworld_doctor_commands.h
  src/cli/handlers/tools/overworld_validate_commands.cc
  src/cli/handlers/tools/overworld_validate_commands.h
  src/cli/handlers/tools/rom_compare_commands.cc
  src/cli/handlers/tools/rom_compare_commands.h
Due: clang-tidy, cppcheck

feat(overworld): implement special world expansion feature and graphics handling improvements
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/ui/rom_load_options_dialog.cc
  src/app/editor/ui/rom_load_options_dialog.h
  src/app/gui/app/feature_flags_menu.h
  src/app/rom.cc
  src/core/features.h
  src/zelda3/overworld/overworld.cc
  src/zelda3/overworld/overworld.h
  src/zelda3/overworld/overworld_map.cc
  src/zelda3/overworld/overworld_map.h
Due: clang-tidy, cppcheck

chore: remove zelda3.sfc from repo
  .gitignore
Due: none

feat(overworld): add detailed documentation for special-world tail map padding
  docs/internal/overworld_third_world_padding.md
  src/cli/cli.cc
  src/cli/cli_main.cc
  src/cli/handlers/tools/diagnostic_types.h
  src/cli/handlers/tools/overworld_doctor_commands.cc
  src/cli/handlers/tools/overworld_doctor_commands.h
  src/cli/handlers/tools/overworld_validate_commands.cc
  src/cli/handlers/tools/overworld_validate_commands.h
  src/cli/handlers/tools/rom_compare_commands.cc
  src/cli/handlers/tools/rom_compare_commands.h
  src/cli/service/command_registry.cc
Due: clang-tidy, cppcheck

feat(dungeon-editor): enhance object interaction and dimensions calculation
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.h
  src/app/editor/dungeon/object_editor_card.cc
  src/app/editor/dungeon/object_selection.cc
  src/app/editor/dungeon/object_selection.h
  src/app/editor/dungeon/panels/dungeon_debug_controls_panel.h
  src/app/editor/dungeon/panels/dungeon_object_editor_panel.h
  src/app/editor/dungeon/panels/dungeon_room_panel.h
  src/app/gui/widgets/dungeon_object_emulator_preview.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
  src/zelda3/dungeon/object_parser.cc
  test/CMakeLists.txt
  test/unit/zelda3/dungeon/object_dimensions_test.cc
Due: clang-tidy, cppcheck

fix(error_handler): prevent crashes by handling null/undefined content in appendChild
  src/web/core/error_handler.js
Due: none

feat(doctor-commands): introduce diagnostic tools for ROM integrity and dungeon data
  docs/public/cli/README.md
  docs/public/cli/doctor-commands.md
  docs/public/cli/test-commands.md
  src/cli/agent.cmake
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/tools/diagnostic_types.h
  src/cli/handlers/tools/dungeon_doctor_commands.cc
  src/cli/handlers/tools/dungeon_doctor_commands.h
  src/cli/handlers/tools/overworld_doctor_commands.cc
  src/cli/handlers/tools/overworld_doctor_commands.h
  src/cli/handlers/tools/rom_doctor_commands.cc
  src/cli/handlers/tools/rom_doctor_commands.h
  src/cli/handlers/tools/test_cli_commands.cc
  src/cli/handlers/tools/test_cli_commands.h
  src/cli/service/resources/command_handler.cc
Due: clang-tidy, cppcheck

feat(overworld): implement Tail Map Expansion patch for special world maps
  assets/patches/Overworld/TailMapExpansion.asm
  src/zelda3/overworld/overworld.cc
  src/zelda3/overworld/overworld.h
Due: clang-tidy, cppcheck

feat(asar): enable standalone Asar executable and enhance library integration
  cmake/asar.cmake
  src/core/CMakeLists.txt
  src/core/asar_wrapper.cc
  src/core/asar_wrapper.h
Due: clang-tidy, cppcheck

fix(dungeon): correct graphics sheet loading order for tile rendering
  src/app/editor/music/music_editor.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
  src/zelda3/dungeon/object_parser.cc
  src/zelda3/dungeon/room.cc
Due: clang-tidy, cppcheck

docs: add dungeon rendering debugging handoff documentation
  docs/internal/hand-off/HANDOFF_DUNGEON_RENDERING.md
Due: none

feat(dungeon): enhance dungeon canvas viewer and object interaction
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/zelda3/dungeon/dungeon_rom_addresses.h
  src/zelda3/dungeon/room.h
  src/zelda3/dungeon/room_object.cc
  src/zelda3/sprite/sprite.h
Due: clang-tidy, cppcheck

fix(bitmap): enhance palette application and surface handling
  src/app/gfx/core/bitmap.cc
  src/app/gfx/core/bitmap.h
Due: clang-tidy, cppcheck

fix(background_buffer): improve palette handling and tile skipping logic
  src/app/gfx/render/background_buffer.cc
Due: clang-tidy, cppcheck

fix(sdl2_renderer): enhance texture creation with blend mode support
  src/app/gfx/backend/sdl2_renderer.cc
Due: clang-tidy, cppcheck

fix(snes_tile): update TileInfo constructor for correct tile ID and flag parsing
  src/app/gfx/types/snes_tile.h
Due: cppcheck

fix(overworld_doctor_commands): improve ROM size handling and error reporting
  src/cli/handlers/tools/overworld_doctor_commands.cc
Due: clang-tidy, cppcheck

fix(dungeon): add missing object-to-routine mappings for 0x50-0xF7
  src/zelda3/dungeon/object_drawer.cc
Due: clang-tidy, cppcheck

docs: comprehensive update to dungeon rendering handoff
  docs/internal/hand-off/HANDOFF_DUNGEON_RENDERING.md
Due: none

fix(test): update integration tests for ROM decoupling architecture
  test/integration/dungeon_editor_test.h
  test/integration/palette_manager_test.cc
  test/integration/zelda3/dungeon_palette_test.cc
Due: clang-tidy, cppcheck
