Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

Refine iOS overlay actions and mobile settings
  src/ios/iOS/YazeIOSBridge.h
  src/ios/iOS/YazeIOSBridge.mm
  src/ios/iOS/YazeOverlayView.swift
  src/ios/iOS/YazeSettingsStore.swift
  src/ios/main.mm
Due: cppcheck

Fix Metal texture format and iOS staging uploads
  src/app/gfx/backend/metal_renderer.h
  src/app/gfx/backend/metal_renderer.mm
Due: cppcheck

Improve dashboard responsiveness and sidebar icon states
  src/app/editor/menu/activity_bar.cc
  src/app/editor/ui/dashboard_panel.cc
  src/app/editor/ui/dashboard_panel.h
  src/app/editor/ui/editor_selection_dialog.cc
  src/app/editor/ui/ui_coordinator.cc
  src/app/gui/widgets/themed_widgets.cc
Due: clang-tidy, cppcheck

Docs: update coordination notes and Mesen2 MCP hint
  GEMINI.md
  docs/internal/agents/coordination-board.md
Due: none

Decouple API window control from app linkage
  src/app/main.cc
  src/cli/service/api/http_server.cc
  src/cli/service/api/http_server.h
Due: clang-tidy, cppcheck

Tune iOS touch scale and overlay padding
  src/app/platform/ios/ios_platform_state.h
  src/app/platform/ios/ios_platform_state.mm
  src/app/platform/ios/ios_window_backend.mm
  src/ios/iOS/YazeIOSBridge.h
  src/ios/iOS/YazeIOSBridge.mm
  src/ios/iOS/YazeOverlayView.swift
Due: cppcheck

[imgui-frontend-engineer] Fix iOS Metal surface format conversion
  src/app/gfx/backend/metal_renderer.mm
Due: none

[imgui-frontend-engineer] Simplify iOS overlay menu + fix icon highlight
  src/app/gui/widgets/themed_widgets.cc
  src/ios/iOS/YazeOverlayView.swift
Due: clang-tidy, cppcheck

[imgui-frontend-engineer] Add iOS menu integration and simplify overlay
  src/app/platform/ios/ios_window_backend.mm
  src/ios/iOS/YazeOverlayView.swift
  src/ios/iOS/YazeSettingsStore.swift
  src/ios/main.mm
Due: none

[imgui-frontend-engineer] Update coordination board for iOS menu pass
  docs/internal/agents/coordination-board.md
Due: none

[imgui-frontend-engineer] Add iOS dockspace and mobile defaults
  src/app/controller.cc
  src/app/editor/system/user_settings.cc
Due: clang-tidy, cppcheck

Fix iOS dockspace sizing for docking
  src/app/controller.cc
  src/app/editor/layout/layout_manager.cc
  src/app/gui/core/background_renderer.h
Due: clang-tidy, cppcheck

Add AI host presets and OpenAI base config
  src/app/editor/agent/agent_chat_history_codec.cc
  src/app/editor/agent/agent_chat_history_codec.h
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_editor.h
  src/app/editor/agent/agent_state.h
  src/app/editor/agent/agent_ui_controller.cc
  src/app/editor/agent/agent_ui_controller.h
  src/app/editor/agent/panels/agent_configuration_panel.cc
  src/app/editor/editor_manager.cc
  src/app/editor/layout/layout_presets.cc
  src/app/editor/menu/activity_bar.cc
  src/app/editor/menu/right_panel_manager.cc
  src/app/editor/system/panel_manager.cc
  src/app/editor/system/user_settings.cc
  src/app/editor/system/user_settings.h
  src/app/editor/ui/settings_panel.cc
  src/app/editor/ui/ui_coordinator.cc
  src/app/emu/emulator.cc
  src/app/gui/app/editor_layout.cc
  src/app/gui/app/editor_layout.h
  src/app/gui/core/layout_helpers.cc
  src/app/gui/core/layout_helpers.h
  src/cli/service/ai/browser_ai_service.cc
  src/cli/service/ai/browser_ai_service.h
  src/cli/service/ai/service_factory_browser.cc
  src/ios/iOS/Info-iOS.plist
  src/ios/iOS/RemoteBuildClient.swift
  src/ios/iOS/YazeSettingsStore.swift
  src/ios/main.mm
  src/web/components/collab_console.js
  src/web/core/ai_manager.js
  src/web/core/config.js
  src/web/core/namespace.js
  src/web/shell.html
  src/web/shell_ui.js
  src/web/tests/wasm_debug_api_tests.js
Due: clang-tidy, cppcheck

Fix message save overflow checks
  src/app/editor/message/message_editor.cc
Due: clang-tidy, cppcheck

Fix hex editor category wiring and data pointer
  src/app/editor/code/memory_editor.cc
  src/app/editor/layout/layout_presets.cc
  src/app/editor/system/editor_registry.cc
Due: clang-tidy, cppcheck

Guard invalid dungeon room selections
  src/app/editor/dungeon/dungeon_editor_v2.cc
Due: clang-tidy, cppcheck

Propagate game data to graphics panels
  src/app/editor/graphics/graphics_editor.h
Due: cppcheck

Reset screen inventory state per ROM load
  src/app/editor/graphics/screen_editor.cc
  src/app/editor/graphics/screen_editor.h
Due: clang-tidy, cppcheck

Fix memory editor comparison data constness
  src/app/gui/imgui_memory_editor.h
Due: cppcheck

Fix screen editor palette loaded flag
  src/app/editor/graphics/screen_editor.cc
Due: clang-tidy, cppcheck

Improve music editor auto-show and ROM guards
  src/app/editor/music/music_editor.cc
  src/app/editor/music/music_editor.h
Due: clang-tidy, cppcheck

Fix assembly editor active buffer and save behavior
  src/app/editor/code/assembly_editor.cc
  src/app/editor/code/assembly_editor.h
Due: clang-tidy, cppcheck

Fix palette panels and legacy palette preview
  src/app/editor/palette/palette_editor.cc
  src/app/gui/core/color.cc
Due: clang-tidy, cppcheck

Fix activity bar editor switching and message editor font atlas
  docs/internal/agents/coordination-board.md
  src/app/editor/editor_manager.cc
  src/app/editor/message/message_editor.cc
  src/app/editor/message/message_editor.h
  src/app/editor/overworld/overworld_toolbar.h
Due: clang-tidy, cppcheck

Adjust overworld default layout for maximized canvas
  src/app/editor/layout/layout_manager.cc
  src/app/editor/layout/layout_presets.cc
  src/app/editor/layout/layout_presets.h
Due: clang-tidy, cppcheck

Persist layout state across scopes
  docs/internal/plans/layout-management-plan.md
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/layout/layout_coordinator.cc
  src/app/editor/layout/layout_manager.cc
  src/app/editor/layout/layout_manager.h
  src/app/editor/layout/window_delegate.cc
  src/app/editor/system/panel_manager.cc
  src/app/editor/system/panel_manager.h
  src/app/editor/ui/dashboard_panel.cc
  src/app/editor/ui/welcome_screen.cc
  src/app/editor/ui/workspace_manager.cc
  src/app/editor/ui/workspace_manager.h
  src/app/platform/ios/ios_window_backend.mm
  src/app/platform/null_window_backend.cc
  src/app/platform/sdl2_window_backend.cc
  src/app/platform/sdl3_window_backend.cc
  src/app/platform/window.cc
  src/util/platform_paths.cc
  src/util/platform_paths.h
Due: clang-tidy, cppcheck

Reset ImGui ini via load
  src/app/editor/layout/layout_coordinator.cc
  src/app/editor/layout/window_delegate.cc
Due: clang-tidy, cppcheck

Sync panel context on category switch
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/system/panel_manager.cc
  src/app/editor/system/panel_manager.h
Due: clang-tidy, cppcheck

Fix editor context resolver
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
Due: clang-tidy, cppcheck

Document panel context fix
  docs/public/reference/changelog.md
Due: none

imgui-frontend-engineer: add editor review sweep tracking
  docs/internal/agents/coordination-board.md
  docs/internal/agents/initiative-editor-review-2026-01.md
Due: none

Clean up editor panel rosters and layout presets
  docs/internal/agents/initiative-editor-review-2026-01.md
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/graphics/graphics_editor.cc
  src/app/editor/graphics/graphics_editor.h
  src/app/editor/layout/layout_presets.cc
  src/app/editor/layout/layout_presets.h
  src/app/editor/music/music_editor.cc
  src/app/editor/palette/palette_editor.cc
  src/app/editor/palette/palette_editor.h
  src/lab/main.cc
Due: clang-tidy, cppcheck

Fix ROM-dependent test skipping and preset test setup
  docs/internal/agents/coordination-board.md
  scripts/agents/run-tests.sh
  test/e2e/dungeon_object_rendering_e2e_tests.cc
  test/e2e/overworld/overworld_e2e_test.cc
  test/e2e/rom_dependent/e2e_rom_test.cc
  test/e2e/rom_dependent/editor_save_test_base.h
  test/e2e/rom_dependent/graphics_editor_save_test.cc
  test/e2e/zscustomoverworld/zscustomoverworld_upgrade_test.cc
  test/inspection/dungeon_palette_inspection_test.cc
  test/integration/audio/audio_timing_test.cc
  test/integration/audio/headless_audio_debug_test.cc
  test/integration/audio/music_player_headless_test.cc
  test/integration/dungeon_editor_test.h
  test/integration/dungeon_editor_v2_test.h
  test/integration/editor/tile16_editor_test.cc
  test/integration/emulator_object_preview_test.cc
  test/integration/emulator_render_service_test.cc
  test/integration/overworld_editor_test.h
  test/integration/save_state_generation_test.cc
  test/integration/zelda3/dungeon_editor_system_integration_test.cc
  test/integration/zelda3/dungeon_graphics_transparency_test.cc
  test/integration/zelda3/dungeon_object_rendering_tests.cc
  test/integration/zelda3/dungeon_object_rendering_tests_new.cc
  test/integration/zelda3/dungeon_palette_test.cc
  test/integration/zelda3/dungeon_room_test.cc
  test/integration/zelda3/message_test.cc
  test/integration/zelda3/music_integration_test.cc
  test/integration/zelda3/overworld_integration_test.cc
  test/integration/zelda3/room_integration_test.cc
  test/integration/zelda3/sprite_position_test.cc
  test/test_utils.h
  test/unit/rom/rom_test.cc
  test/unit/tools/build_tool_test.cc
Due: clang-tidy, cppcheck

Screen editor: theme error colors and boss outline
  docs/internal/agents/coordination-board.md
  docs/internal/agents/initiative-editor-review-2026-01.md
  src/app/editor/graphics/screen_editor.cc
Due: clang-tidy, cppcheck

Unify agent config panel + auto-detect defaults
  docs/internal/agents/coordination-board.md
  docs/internal/agents/initiative-editor-review-2026-01.md
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_editor.h
  src/app/editor/agent/agent_state.h
  src/app/editor/agent/agent_ui_controller.cc
  src/app/editor/agent/panels/agent_configuration_panel.cc
  src/app/editor/agent/panels/agent_configuration_panel.h
  src/app/editor/editor_library.cmake
  src/app/editor/layout/layout_presets.cc
  src/app/editor/layout/layout_presets.h
  src/app/editor/sprite/sprite_editor.cc
  src/app/editor/sprite/sprite_editor.h
  src/app/editor/ui/ui_coordinator.cc
  src/cli/service/ai/openai_ai_service.cc
Due: clang-tidy, cppcheck

Remove unused absl include from agent config panel
  src/app/editor/agent/panels/agent_configuration_panel.cc
Due: clang-tidy, cppcheck

Use absl match include for StrContains
  src/cli/service/ai/openai_ai_service.cc
Due: clang-tidy, cppcheck

Remove absl StrContains usage in agent config panel
  src/app/editor/agent/panels/agent_configuration_panel.cc
Due: clang-tidy, cppcheck

Include agent_state in agent_editor header
  src/app/editor/agent/agent_editor.h
Due: cppcheck

Auto-detect AI hosts + keychain lookup on macOS
  src/app/app.cmake
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_editor.h
  src/app/editor/system/user_settings.cc
Due: clang-tidy, cppcheck
