Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

feat(emu): introduce IEmulator adapter pattern for multi-backend support
  src/app/app_core.cmake
  src/app/application.cc
  src/app/application.h
  src/app/emu/i_emulator.h
  src/app/emu/internal_emulator_adapter.cc
  src/app/emu/internal_emulator_adapter.h
  src/app/emu/mesen/mesen_emulator_adapter.cc
  src/app/emu/mesen/mesen_emulator_adapter.h
  src/app/main.cc
  src/app/service/emulator_service_impl.cc
  src/app/service/emulator_service_impl.h
  src/app/service/unified_grpc_server.cc
  src/app/service/unified_grpc_server.h
Due: clang-tidy, cppcheck

feat(cli): enhance command handlers and add overworld graph export
  src/cli/cli_core.cmake
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/command_handlers_browser.cc
  src/cli/handlers/game/dungeon_commands.cc
  src/cli/handlers/game/overworld_commands.cc
  src/cli/handlers/game/overworld_graph_commands.cc
  src/cli/handlers/game/overworld_graph_commands.h
  src/cli/handlers/rom/rom_commands.cc
  src/cli/handlers/rom/rom_commands.h
  src/cli/service/resources/command_context.cc
  src/cli/service/resources/command_context.h
  src/cli/service/resources/command_handler.cc
  src/cli/service/resources/command_handler.h
  src/zelda3/dungeon/room.cc
Due: clang-tidy, cppcheck

feat(editor): enhance Agent Editor and add Oracle State Library panel
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_editor.h
  src/app/editor/agent/agent_ui_controller.cc
  src/app/editor/agent/panels/agent_editor_panels.h
  src/app/editor/agent/panels/oracle_state_library_panel.cc
  src/app/editor/agent/panels/oracle_state_library_panel.h
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.cc
  src/app/emu/debug/symbol_provider.cc
  src/app/emu/debug/symbol_provider.h
Due: clang-tidy, cppcheck

feat(ai): add AI agent tooling and automation scripts
  scripts/ai/asm_tuner.py
  scripts/ai/code_graph.py
  scripts/ai/crash_dump.py
  scripts/ai/diff_runner.py
  scripts/ai/fuzzer.py
  scripts/ai/map_compiler.py
  scripts/ai/memory_cartographer.py
  scripts/ai/navigator.py
  scripts/ai/profiler.py
  scripts/ai/run_agent_test.sh
  scripts/ai/sentinel.py
  scripts/ai/state_query.py
  scripts/ai/test_navigator.py
  scripts/ai/visual_verifier.py
Due: none

chore: bump version to 0.5.5 and update docs
  .gitignore
  CLAUDE.md
  CMakeLists.txt
  GEMINI.md
Due: none

v0.5.5: Refactor EditorManager and improve test infrastructure
  CHANGELOG.md
  CMakePresets.json
  VERSION
  docs/public/reference/changelog.md
  src/app/controller.cc
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/layout/layout_manager.cc
  src/app/gfx/types/snes_tile.cc
  src/app/gfx/types/snes_tile.h
  src/app/main.cc
  src/app/platform/null_window_backend.cc
  src/app/service/unified_grpc_server.h
  src/main.cc
  src/rom/rom_diagnostics.cc
  src/zelda3/game_data.cc
  test/CMakeLists.txt
  test/unit/core/asar_compiler_test.cc
  test/unit/editor/editor_manager_test.cc
Due: clang-tidy, cppcheck

chore: update version references to 0.5.5
  README.md
  inc/yaze_version.h
Due: cppcheck

fix: replace absl::SimpleHexAtoi with std::from_chars
  scripts/dev/local_ci.sh
  scripts/dev/local_release.sh
  scripts/dev/mesen2_check.py
  src/app/emu/mesen/mesen_socket_client.cc
Due: clang-tidy, cppcheck

fix: add missing absl/time/clock.h include
  src/app/editor/agent/agent_chat.cc
Due: clang-tidy, cppcheck

Fix CI build failures and stabilize release artifacts
  src/app/app.cmake
  src/app/app_core.cmake
  src/app/application.h
  src/app/emu/i_emulator.h
  src/app/service/grpc_support.cmake
  src/rom/CMakeLists.txt
Due: cppcheck

Fix CI/CD failures and stabilize release artifacts
  src/app/editor/agent/agent_ui_theme.h
  src/app/editor/editor_library.cmake
  src/app/emu/emu_library.cmake
  src/app/gui/core/agent_theme.cc
  src/app/gui/core/agent_theme.h
  src/app/gui/core/theme_manager.cc
  src/app/gui/core/theme_manager.h
  src/app/gui/core/ui_helpers.cc
  src/app/gui/core/ui_helpers.h
  src/app/gui/gui_library.cmake
  src/app/test/main_test.cc
  src/app/test/z3ed_test_suite.h
  src/zelda3/zelda3_library.cmake
Due: clang-tidy, cppcheck

Resolve circular dependencies and stabilize builds for 0.5.4
  src/CMakeLists.txt
  src/app/app.cmake
  src/app/app_core.cmake
  src/app/emu/emu_library.cmake
Due: none

feat: Add `MESEN2_SOCKET_PATH` environment variable support for Mesen2 socket discovery and connection, and update documentation.
  CLAUDE.md
  src/app/editor/agent/panels/oracle_state_library_panel.cc
  src/app/emu/mesen/mesen_socket_client.cc
  src/cli/handlers/mesen_handlers.cc
  tools/mesen2/README.md
Due: clang-tidy, cppcheck

Fix circular dependencies and build failures for 0.5.5
  src/app/app.cmake
Due: none

Fix compilation error in mesen_handlers.cc
  src/cli/handlers/mesen_handlers.cc
Due: clang-tidy, cppcheck

Merge master and fix build (absl::SimpleHexAtoi)
  CLAUDE.md
  src/app/app.cmake
  src/app/editor/agent/panels/oracle_state_library_panel.cc
  src/app/emu/mesen/mesen_socket_client.cc
  src/cli/handlers/mesen_handlers.cc
  tools/mesen2/README.md
Due: clang-tidy, cppcheck

Merge master and fix build
  src/app/app.cmake
  src/app/test/test.cmake
Due: none

Fix linker error in yaze_grpc_support
  src/app/service/grpc_support.cmake
Due: none

Fix Windows build failure in Mesen socket client
  src/app/emu/mesen/mesen_socket_client.cc
Due: clang-tidy, cppcheck

feat(dungeon): ZScream parity save paths and validate-yaze workflow
  CMakeLists.txt
  docs/internal/README.md
  docs/internal/architecture/dungeon_editor_system.md
  docs/internal/hand-off/HANDOFF_EDITOR_COMPARISON_AND_PLAN.md
  docs/public/usage/dungeon-editor.md
  docs/public/usage/zscream-validation.md
  scripts/ai/crash_dump.py
  scripts/validate-yaze.sh
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/editor_manager.cc
  src/zelda3/dungeon/dungeon_rom_addresses.h
  src/zelda3/dungeon/room.cc
  src/zelda3/dungeon/room.h
Due: clang-tidy, cppcheck

fix: resolve CI/CD failures across all platforms for v0.5.5
  .github/workflows/security.yml
  CMakeLists.txt
  homebrew/Formula/yaze.rb
  homebrew/Formula/z3ed.rb
  homebrew/README.md
  src/app/application.h
  src/app/editor/agent/agent_ui_theme.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/editor_manager.cc
  src/app/emu/mesen/mesen_socket_client.cc
  src/app/gfx/backend/irenderer.h
  src/zelda3/dungeon/room.cc
  src/zelda3/dungeon/room.h
  test/CMakeLists.txt
  test/integration/zelda3/dungeon_save_region_test.cc
  test/test.cmake
Due: clang-tidy, cppcheck

fix: disable remote automation in security scan, enable gRPC for z3ed agent
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix: z3ed agent CI uses YAZE_ENABLE_AI instead of Z3ED_AI compile def
  .github/workflows/ci.yml
Due: none

feat(message): full encode/decode CLI, org import/export, expanded bank support
  src/app/editor/message/message_data.cc
  src/app/editor/message/message_data.h
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/game/message_commands.cc
  src/cli/handlers/game/message_commands.h
  src/cli/handlers/tools/message_doctor_commands.cc
  test/unit/editor/message/message_data_test.cc
Due: clang-tidy, cppcheck

fix(message): prevent infinite loop in ReadAllTextData on expanded ROMs
  src/app/editor/message/message_data.cc
  src/app/editor/message/message_data.h
  src/cli/handlers/tools/message_doctor_commands.cc
Due: clang-tidy, cppcheck

fix(message): exempt whitespace-only lines from width validation
  src/app/editor/message/message_data.cc
Due: clang-tidy, cppcheck

Fix dungeon object validation and add dungeon mapping tools
  docs/internal/agents/coordination-board.md
  docs/internal/agents/dungeon-object-ux-parity-matrix.md
  docs/internal/agents/dungeon-object-validation-spec.md
  docs/internal/oracle/custom_collision_mapping.md
  scripts/dungeon_overview.py
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/object_selection.cc
  src/app/editor/dungeon/object_selection.h
  src/cli/cli_core.cmake
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/game/dungeon_graph_commands.cc
  src/cli/handlers/game/dungeon_graph_commands.h
  src/cli/handlers/game/dungeon_group_commands.cc
  src/cli/handlers/game/dungeon_group_commands.h
  src/cli/handlers/game/dungeon_map_commands.cc
  src/cli/handlers/game/dungeon_map_commands.h
  src/cli/handlers/tools/dungeon_object_validate_commands.cc
  src/cli/handlers/tools/dungeon_object_validate_commands.h
  src/zelda3/dungeon/draw_routines/downwards_routines.cc
  src/zelda3/dungeon/draw_routines/downwards_routines.h
  src/zelda3/dungeon/draw_routines/draw_routine_registry.h
  src/zelda3/dungeon/draw_routines/draw_routine_types.cc
  src/zelda3/dungeon/draw_routines/draw_routine_types.h
  src/zelda3/dungeon/draw_routines/rightwards_routines.cc
  src/zelda3/dungeon/draw_routines/rightwards_routines.h
  src/zelda3/dungeon/draw_routines/special_routines.cc
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_dimensions.h
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
  src/zelda3/dungeon/object_parser.cc
Due: clang-tidy, cppcheck

Add dungeon graph/discovery CLI tooling
  scripts/discover_rooms.py
  scripts/location_mapper.py
  scripts/profiles/__init__.py
  scripts/profiles/base.py
  scripts/profiles/detect.py
  scripts/profiles/oracle_of_secrets.py
  scripts/profiles/vanilla_alttp.py
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/game/dungeon_graph_commands.cc
  src/cli/handlers/game/dungeon_graph_commands.h
Due: clang-tidy, cppcheck

Add oracle location notes to mapper profiles
  scripts/location_mapper.py
  scripts/profiles/base.py
  scripts/profiles/oracle_of_secrets.py
Due: none

Improve dungeon UX and fix Single4x4 draw
  docs/internal/agents/dungeon-object-ux-parity-matrix.md
  docs/internal/agents/dungeon-object-validation-spec.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.h
  src/app/editor/dungeon/object_selection.cc
  src/app/editor/dungeon/object_selection.h
  src/app/editor/dungeon/panels/dungeon_room_matrix_panel.h
  src/app/editor/dungeon/panels/minecart_track_editor_panel.cc
  src/app/editor/dungeon/panels/minecart_track_editor_panel.h
  src/app/gui/app/editor_layout.cc
  src/app/gui/core/layout_helpers.cc
  src/app/gui/core/layout_helpers.h
  src/cli/handlers/game/dungeon_graph_commands.h
  src/zelda3/dungeon/object_drawer.cc
  test/CMakeLists.txt
  test/unit/dungeon_object_drawer_test.cc
  test/unit/gui/window_clamp_test.cc
  test/unit/object_selection_test.cc
Due: clang-tidy, cppcheck

Improve dungeon UI persistence and validation traces
  docs/internal/agents/dungeon-object-ux-parity-matrix.md
  docs/internal/agents/dungeon-object-validation-spec.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/editor_manager.cc
  src/app/editor/events/core_events.h
  src/app/editor/menu/activity_bar.cc
  src/app/editor/system/panel_manager.cc
  src/app/editor/system/panel_manager.h
  src/app/editor/ui/workspace_manager.cc
  src/app/gui/app/editor_layout.cc
  src/app/gui/app/editor_layout.h
  src/cli/handlers/tools/dungeon_object_validate_commands.cc
  src/cli/handlers/tools/dungeon_object_validate_commands.h
  test/CMakeLists.txt
  test/unit/gui/panel_window_test.cc
Due: clang-tidy, cppcheck

Fix 0xFEB bounds and start ZScream capture
  docs/internal/agents/dungeon-object-ux-parity-matrix.md
  docs/internal/agents/dungeon-object-validation-spec.md
  docs/internal/agents/zscream-capture-log.md
  src/zelda3/dungeon/object_dimensions.cc
  test/CMakeLists.txt
  test/unit/cli/dungeon_object_validate_test.cc
Due: clang-tidy, cppcheck

Add dungeon room header debug command
  docs/internal/agents/zscream-capture-log.md
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/game/dungeon_commands.cc
  src/cli/handlers/game/dungeon_commands.h
  src/cli/service/agent/tool_registration.cc
Due: clang-tidy, cppcheck

Update dungeon object test expectations
  test/unit/zelda3/dungeon/object_dimensions_test.cc
  test/unit/zelda3/dungeon/object_drawing_comprehensive_test.cc
Due: clang-tidy, cppcheck

fix(windows): reorder winsock2.h before afunix.h for ADDRESS_FAMILY
  src/app/emu/mesen/mesen_socket_client.cc
Due: clang-tidy, cppcheck

fix(agent): add missing absl/time includes to agent_editor.h
  src/app/editor/agent/agent_editor.h
Due: cppcheck

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
