Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

web: drive shell inventory from control api
  src/web/components/command_palette.js
  src/web/shell.html
  src/web/shell_ui.js
Due: none

web: share wasm asset packaging
  .github/workflows/web-build.yml
  scripts/build-wasm.sh
  scripts/package-wasm-assets.sh
Due: none

editor: canonicalize user settings under session
  src/app/editor/agent/agent_editor_dashboard.cc
  src/app/editor/agent/agent_editor_internal.h
  src/app/editor/agent/agent_editor_models.cc
  src/app/editor/agent/agent_ui_controller.cc
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.h
  src/app/editor/menu/activity_bar.cc
  src/app/editor/menu/menu_orchestrator.h
  src/app/editor/session_types.cc
  src/app/editor/system/command_palette_providers.cc
  src/app/editor/system/session/user_settings.cc
  src/app/editor/system/session/user_settings.h
  src/app/editor/system/session_coordinator.cc
  src/app/editor/system/shortcut_configurator.cc
  src/app/editor/ui/settings_panel.h
  test/unit/editor/theme_persistence_test.cc
  test/unit/editor/user_settings_layout_defaults_test.cc
Due: clang-tidy, cppcheck

wasm: align browser ai providers and prompts
  src/cli/service/ai/browser_ai_service.cc
  src/cli/service/ai/browser_ai_service.h
  src/cli/service/ai/service_factory_browser.cc
Due: clang-tidy, cppcheck

editor: move background command task into session
  src/app/editor/code/assembly_editor.h
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.h
  src/app/editor/system/session/background_command_task.cc
  src/app/editor/system/session/background_command_task.h
  test/unit/editor/background_command_task_test.cc
Due: clang-tidy, cppcheck

web: preserve halext bridge provider alias
  src/web/core/ai_manager.js
Due: none

editor: move project manager into session
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.h
  src/app/editor/menu/menu_orchestrator.cc
  src/app/editor/system/session/project_manager.cc
  src/app/editor/system/session/project_manager.h
  src/app/editor/ui/ui_coordinator.cc
  test/unit/editor/project_manager_validator_test.cc
Due: clang-tidy, cppcheck

editor: move rom file manager into session
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.h
  src/app/editor/menu/menu_orchestrator.cc
  src/app/editor/system/rom_lifecycle_manager.cc
  src/app/editor/system/rom_lifecycle_manager.h
  src/app/editor/system/session/rom_file_manager.cc
  src/app/editor/system/session/rom_file_manager.h
  src/app/editor/system/shortcut_configurator.cc
  src/app/editor/ui/ui_coordinator.cc
  test/unit/editor/rom_file_manager_test.cc
Due: clang-tidy, cppcheck

editor: move rom lifecycle manager into session
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.h
  src/app/editor/system/session/rom_lifecycle_manager.cc
  src/app/editor/system/session/rom_lifecycle_manager.h
Due: clang-tidy, cppcheck

editor: move hack manifest validation into session
  src/app/editor/editor_library.cmake
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/system/session/hack_manifest_save_validation.cc
  src/app/editor/system/session/hack_manifest_save_validation.h
Due: clang-tidy, cppcheck

web: forward structured agent tool calls
  src/web/core/ai_manager.js
Due: none

editor: move extension manager into session
  src/app/editor/editor_library.cmake
  src/app/editor/system/session/extension_manager.cc
  src/app/editor/system/session/extension_manager.h
  src/ios/yaze.xcodeproj/project.pbxproj
Due: clang-tidy, cppcheck

web: add ai manager driver regression
  src/web/tests/ai_manager_driver_test.js
Due: none

editor: canonicalize shell coordinator paths
  src/app/editor/shell/coordinator/recent_projects_model.cc
  src/app/editor/shell/coordinator/recent_projects_model.h
  src/app/editor/shell/coordinator/ui_coordinator.cc
  src/app/editor/shell/coordinator/ui_coordinator.h
  src/app/editor/shell/coordinator/workspace_manager.cc
  src/app/editor/shell/coordinator/workspace_manager.h
  src/app/editor/system/session/default_editor_factories.cc
  src/app/editor/system/session/default_editor_factories.h
  src/app/editor/system/session/session_coordinator.cc
  src/app/editor/system/session/session_coordinator.h
Due: clang-tidy, cppcheck

Editor: Graphics and Assembly usable before a ROM is loaded
  docs/internal/architecture/editor-ui-module-pattern.md
  docs/public/reference/changelog.md
  src/app/editor/editor.h
  src/app/editor/editor_manager.cc
  src/app/editor/graphics/graphics_editor.cc
  src/app/editor/graphics/graphics_editor.h
  src/app/editor/shell/coordinator/welcome_screen.cc
  src/app/editor/shell/coordinator/welcome_screen.h
  src/app/editor/system/editor_registry.cc
  src/app/editor/system/editor_registry.h
  src/app/editor/system/session_coordinator.cc
  src/app/editor/ui/ui_coordinator.cc
Due: clang-tidy, cppcheck

Core: track recent-files list generation and dungeon palette size
  src/core/project.cc
  src/core/project.h
  src/zelda3/game_data.h
Due: clang-tidy, cppcheck

App: tighten emulator paths, theme styling, and CLI service stubs
  src/app/emu/emulator.cc
  src/app/gui/core/style.cc
  src/app/gui/widgets/asset_browser.cc
  src/app/test/core_systems_test_suite.h
  src/cli/service/agent/conversational_agent_service.h
  src/cli/service/ai/service_factory_stub.cc
  src/cli/service/resources/command_handler.h
Due: clang-tidy, cppcheck

Tests: register gfx group, graphics window IDs, and emulator unit suites
  test/CMakeLists.txt
  test/unit/editor/gfx_group_workspace_state_test.cc
  test/unit/editor/graphics_editor_window_ids_test.cc
  test/unit/emu/emulator_test.cc
Due: clang-tidy, cppcheck

Docs: internal handoffs, guardrails, and graphics architecture updates
  docs/internal/agents/overworld-tile16-ui-migration-handoff-2026-04-19.md
  docs/internal/architecture/graphics_system_architecture.md
  docs/internal/architecture/refactor-quality-guardrails.md
  docs/internal/archive/reports/dungeon_object_validation_report.csv
  docs/internal/archive/reports/dungeon_object_validation_report.json
  docs/internal/hand-off/HANDOFF_DUNGEON_RENDERING_REGRESSION_TRIAGE_2026-04-16.md
  docs/internal/hand-off/HANDOFF_IMGUI_DOCKING_BUMP_2026-04.md
  docs/internal/hand-off/HANDOFF_PRESET_BUILD_ROOT_2026-04-06.md
  docs/internal/plans/dungeon-object-rendering-parity-2026-04.md
Due: none

Chore: sample asm, z3disasm helper, gitignore, and legacy header shims
  .gitignore
  examples/asm/hello.asm
  scripts/z3disasm
  src/app/editor/system/session_coordinator.h
  src/app/editor/ui/ui_coordinator.h
Due: cppcheck

CI: run pipelines on ImGui updates and refresh WASM cache keys
  .github/workflows/ci.yml
  .github/workflows/wasm-dev.yml
  .github/workflows/web-build.yml
Due: none

editor: restore legacy editor panel alias shim
  src/app/editor/system/editor_panel.h
Due: cppcheck

ci: allow *_panel WindowContent shells under ui/window in guardrails
  scripts/dev/editor-guardrails.sh
Due: none

build: prefer homebrew grpc headers on macos
  cmake/dependencies/grpc.cmake
  src/app/service/grpc_support.cmake
Due: none

build: restore missing editor and emulator symbols
  src/app/editor/editor_library.cmake
  src/app/emu/emulator.cc
Due: clang-tidy, cppcheck

editor: collapse legacy panel headers into shims
  src/app/editor/agent/panels/agent_automation_panel.h
  src/app/editor/agent/panels/agent_configuration_panel.h
  src/app/editor/agent/panels/agent_editor_panels.h
  src/app/editor/agent/panels/agent_knowledge_panel.h
  src/app/editor/agent/panels/agent_rom_sync_panel.h
  src/app/editor/agent/panels/agent_z3ed_command_panel.h
  src/app/editor/agent/panels/feature_flag_editor_panel.h
  src/app/editor/agent/panels/manifest_panel.h
  src/app/editor/agent/panels/mesen_debug_panel.h
  src/app/editor/agent/panels/mesen_screenshot_panel.h
  src/app/editor/agent/panels/oracle_state_library_panel.h
  src/app/editor/agent/panels/sram_viewer_panel.h
  src/app/editor/code/panels/assembly_editor_panels.h
  src/app/editor/message/panels/message_editor_panels.h
  src/app/editor/music/panels/music_assembly_panel.h
  src/app/editor/music/panels/music_audio_debug_panel.h
  src/app/editor/music/panels/music_help_panel.h
  src/app/editor/music/panels/music_instrument_editor_panel.h
  src/app/editor/music/panels/music_piano_roll_panel.h
  src/app/editor/music/panels/music_playback_control_panel.h
  src/app/editor/music/panels/music_sample_editor_panel.h
  src/app/editor/music/panels/music_song_browser_panel.h
  src/app/editor/sprite/panels/sprite_editor_panels.h
Due: cppcheck

ci: expand editor-guardrails allowlist for 0.7.1 reorg
  scripts/dev/editor-guardrails.sh
Due: none

fix(cli): make tool_registry usage split compatible with older Abseil
  src/cli/service/agent/tool_registry.cc
Due: clang-tidy, cppcheck

test: repair stale references from 0.7.1 editor reorg
  test/integration/overworld_editor_test.h
  test/unit/editor/content_registry_workflow_history_test.cc
  test/unit/editor/map_properties_context_menu_test.cc
Due: clang-tidy, cppcheck

docs: handoff plan for Initiative B.5 registry consolidation
  docs/internal/agents/initiative-b5-registry-consolidation-handoff-2026-04-19.md
Due: none

release(0.7.1): unblock CI by resolving five test regressions
  src/app/editor/overworld/map_properties.cc
  src/app/editor/overworld/map_properties.h
  src/app/emu/emulator.cc
  test/unit/editor/user_settings_layout_defaults_test.cc
  test/unit/zelda3/dungeon/object_dimensions_test.cc
Due: clang-tidy, cppcheck

ci: align workflows and scripts with per-preset binaryDir
  .github/actions/build-project/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/web-build.yml
  scripts/build-wasm.sh
Due: none

ci: point run-tests at the build preset's binaryDir
  .github/actions/run-tests/action.yml
Due: none

fix: replace absl::StrContainsIgnoreCase with local case-insensitive search
  src/app/editor/hack/workflow/hack_workflow_backend_factory.cc
Due: clang-tidy, cppcheck

chore: bump VERSION to 0.7.2 post-0.7.1 tag
  CHANGELOG.md
  CMakeLists.txt
  VERSION
  inc/yaze_version.h
  src/ios/iOS/Info-iOS.plist
Due: cppcheck

build(wasm): exclude stale yaze_debug_inspector.cc
  src/app/app.cmake
Due: none

build(wasm): include project_graph_tool.cc in yaze_agent WASM source list
  src/cli/agent.cmake
Due: none

z3ed: resolve binaries under build/presets/<preset>/bin/
  scripts/z3ed
Due: none
