Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

fix(dungeon): match Vitreous goo parity
  src/zelda3/dungeon/draw_routines/draw_routine_registry.cc
  src/zelda3/dungeon/draw_routines/draw_routine_registry.h
  src/zelda3/dungeon/draw_routines/special_routines.cc
  src/zelda3/dungeon/draw_routines/special_routines.h
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_parser.cc
  test/unit/zelda3/dungeon/object_dimensions_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/object_drawing_comprehensive_test.cc
  test/unit/zelda3/object_parser_test.cc
Due: clang-tidy, cppcheck

fix: bound legacy pre-push builds
  docs/internal/testing/pre-push-checklist.md
  scripts/agents/test-build-parallelism-policy.sh
  scripts/pre-push-test.sh
Due: none

docs: bound remaining pre-push examples
  docs/internal/testing/pre-push-checklist.md
Due: none

fix: keep pre-push validation running under errexit
  scripts/agents/test-build-parallelism-policy.sh
  scripts/pre-push-test.sh
Due: none

Load the full Turtle Rock pipe tile payload (#198)
  src/zelda3/dungeon/object_parser.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/object_drawing_comprehensive_test.cc
  test/unit/zelda3/object_parser_test.cc
Due: clang-tidy, cppcheck

Correct fixed-payload dungeon object parity (#200)
  src/zelda3/dungeon/draw_routines/draw_routine_registry.cc
  src/zelda3/dungeon/draw_routines/draw_routine_registry.h
  src/zelda3/dungeon/draw_routines/special_routines.cc
  src/zelda3/dungeon/draw_routines/special_routines.h
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_parser.cc
  test/unit/zelda3/dungeon/object_dimensions_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/object_drawing_comprehensive_test.cc
  test/unit/zelda3/object_parser_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): unblock D6 qualification gates
  src/zelda3/dungeon/track_collision_generator.cc
  test/integration/zelda3/oracle_smoke_check_integration_test.cc
  test/unit/zelda3/dungeon/track_collision_generator_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): unblock D6 qualification gates (#201)
  src/zelda3/dungeon/track_collision_generator.cc
  test/integration/zelda3/oracle_smoke_check_integration_test.cc
  test/unit/zelda3/dungeon/track_collision_generator_test.cc
Due: clang-tidy, cppcheck

fix(test): make GUI harness actions authoritative
  src/app/controller.cc
  src/app/editor/menu/menu_builder.cc
  src/app/editor/shell/feedback/popup_manager.cc
  src/app/service/grpc_support.cmake
  src/app/service/imgui_test_harness_internal.h
  src/app/service/imgui_test_harness_service.cc
  test/CMakeLists.txt
  test/integration/imgui_test_harness_logic_test.cc
Due: clang-tidy, cppcheck

feat(dungeon): expose stable D6 edit controls
  src/app/editor/dungeon/inspectors/door_editor_content.cc
  src/app/editor/dungeon/inspectors/palette_editor_content.h
  src/app/editor/dungeon/interaction/door_interaction_handler.cc
  src/app/editor/dungeon/interaction/item_interaction_handler.cc
  src/app/editor/dungeon/interaction/item_interaction_handler.h
  src/app/editor/dungeon/ui/window/item_editor_panel.h
  src/app/editor/dungeon/ui/window/sprite_editor_panel.h
  src/app/editor/dungeon/workspace/dungeon_workbench_content.cc
  src/app/gui/core/input.cc
  src/app/gui/core/input.h
  src/app/gui/widgets/palette_editor_widget.cc
  test/integration/palette_manager_test.cc
  test/unit/editor/sprite_door_handler_test.cc
  test/unit/gui/property_inspector_test.cc
Due: clang-tidy, cppcheck

test(dungeon): add D6 GUI save qualification
  scripts/agents/run-d6-gui-qualification.sh
  test/fixtures/gui/d6_edit_and_save.json
  test/fixtures/gui/d6_reopen_assert.json
Due: none

fix(test): make D6 HTTP evidence optional
  scripts/agents/run-d6-gui-qualification.sh
Due: none

fix(test): give D6 readiness probe ROM context
  scripts/agents/run-d6-gui-qualification.sh
Due: none

fix(test): make GUI harness runtime-safe
  cmake/dependencies/imgui.cmake
  scripts/agents/run-d6-gui-qualification.sh
  src/app/application.cc
  src/app/controller.cc
  src/app/controller.h
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_editor.h
  src/app/editor/agent/agent_editor_models.cc
  src/app/gui/automation/widget_id_registry.cc
  src/app/gui/automation/widget_id_registry.h
  src/app/platform/wasm/wasm_control_api.cc
  src/app/service/imgui_test_harness_service.cc
  src/app/testing/test_manager.cc
  src/app/testing/test_manager.h
  test/integration/imgui_test_harness_logic_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): close D6 save qualification gaps
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/inspectors/object_editor_content.cc
  src/app/editor/dungeon/ui/window/water_fill_panel.h
  src/app/editor/dungeon/workspace/dungeon_workbench_content.cc
  src/app/editor/dungeon/workspace/dungeon_workbench_content.h
  src/app/editor/editor_manager.cc
  src/core/project.cc
  src/zelda3/dungeon/room.cc
  test/unit/core/project_paths_test.cc
  test/unit/editor/editor_manager_rom_write_policy_test.cc
  test/unit/zelda3/dungeon/dungeon_save_test.cc
Due: clang-tidy, cppcheck

test(dungeon): qualify D6 GUI save and reopen
  scripts/agents/run-d6-gui-qualification.sh
  src/app/service/imgui_test_harness_service.cc
  test/fixtures/gui/d6_edit_and_save.json
  test/fixtures/gui/d6_reopen_assert.json
  test/integration/imgui_test_harness_logic_test.cc
Due: clang-tidy, cppcheck

fix(test): avoid Windows Yield macro collision
  src/app/service/imgui_test_harness_service.cc
Due: clang-tidy, cppcheck

test(editor): explicitly load the saved dungeon editor
  test/unit/editor/editor_manager_rom_write_policy_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): close editor stabilization gaps
  src/app/editor/dungeon/interaction/sprite_interaction_handler.cc
  src/app/editor/dungeon/ui/window/sprite_editor_panel.h
  src/app/editor/dungeon/workspace/dungeon_workbench_content.cc
  src/app/editor/dungeon/workspace/dungeon_workbench_content.h
  test/unit/editor/dungeon_workbench_content_test.cc
  test/unit/editor/sprite_door_handler_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): close editor stabilization gaps (#203)
  src/app/editor/dungeon/interaction/sprite_interaction_handler.cc
  src/app/editor/dungeon/ui/window/sprite_editor_panel.h
  src/app/editor/dungeon/workspace/dungeon_workbench_content.cc
  src/app/editor/dungeon/workspace/dungeon_workbench_content.h
  test/unit/editor/dungeon_workbench_content_test.cc
  test/unit/editor/sprite_door_handler_test.cc
Due: clang-tidy, cppcheck

fix(macOS): route Cocoa Quit through app shutdown
  scripts/agents/README.md
  scripts/agents/test-installed-macos-quit.sh
  src/app/platform/app_delegate.mm
Due: none

fix(macOS): route Cocoa Quit through app shutdown (#204)
  scripts/agents/README.md
  scripts/agents/test-installed-macos-quit.sh
  src/app/platform/app_delegate.mm
Due: none

fix(project): harden portable bundle compatibility
  docs/public/usage/yazeproj-bundles.md
  src/cli/handlers/rom/project_bundle_verify_commands.cc
  src/core/project.cc
  test/unit/cli/project_bundle_verify_test.cc
  test/unit/core/project_paths_test.cc
Due: clang-tidy, cppcheck

fix(ios): publish ROM checksum in project manifests
  src/ios/iOS/YazeProjectDocument.swift
  src/ios/iOS/YazeRomChecksum.swift
  src/ios/project.yml
Due: none

test(ios): verify exported bundle checksums
  src/ios/iOS/YazeProjectBundle.swift
  src/ios/iOS/YazeRomChecksum.swift
  test/ios/yaze_project_bundle_checksum_harness.swift
Due: none

feat(dungeon): add routine-family symbology badges to object selector
  src/app/editor/dungeon/dungeon_object_selector.cc
  src/app/editor/dungeon/dungeon_object_selector.h
  src/zelda3/dungeon/draw_routines/draw_routine_symbology.cc
  src/zelda3/dungeon/draw_routines/draw_routine_symbology.h
  src/zelda3/zelda3_library.cmake
  test/CMakeLists.txt
  test/unit/editor/dungeon_object_selector_palette_test.cc
  test/unit/zelda3/dungeon/draw_routine_symbology_test.cc
Due: clang-tidy, cppcheck

test(dungeon): pin visual parity for rails, BigHole, TableRock, WaterOverlay
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

test(dungeon): add ROM-backed parity ladder for visual gap objects
  scripts/agents/audit-dungeon-visual-parity.sh
  test/integration/zelda3/dungeon_object_rom_validation_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/room_object_rom_parity_test.cc
Due: clang-tidy, cppcheck

test(dungeon): refresh room goldens after local ROM-backed audit
  scripts/agents/audit-dungeon-visual-parity.sh
  test/fixtures/visual/dungeon/README.md
  test/integration/zelda3/dungeon_room_regression_fixtures.h
Due: cppcheck

test(dungeon): add Mesen TableRock ROI baseline for room 0x065
  test/fixtures/visual/dungeon/README.md
  test/fixtures/visual/dungeon/vanilla_room_065_mesen_tablerock_32x32.png
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
Due: clang-tidy, cppcheck

test(dungeon): add Mesen BigHole ROI baseline for room 0x031
  test/fixtures/visual/dungeon/README.md
  test/fixtures/visual/dungeon/vanilla_room_031_mesen_bighole_32x32.png
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
Due: clang-tidy, cppcheck

test(dungeon): add Mesen long-rail ROI baselines for room 0x007
  test/fixtures/visual/dungeon/README.md
  test/fixtures/visual/dungeon/vanilla_room_007_mesen_hrail_32x16.png
  test/fixtures/visual/dungeon/vanilla_room_007_mesen_vrail_16x32.png
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
Due: clang-tidy, cppcheck

test(dungeon): cover room 0x076 west door and water overlay
  test/fixtures/visual/dungeon/README.md
  test/fixtures/visual/dungeon/vanilla_room_076_mesen_west_door_24x32.png
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
Due: clang-tidy, cppcheck

test(dungeon): fix parity audit portability and coverage
  scripts/agents/audit-dungeon-visual-parity.sh
  test/integration/zelda3/dungeon_room_regression_fixtures.h
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/room_object_rom_parity_test.cc
Due: clang-tidy, cppcheck

test(dungeon): pin visual parity for rails, BigHole, TableRock, WaterOverlay (#210)
  scripts/agents/audit-dungeon-visual-parity.sh
  test/fixtures/visual/dungeon/README.md
  test/fixtures/visual/dungeon/vanilla_room_007_mesen_hrail_32x16.png
  test/fixtures/visual/dungeon/vanilla_room_007_mesen_vrail_16x32.png
  test/fixtures/visual/dungeon/vanilla_room_031_mesen_bighole_32x32.png
  test/fixtures/visual/dungeon/vanilla_room_065_mesen_tablerock_32x32.png
  test/fixtures/visual/dungeon/vanilla_room_076_mesen_west_door_24x32.png
  test/integration/zelda3/dungeon_object_rom_validation_test.cc
  test/integration/zelda3/dungeon_room_regression_fixtures.h
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/room_object_rom_parity_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): correct door layering and editor interactions
  docs/internal/agents/dungeon-object-rendering-spec.md
  src/app/editor/dungeon/dungeon_canvas_connected_view.cc
  src/app/editor/dungeon/dungeon_canvas_overlays.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/dungeon_object_interaction.h
  src/app/editor/dungeon/inspectors/door_editor_content.cc
  src/app/editor/dungeon/inspectors/object_editor_content.cc
  src/app/editor/dungeon/interaction/door_interaction_handler.cc
  src/app/editor/dungeon/interaction/door_interaction_handler.h
  src/app/editor/dungeon/interaction/interaction_context.h
  src/app/editor/dungeon/interaction/tile_object_handler.cc
  src/app/editor/dungeon/object_selection.cc
  src/app/editor/dungeon/object_selection.h
  src/app/editor/dungeon/workspace/dungeon_workbench_content.cc
  src/app/editor/dungeon/workspace/dungeon_workbench_content.h
  src/app/editor/system/commands/shortcut_configurator.cc
  src/app/editor/system/commands/shortcut_manager.cc
  src/cli/handlers/game/dungeon_graph_commands.cc
  src/zelda3/dungeon/door_position.cc
  src/zelda3/dungeon/door_types.h
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
  src/zelda3/dungeon/object_layer_semantics.h
  src/zelda3/dungeon/room.cc
  test/integration/zelda3/dungeon_room_regression_fixtures.h
  test/unit/editor/dungeon_canvas_viewer_navigation_test.cc
  test/unit/editor/dungeon_workbench_content_test.cc
  test/unit/editor/shortcut_configurator_test.cc
  test/unit/editor/shortcut_manager_test.cc
  test/unit/editor/sprite_door_handler_test.cc
  test/unit/editor/tile_object_handler_test.cc
  test/unit/zelda3/dungeon/door_position_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/object_layer_semantics_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): synchronize layered rendering and simplify workbench
  scripts/agents/audit-dungeon-visual-parity.sh
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/layout/layout_manager.cc
  src/app/editor/layout/layout_manager.h
  src/app/editor/layout/layout_presets.cc
  src/app/editor/system/session/user_settings.cc
  src/app/editor/system/session/user_settings.h
  src/app/editor/system/workspace/editor_activator.cc
  src/app/editor/system/workspace/editor_activator.h
  src/util/log.h
  src/zelda3/dungeon/draw_routines/special_routines.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
  src/zelda3/dungeon/object_layer_semantics.h
  src/zelda3/dungeon/room.cc
  src/zelda3/dungeon/room.h
  src/zelda3/dungeon/room_layer_manager.cc
  src/zelda3/dungeon/room_layer_manager.h
  src/zelda3/dungeon/room_layout.cc
  test/fixtures/visual/dungeon/README.md
  test/integration/zelda3/dungeon_room_regression_fixtures.h
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
  test/integration/zelda3/dungeon_room_render_parity_test.cc
  test/unit/editor/dungeon_layout_defaults_test.cc
  test/unit/editor/editor_activator_test.cc
  test/unit/editor/editor_manager_test.cc
  test/unit/editor/layout/layout_manager_dock_tree_test.cc
  test/unit/editor/layout_manager_persistence_test.cc
  test/unit/editor/layout_presets_test.cc
  test/unit/editor/minecart_track_editor_panel_test.cc
  test/unit/editor/tile_object_handler_test.cc
  test/unit/editor/user_settings_layout_defaults_test.cc
  test/unit/zelda3/dungeon/custom_object_room_render_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/object_layer_semantics_test.cc
  test/unit/zelda3/dungeon/room_layer_manager_test.cc
Due: clang-tidy, cppcheck

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
