Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

core: canonicalize story graph references to stable ids
  docs/internal/agents/coordination-board.md
  src/core/story_event_graph.cc
  test/unit/core/story_event_graph_test.cc
Due: clang-tidy, cppcheck

dungeon: centralize rom region guardrail checks
  docs/internal/agents/coordination-board.md
  src/app/editor/dungeon/panels/custom_collision_panel.h
  src/app/editor/dungeon/panels/water_fill_panel.h
  src/app/editor/editor_manager.cc
  src/zelda3/dungeon/dungeon_rom_addresses.h
  src/zelda3/dungeon/room.cc
  test/CMakeLists.txt
  test/unit/zelda3/dungeon/dungeon_rom_addresses_guardrail_test.cc
Due: clang-tidy, cppcheck

wip: continue ceiling/pit visibility investigation with handoff
  docs/internal/agents/coordination-board.md
  docs/internal/archive/completed_features/dungeon-palette-fix-plan-2025-12.md
  docs/internal/archive/handoffs/dungeon-object-rendering-phase4-handoff-2025-12.md
  docs/internal/archive/handoffs/overworld-refactor-handoff-2025-12.md
  docs/internal/archive/plans/architecture_refactor_v1-2025-12.md
  docs/internal/archive/plans/canvas-slimming-plan-2025-12.md
  docs/internal/archive/plans/cli-ux-proposals-2025-12.md
  docs/internal/archive/plans/comprehensive-test-and-cli-plan-2025-12.md
  docs/internal/archive/plans/dockbuilder-default-layouts-2025-12.md
  docs/internal/archive/plans/dungeon-geometry-sidecar-2025-12.md
  docs/internal/archive/plans/dungeon-object-rendering-master-plan-2025-12.md
  docs/internal/archive/plans/editor-ui-refactor-2025-12.md
  docs/internal/archive/plans/initiative-glfw-ios-backend-2025-12.md
  docs/internal/archive/plans/startup-ui-flow-refresh-2025-12.md
  docs/internal/archive/plans/tests-binary-ux-proposals-2025-12.md
  docs/internal/archive/plans/ui-infrastructure-proposals-2025-12.md
  docs/internal/archive/plans/ui_ux_improvement-2025-12.md
  docs/internal/archive/plans/web_runtime_refactor-2025-12.md
  docs/internal/archive/plans/yaze-app-ux-proposals-2025-12.md
  docs/internal/archive/research/composite-layer-system-2025-12.md
  docs/internal/archive/research/dungeon-layer-compositing-research-2025-12.md
  docs/internal/hand-off/HANDOFF_CEILING_PIT_VISIBILITY_2026-02-11.md
  src/zelda3/dungeon/object_drawer.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

docs: bump version to v0.6.0 and fix documentation accuracy
  CHANGELOG.md
  CMakeLists.txt
  README.md
  ROADMAP.md
  STATUS.md
  VERSION
  cmake/toolchains/windows-msvc.cmake
  docs/internal/architecture/undo_redo_system.md
  docs/internal/roadmap.md
  docs/public/reference/changelog.md
  docs/public/reference/feature-coverage-report.md
  docs/public/release-notes.md
  homebrew/README.md
  inc/yaze_version.h
  src/app/gfx/render/background_buffer.cc
Due: clang-tidy, cppcheck

cli: add ROM-safe JSON import/export for dungeon collision data
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/command_handlers.h
  src/cli/handlers/command_handlers_browser.cc
  src/cli/handlers/game/dungeon_collision_commands.cc
  src/cli/handlers/game/dungeon_collision_commands.h
  src/cli/service/agent/tool_registration.cc
  src/cli/service/agent/tool_schemas.h
  test/CMakeLists.txt
  test/unit/cli/dungeon_collision_json_commands_test.cc
Due: clang-tidy, cppcheck

dungeon: add object-layer guardrails and save-time validation
  docs/internal/agents/coordination-board.md
  src/app/editor/dungeon/interaction/tile_object_handler.cc
  src/zelda3/dungeon/dungeon_validator.cc
  src/zelda3/dungeon/dungeon_validator.h
  test/CMakeLists.txt
  test/unit/editor/tile_object_handler_test.cc
  test/unit/zelda3/dungeon/dungeon_validator_test.cc
Due: clang-tidy, cppcheck

docs: rewrite roadmap with parallel tracks and ZScream parity
  PROJECT.toml
  README.md
  docs/internal/roadmap.md
  docs/public/reference/feature-coverage-report.md
Due: none

cli: add safety preflight/report guardrails for dungeon JSON imports
  docs/internal/agents/coordination-board.md
  docs/internal/agents/rom-safety-guardrails.md
  src/cli/handlers/game/dungeon_collision_commands.cc
  src/cli/handlers/game/dungeon_collision_commands.h
  src/cli/service/agent/tool_registration.cc
  src/cli/service/agent/tool_schemas.h
  test/unit/cli/dungeon_collision_json_commands_test.cc
Due: clang-tidy, cppcheck

graphics: migrate undo/redo to unified UndoManager, remove legacy stacks
  src/app/editor/graphics/graphics_editor_state.h
  src/app/editor/graphics/pixel_editor_panel.cc
Due: clang-tidy, cppcheck

mesen: implement event subscription loop with dedicated socket
  docs/internal/agents/coordination-board.md
  src/app/emu/mesen/mesen_socket_client.cc
  src/app/emu/mesen/mesen_socket_client.h
  test/CMakeLists.txt
  test/unit/emu/mesen_socket_client_test.cc
Due: clang-tidy, cppcheck

oracle: wire progression dashboard to mesen event sync
  docs/internal/agents/coordination-board.md
  src/app/editor/oracle/panels/progression_dashboard_panel.h
  src/app/emu/mesen/mesen_socket_client.cc
  src/app/emu/mesen/mesen_socket_client.h
  test/unit/emu/mesen_socket_client_test.cc
Due: clang-tidy, cppcheck

oracle: add live mesen sync to story event graph panel
  docs/internal/agents/coordination-board.md
  src/app/editor/oracle/panels/story_event_graph_panel.h
Due: cppcheck

panel-finder: add fuzzy scoring, MRU ordering, touch/iOS support
  src/app/editor/system/command_palette.cc
  src/app/editor/system/command_palette.h
  src/app/editor/system/panel_manager.h
  src/app/editor/ui/ui_coordinator.cc
  src/app/gui/core/layout_helpers.cc
Due: clang-tidy, cppcheck

oracle: add shared rom safety preflight gate for save/import
  docs/internal/agents/coordination-board.md
  docs/internal/agents/rom-safety-guardrails.md
  src/app/editor/editor_manager.cc
  src/cli/handlers/game/dungeon_collision_commands.cc
  src/zelda3/dungeon/oracle_rom_safety_preflight.cc
  src/zelda3/dungeon/oracle_rom_safety_preflight.h
  src/zelda3/dungeon/water_fill_zone.cc
  src/zelda3/zelda3_library.cmake
  test/CMakeLists.txt
  test/unit/cli/dungeon_collision_json_commands_test.cc
  test/unit/zelda3/dungeon/oracle_rom_safety_preflight_test.cc
Due: clang-tidy, cppcheck

ios: add haptic feedback, three-finger undo/redo, edge swipe sidebar, window clamping
  scripts/README.md
  scripts/xcodebuild-ios.sh
  src/app/platform/ios/ios_platform_state.h
  src/app/platform/ios/ios_platform_state.mm
  src/app/platform/ios/ios_window_backend.mm
  src/ios/main.mm
Due: cppcheck

ios: add software keyboard support, fix gesture key injection
  src/app/platform/ios/ios_platform_state.mm
  src/app/platform/ios/ios_window_backend.mm
  src/app/platform/view_controller.h
  src/ios/main.mm
Due: cppcheck

ios: harden deploy app discovery and document device workflow
  docs/internal/agents/coordination-board.md
  docs/public/build/quick-reference.md
  scripts/xcodebuild-ios.sh
Due: none

ios: collapse dock layout to center-only tabs on compact/touch
  src/app/editor/layout/layout_manager.cc
Due: clang-tidy, cppcheck

ios: fix safe area insets for all UI panels and dockspace
  src/app/controller.cc
  src/app/editor/menu/activity_bar.cc
  src/app/editor/menu/right_panel_manager.cc
  src/app/editor/menu/status_bar.cc
  src/app/editor/menu/status_bar.h
  src/app/editor/system/panel_manager.h
  src/app/editor/ui/ui_coordinator.cc
  src/app/platform/ios/ios_window_backend.mm
Due: clang-tidy, cppcheck

imgui-frontend-engineer: mark dungeon+iOS hardening initiative complete
  docs/internal/agents/coordination-board.md
Due: none

imgui-frontend-engineer: disambiguate dungeon workflow and tighten sidebar UX
  docs/internal/agents/coordination-board.md
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/panels/dungeon_workbench_panel.cc
  src/app/editor/dungeon/panels/dungeon_workbench_panel.h
  src/app/editor/menu/activity_bar.cc
Due: clang-tidy, cppcheck

zelda3: validate sprite relocation payload format
  src/zelda3/dungeon/room.cc
  test/unit/zelda3/dungeon/sprite_relocation_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: fix CI blockers for 0.6.0 stabilization
  docs/internal/agents/coordination-board.md
  scripts/z3ed
  src/app/editor/message/message_data.cc
  test/unit/zelda3/dungeon/water_fill_zone_test.cc
Due: clang-tidy, cppcheck

ai-infra-architect: harden z3ed dungeon edit command UX and safety
  docs/internal/agents/coordination-board.md
  scripts/agents/README.md
  src/cli/handlers/game/dungeon_edit_commands.cc
  src/cli/service/command_registry.cc
  test/unit/cli/command_registry_test.cc
  test/unit/cli/dungeon_edit_commands_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: add shared-slot sprite relocation regression test
  test/unit/zelda3/dungeon/sprite_relocation_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: fix abseil compatibility in message bank parsing
  src/app/editor/message/message_data.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: format dungeon CLI sources for CI
  src/cli/handlers/game/dungeon_edit_commands.cc
  test/unit/cli/command_registry_test.cc
  test/unit/cli/dungeon_edit_commands_test.cc
  test/unit/zelda3/dungeon/sprite_relocation_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: standardize local dev/sync/release workflow
  AGENTS.md
  docs/internal/agents/automation-workflows.md
  docs/internal/agents/coordination-board.md
  docs/internal/agents/dev-release-workflow.md
  docs/public/build/quick-reference.md
  scripts/agents/README.md
  scripts/dev/local-workflow.sh
  scripts/dev/release-version-check.sh
  scripts/install-git-hooks.sh
  scripts/pre-commit.sh
  scripts/yaze
  scripts/z3ed
Due: none

backend-infra-engineer: make dungeon panel error strings portable
  src/app/editor/dungeon/panels/custom_collision_panel.h
  src/app/editor/dungeon/panels/water_fill_panel.h
Due: cppcheck

backend-infra-engineer: gate grpc ssl support on OpenSSL availability
  src/app/net/net_library.cmake
  src/cli/agent.cmake
Due: none

backend-infra-engineer: keep linux yaze_test grpc deps during link
  src/app/app.cmake
Due: none

backend-infra-engineer: add selector-v2 widget_key plumbing
  src/app/service/imgui_test_harness_service.cc
  src/app/service/widget_discovery_service.cc
  src/app/test/test_recorder.cc
  src/app/test/test_recorder.h
  src/app/test/test_script_parser.cc
  src/app/test/test_script_parser.h
  src/cli/handlers/tools/gui_commands.cc
  src/cli/handlers/tools/gui_commands.h
  src/cli/service/gui/gui_automation_client.cc
  src/cli/service/gui/gui_automation_client.h
  src/protos/imgui_test_harness.proto
Due: clang-tidy, cppcheck

backend-infra-engineer: harden wasm smoke server and readiness checks
  .github/workflows/web-build.yml
  scripts/agents/playwright-wasm-smoke.spec.js
  scripts/agents/serve_static_with_coi.py
Due: none

backend-infra-engineer: avoid OpenSSL link in windows grpc agent mode
  src/cli/agent.cmake
Due: none

backend-infra-engineer: add fast multi-ipad deploy workflow
  scripts/README.md
  scripts/dev/ios-ipad-workflow.sh
Due: none

backend-infra-engineer: fix ios bundle duplicate message symbols
  src/cli/cli_core.cmake
Due: none

imgui-frontend-engineer: unify dungeon workflow mode switching
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/panels/dungeon_workbench_panel.cc
  src/app/editor/dungeon/widgets/dungeon_workbench_toolbar.cc
  src/app/editor/dungeon/widgets/dungeon_workbench_toolbar.h
  src/app/editor/editor_manager.cc
  src/app/editor/menu/activity_bar.cc
  src/app/editor/menu/activity_bar.h
  src/cli/handlers/tools/dungeon_object_validate_commands.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: add instant cached ipad deploy mode
  docs/public/build/quick-reference.md
  scripts/dev/ios-ipad-workflow.sh
Due: none

backend-infra-engineer: format dungeon workflow files for CI
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/panels/dungeon_workbench_panel.cc
  src/app/editor/dungeon/widgets/dungeon_workbench_toolbar.cc
  src/app/editor/dungeon/widgets/dungeon_workbench_toolbar.h
  src/app/editor/editor_manager.cc
  src/app/editor/menu/activity_bar.cc
  src/cli/handlers/tools/dungeon_object_validate_commands.cc
Due: clang-tidy, cppcheck

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
