Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

refactor: consolidate version to single source of truth
  CMakeLists.txt
  incl/yaze.h
  src/yaze_config.h.in
Due: cppcheck

fix: correct artifact path for release packaging and bump to v0.3.8
  .github/workflows/release.yml
  CMakeLists.txt
  incl/yaze.h
Due: cppcheck

backend-infra-engineer: Release v0.3.8 snapshot
  .github/workflows/release.yml
  CMakeLists.txt
  cmake/packaging.cmake
  cmake/packaging/cpack.cmake
  incl/yaze.h
  src/app/app.cmake
  src/app/app_core.cmake
  src/app/emu/emu.cmake
  src/util/platform_paths.cc
  src/yaze_config.h.in
Due: clang-tidy, cppcheck

fix: include z3ed and runtimes in release packages
  .github/workflows/release.yml
  cmake/packaging/cpack.cmake
Due: none

chore: add ai smoke checks and doctor command
  .github/workflows/ci.yml
  scripts/ai_smoke.sh
  src/app/emu/emu.cc
  src/cli/handlers/agent.cc
  src/cli/handlers/agent/general_commands.cc
  src/cli/service/ai/service_factory.cc
  src/cli/service/ai/service_factory.h
  src/cli/service/ai/service_factory_stub.cc
Due: clang-tidy, cppcheck

feat: add agent vision-analyze command for GUI screenshots
  src/cli/handlers/agent.cc
  src/cli/handlers/agent/general_commands.cc
Due: clang-tidy, cppcheck

chore: optional mac signing/notarization in release pipeline
  .github/workflows/release.yml
Due: none

fix: clean packages dir robustly in release
  .github/workflows/release.yml
Due: none

Implement debugger and disassembler features
  src/app/emu/debug/disassembler.cc
  src/app/emu/debug/disassembler.h
  src/app/emu/debug/step_controller.cc
  src/app/emu/debug/step_controller.h
  src/app/emu/debug/symbol_provider.cc
  src/app/emu/debug/symbol_provider.h
  src/cli/service/agent/disassembler_65816.cc
  src/cli/service/agent/disassembler_65816.h
  src/cli/service/agent/memory_debugging_example.cc
  src/cli/service/agent/rom_debug_agent.cc
  src/cli/service/agent/rom_debug_agent.h
  test/integration/memory_debugging_test.cc
  test/unit/cli/rom_debug_agent_test.cc
  test/unit/emu/disassembler_test.cc
  test/unit/emu/step_controller_test.cc
Due: clang-tidy, cppcheck

feat(agent): improve agent UI, tool dispatcher, and dev assist tools
  src/app/editor/agent/agent_chat_widget.cc
  src/app/editor/agent/agent_editor.cc
  src/app/editor/system/proposal_drawer.cc
  src/cli/agent.cmake
  src/cli/service/agent/dev_assist_agent.cc
  src/cli/service/agent/dev_assist_agent.h
  src/cli/service/agent/emulator_service_impl.cc
  src/cli/service/agent/emulator_service_impl.h
  src/cli/service/agent/tool_dispatcher.cc
  src/cli/service/agent/tool_dispatcher.h
  src/cli/service/agent/tools/build_tool.cc
  src/cli/service/agent/tools/build_tool.h
  src/cli/service/agent/tools/filesystem_tool.cc
  src/cli/service/agent/tools/filesystem_tool.h
  src/cli/service/agent/tools/memory_inspector_tool.cc
  src/cli/service/agent/tools/memory_inspector_tool.h
  src/cli/service/ai/prompt_builder.cc
  src/cli/tui/command_palette.cc
  test/integration/agent/tool_dispatcher_test.cc
Due: clang-tidy, cppcheck

infra(ci): overhaul CI/CD workflows and test infrastructure
  .github/actions/run-tests/action.yml
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  AGENTS.md
  CLAUDE.md
  cmake/options.cmake
  cmake/packaging/cpack.cmake
  docs/internal/CI-TEST-STRATEGY.md
  docs/internal/agents/CI-TEST-AUDIT-REPORT.md
  docs/internal/agents/ai-development-tools.md
  docs/internal/agents/ai-infrastructure-initiative.md
  docs/internal/agents/coordination-board.md
  docs/internal/agents/dev-assist-agent.md
  docs/internal/agents/filesystem-tool.md
  docs/internal/agents/initiative-test-slimdown.md
  docs/internal/agents/personas.md
  docs/internal/ci-and-testing.md
  docs/internal/test-suite-configuration.md
  docs/public/build/quick-reference.md
  src/app/test/test.cmake
  test/README.md
  test/test.cmake
Due: none

test(dungeon): add comprehensive E2E and integration test coverage
  docs/internal/testing/dungeon-gui-test-design.md
  src/zelda3/dungeon/room.cc
  test/e2e/dungeon_canvas_interaction_test.cc
  test/e2e/dungeon_canvas_interaction_test.h
  test/e2e/dungeon_e2e_tests.cc
  test/e2e/dungeon_e2e_tests.h
  test/e2e/dungeon_layer_rendering_test.cc
  test/e2e/dungeon_layer_rendering_test.h
  test/e2e/dungeon_object_drawing_test.cc
  test/e2e/dungeon_object_drawing_test.h
  test/e2e/dungeon_object_rendering_e2e_tests.cc
  test/e2e/dungeon_visual_verification_test.cc
  test/e2e/dungeon_visual_verification_test.h
  test/integration/zelda3/dungeon_editor_system_integration_test.cc
  test/integration/zelda3/dungeon_object_rendering_tests.cc
  test/integration/zelda3/dungeon_rendering_test.cc
  test/integration/zelda3/dungeon_room_test.cc
  test/unit/zelda3/dungeon/object_rendering_test.cc
Due: clang-tidy, cppcheck

fix(overworld): update overworld tests with fixes
  test/integration/zelda3/overworld_integration_test.cc
  test/unit/zelda3/overworld_test.cc
Due: clang-tidy, cppcheck

chore: misc cleanup, documentation, and unit test updates
  docs/internal/GEMINI_DEV_GUIDE.md
  docs/internal/ai-asm-debugging-guide.md
  docs/internal/architecture/dungeon_editor_system.md
  docs/internal/architecture/message_system.md
  docs/internal/architecture/music_system.md
  docs/internal/grpc-server-implementation.md
  docs/internal/plans/EDITOR_ROADMAPS_2025-11.md
  docs/internal/plans/GEMINI3_HANDOFF.md
  docs/internal/plans/ai-assisted-development-plan.md
  docs/internal/plans/ai-infra-improvements.md
  docs/internal/plans/app-dev-agent-tools.md
  docs/internal/plans/asm-debug-prompt-engineering.md
  docs/internal/plans/branch_organization.md
  docs/internal/plans/branch_recovery_plan.md
  docs/internal/plans/emulator-debug-api-design.md
  docs/internal/plans/message_editor_implementation_roadmap.md
  docs/internal/plans/message_system_improvement_plan.md
  docs/internal/plans/ui_modernization.md
  docs/internal/rom-service-phase5-summary.md
  docs/internal/zscream_analysis.md
  docs/public/developer/ai-assisted-development.md
  docs/public/index.md
  src/CMakeLists.txt
  src/app/controller.cc
  src/app/editor/code/project_file_editor.cc
  src/app/editor/editor_library.cmake
  src/app/gui/style/theme.h
  src/app/main.cc
  src/app/service/canvas_automation_service.cc
  src/app/service/imgui_test_harness_service.cc
  test/test_editor.cc
  test/test_utils.cc
  test/unit/filesystem_tool_test.cc
  test/unit/gfx/compression_test.cc
  test/unit/gfx/snes_palette_test.cc
  test/unit/gui/tile_selector_widget_test.cc
  test/unit/rom/rom_test.cc
  test/unit/tools/build_tool_test.cc
  test/unit/tools/filesystem_tool_test.cc
  test/yaze_test.cc
Due: clang-tidy, cppcheck

fix: resolve build errors from Gemini3 handoff
  src/app/editor/agent/agent_editor.cc
  src/app/gui/style/theme.h
  src/cli/agent.cmake
  src/cli/service/agent/emulator_service_impl.h
  src/cli/service/agent/rom_debug_agent.cc
  src/cli/service/agent/tools/memory_inspector_tool.cc
  src/protos/emulator_service.proto
Due: clang-tidy, cppcheck
