Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

fix(wasm): guard httplib.h and HTTP probing for Emscripten builds
  src/app/editor/agent/agent_editor.cc
Due: clang-tidy, cppcheck

style: clang-format dungeon_save_region_test.cc
  test/integration/zelda3/dungeon_save_region_test.cc
Due: clang-tidy, cppcheck

Add configurable dungeon overlays and minecart tooling
  docs/internal/agents/dungeon-object-validation-spec.md
  src/app/editor/code/project_file_editor.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_object_selector.cc
  src/app/editor/dungeon/dungeon_object_selector.h
  src/app/editor/dungeon/panels/minecart_track_editor_panel.cc
  src/app/editor/dungeon/panels/minecart_track_editor_panel.h
  src/app/editor/ui/settings_panel.cc
  src/core/project.cc
  src/core/project.h
  src/zelda3/dungeon/custom_collision.cc
  src/zelda3/dungeon/custom_collision.h
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/zelda3_library.cmake
Due: clang-tidy, cppcheck

Harden ImGui init for headless editor tests
  src/app/editor/editor_manager.cc
  src/app/editor/system/user_settings.cc
  src/app/editor/ui/ui_coordinator.cc
  src/app/editor/ui/welcome_screen.cc
  test/unit/editor/editor_manager_test.cc
Due: clang-tidy, cppcheck

Add Oracle sprite registry import for dungeon tooling
  scripts/profiles/oracle_of_secrets.py
  src/cli/handlers/game/dungeon_commands.cc
  src/cli/handlers/game/dungeon_commands.h
  src/zelda3/resource_labels.cc
  src/zelda3/resource_labels.h
Due: clang-tidy, cppcheck

Skip torch save when no torches and relax terminator test
  src/zelda3/dungeon/room.cc
  test/integration/dungeon_editor_test.cc
Due: clang-tidy, cppcheck

Document ZScream dungeon selection behaviors (code-skim)
  docs/internal/agents/zscream-capture-log.md
Due: none

fix(windows): use portable file_time duration instead of to_sys
  src/app/service/visual_service_impl.cc
Due: clang-tidy, cppcheck

style: clang-format agent_editor.cc
  src/app/editor/agent/agent_editor.cc
Due: clang-tidy, cppcheck

fix: clang-format compliance for Windows includes and agent_editor.h
  src/app/editor/agent/agent_editor.h
  src/app/emu/mesen/mesen_socket_client.cc
Due: clang-tidy, cppcheck

Respect layer filter for hover selection
  docs/internal/agents/dungeon-object-ux-parity-matrix.md
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/object_selection.h
Due: clang-tidy, cppcheck

Add track direction arrows to collision overlay
  docs/internal/agents/dungeon-object-validation-spec.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
Due: clang-tidy, cppcheck

fix: CollisionOverlayCache forward-reference and clang-format dungeon tooling
  src/app/editor/code/project_file_editor.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_object_selector.cc
  src/app/editor/dungeon/dungeon_object_selector.h
  src/app/editor/dungeon/panels/minecart_track_editor_panel.cc
  src/app/editor/dungeon/panels/minecart_track_editor_panel.h
  src/app/editor/system/user_settings.cc
  src/app/editor/ui/settings_panel.cc
  src/app/editor/ui/ui_coordinator.cc
  src/app/editor/ui/welcome_screen.cc
  src/cli/handlers/game/dungeon_commands.cc
  src/cli/handlers/game/dungeon_commands.h
  src/core/project.cc
  src/zelda3/dungeon/custom_collision.cc
  src/zelda3/dungeon/custom_collision.h
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/resource_labels.h
  test/integration/dungeon_editor_test.cc
  test/unit/editor/editor_manager_test.cc
Due: clang-tidy, cppcheck

fix: format object_selection.h and bump version to 0.5.6
  CMakeLists.txt
  README.md
  VERSION
  homebrew/README.md
  src/app/editor/dungeon/object_selection.h
Due: cppcheck

Update 0.5.6 release docs and version fallback
  CHANGELOG.md
  STATUS.md
  docs/internal/roadmap.md
  docs/public/reference/changelog.md
  docs/public/release-notes.md
  inc/yaze_version.h
Due: cppcheck

Bump Homebrew formulae to 0.5.6
  homebrew/Formula/yaze.rb
  homebrew/Formula/z3ed.rb
Due: none

Use YAZE_BUILD_GUI in Homebrew builds
  homebrew/Formula/yaze.rb
  homebrew/Formula/z3ed.rb
Due: none

Gate track arrows when collision IDs are customized
  docs/internal/agents/dungeon-object-validation-spec.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
Due: clang-tidy, cppcheck

Refine track arrow mapping for custom collision IDs
  docs/internal/agents/dungeon-object-validation-spec.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
Due: clang-tidy, cppcheck

fix(windows): use _popen/_pclose on Windows in oracle state library panel
  src/app/editor/agent/panels/oracle_state_library_panel.cc
Due: clang-tidy, cppcheck

Align rectangle selection start with ZScream
  src/app/editor/dungeon/dungeon_object_interaction.cc
Due: clang-tidy, cppcheck

Improve dungeon object context menu parity
  docs/internal/agents/dungeon-object-ux-parity-matrix.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.h
Due: clang-tidy, cppcheck

Add edit-graphics jump and Alt-drag duplicate
  docs/internal/agents/dungeon-object-ux-parity-matrix.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/interaction/interaction_mode.h
  src/app/editor/editor_manager.cc
  src/app/editor/graphics/graphics_editor.cc
  src/app/editor/graphics/graphics_editor.h
Due: clang-tidy, cppcheck

Add object search filter and align hit-testing
  CMakePresets.json
  docs/internal/agents/dungeon-object-ux-parity-matrix.md
  docs/internal/agents/zscream-capture-log.md
  docs/public/developer/dependency-architecture.md
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_selector.cc
  src/app/editor/dungeon/dungeon_object_selector.h
Due: clang-tidy, cppcheck

Fix macOS gRPC OpenSSL lookup and wasm smoke checks
  cmake/dependencies/grpc.cmake
  scripts/agents/playwright-wasm-smoke.spec.js
  src/web/tests/wasm_debug_api_tests.js
Due: none

Fill Homebrew sha256 for v0.5.6
  homebrew/Formula/yaze.rb
  homebrew/Formula/z3ed.rb
Due: none

graphics: highlight focused tile on edit
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/graphics/graphics_editor.cc
  src/app/editor/graphics/graphics_editor.h
  src/app/editor/graphics/graphics_editor_state.h
  src/app/editor/graphics/pixel_editor_panel.cc
  src/app/editor/graphics/pixel_editor_panel.h
Due: clang-tidy, cppcheck

messages: add bundle import/export and CLI docs
  docs/public/index.md
  docs/public/reference/message-bundle-format.md
  docs/public/reference/z3ed-command-reference.md
  src/app/editor/message/message_data.cc
  src/app/editor/message/message_data.h
  src/app/editor/message/message_editor.cc
  src/app/editor/message/message_editor.h
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/game/message_commands.cc
  src/cli/handlers/game/message_commands.h
  test/unit/editor/message/message_data_test.cc
Due: clang-tidy, cppcheck

core: extend project schema and feature flags
  src/app/editor/code/project_file_editor.cc
  src/core/features.h
  src/core/project.cc
  src/core/project.h
  src/core/rom_settings.h
Due: clang-tidy, cppcheck

rom settings: allow expanded address overrides
  src/zelda3/music/music_bank.cc
  src/zelda3/overworld/overworld.cc
  src/zelda3/overworld/overworld.h
  src/zelda3/overworld/overworld_entrance.cc
  src/zelda3/overworld/overworld_entrance.h
  src/zelda3/overworld/overworld_map.cc
  src/zelda3/overworld/overworld_map.h
  src/zelda3/screen/dungeon_map.cc
  src/zelda3/screen/dungeon_map.h
Due: clang-tidy, cppcheck

editor: add save scope and ROM backup safety
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/menu/menu_orchestrator.cc
  src/app/editor/system/rom_file_manager.cc
  src/app/editor/system/rom_file_manager.h
  src/app/editor/ui/popup_manager.cc
  src/app/editor/ui/popup_manager.h
  src/app/editor/ui/settings_panel.cc
  src/app/gui/app/feature_flags_menu.h
  src/util/rom_hash.cc
  src/util/rom_hash.h
  src/util/util.cmake
  src/zelda3/dungeon/room.cc
Due: clang-tidy, cppcheck

dungeon: add minecart overlays and custom object mapping
  docs/internal/agents/dungeon-object-validation-spec.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/panels/minecart_track_editor_panel.cc
  src/app/editor/dungeon/panels/minecart_track_editor_panel.h
  src/zelda3/dungeon/custom_object.cc
  src/zelda3/dungeon/custom_object.h
Due: clang-tidy, cppcheck

docs: add yaze readiness plan
  docs/internal/agents/yaze-readiness-plan.md
Due: none

docs: add room-mode validation samples
  docs/internal/agents/coordination-board.md
  docs/internal/agents/dungeon-object-validation-spec.md
Due: none

zelda3-hacking-expert: fix room-mode bounds clipping
  docs/internal/agents/coordination-board.md
  docs/internal/agents/dungeon-object-validation-spec.md
  src/cli/handlers/tools/dungeon_object_validate_commands.cc
  src/zelda3/dungeon/object_drawer.cc
Due: clang-tidy, cppcheck

zelda3-hacking-expert: add room-mode clipping tests
  docs/internal/agents/coordination-board.md
  docs/internal/agents/dungeon-object-validation-spec.md
  docs/internal/agents/handoff-2026-02-05-codex.md
  src/cli/handlers/tools/dungeon_object_validate_commands.cc
  src/cli/handlers/tools/dungeon_object_validate_commands.h
  test/unit/cli/dungeon_object_validate_test.cc
Due: clang-tidy, cppcheck

ai-infra-architect: add minecart audit + custom collision CLI
  docs/internal/agents/coordination-board.md
  docs/public/reference/z3ed-command-reference.md
  docs/public/usage/z3ed-cli.md
  scripts/z3ed
  src/cli/cli_core.cmake
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/command_handlers.h
  src/cli/handlers/command_handlers_browser.cc
  src/cli/handlers/game/dungeon_collision_commands.cc
  src/cli/handlers/game/dungeon_collision_commands.h
  src/cli/handlers/game/dungeon_map_commands.cc
  src/cli/handlers/game/minecart_commands.cc
  src/cli/handlers/game/minecart_commands.h
  src/cli/service/agent/tool_registration.cc
  src/cli/service/agent/tool_schemas.h
Due: clang-tidy, cppcheck

ai-infra-architect: update 2026-02-05 handoff with minecart tooling
  docs/internal/agents/handoff-2026-02-05-codex.md
Due: none

build: restructure CMake presets and fix gRPC dependency ordering
  CMakePresets.json
  cmake/dependencies/grpc.cmake
  cmake/options-simple.cmake
  cmake/options.cmake
  src/CMakeLists.txt
  src/app/app.cmake
  src/app/service/grpc_support.cmake
Due: none

core: add HackManifest loader and ROM address overrides
  src/app/editor/code/project_file_editor.cc
  src/app/editor/graphics/graphics_editor.cc
  src/app/editor/ui/settings_panel.cc
  src/core/CMakeLists.txt
  src/core/hack_manifest.cc
  src/core/hack_manifest.h
  src/core/project.cc
  src/core/project.h
  src/core/rom_settings.h
  src/rom/rom.cc
  src/rom/rom.h
  src/zelda3/game_data.cc
Due: clang-tidy, cppcheck
