Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

fix(release): check installed loaders and normalize Linux paths
  scripts/agents/README.md
  scripts/agents/test-nightly-local-provenance.sh
  scripts/install-nightly-local.sh
Due: none

fix(dungeon): validate portable asset paths before host parsing
  src/zelda3/dungeon/custom_object.cc
  src/zelda3/dungeon/custom_object.h
  test/unit/zelda3/custom_object_test.cc
Due: clang-tidy, cppcheck

fix(ui): support browser links and clarify welcome import
  src/app/editor/shell/coordinator/welcome_screen.cc
  src/app/gui/core/input.cc
  test/unit/editor/welcome_screen_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): keep issue report footer stable
  docs/public/usage/dungeon-editor.md
  src/app/editor/dungeon/dungeon_canvas_issue_report.cc
  test/unit/editor/dungeon_canvas_viewer_navigation_test.cc
Due: clang-tidy, cppcheck

fix(test): keep help text out of GoogleTest discovery
  test/CMakeLists.txt
  test/cmake/test_runner_discovery.cmake
  test/yaze_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): center issue reports inside viewport work area
  src/app/editor/dungeon/dungeon_canvas_issue_report.cc
  test/unit/editor/dungeon_canvas_viewer_navigation_test.cc
Due: clang-tidy, cppcheck

fix(ui): keep welcome startup actions reachable
  src/app/editor/shell/coordinator/welcome_screen.cc
  test/unit/editor/welcome_screen_test.cc
Due: clang-tidy, cppcheck

fix(ui): size welcome footer for themes and large fonts
  src/app/editor/shell/coordinator/welcome_screen.cc
  test/unit/editor/dungeon_canvas_viewer_navigation_test.cc
  test/unit/editor/welcome_screen_test.cc
Due: clang-tidy, cppcheck

docs: define dungeon-first 0.8.0 completion and agent plan
  docs/internal/agents/dungeon-object-rendering-spec.md
  docs/internal/plans/README.md
  docs/internal/plans/dungeon-0.8.0-issue-test-backlog-2026-06-28.md
  docs/internal/plans/release-ladder-0x-2026.md
  docs/internal/release-checklist.md
  docs/internal/roadmap.md
Due: none

test(dungeon): audit Oracle custom asset round trips
  test/unit/zelda3/custom_object_test.cc
Due: clang-tidy, cppcheck

test(dungeon): pin strip sizes and bar cap sequences to usdasm
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

fix(test): require executed dungeon parity audit evidence
  scripts/agents/audit-dungeon-visual-parity.sh
  scripts/agents/test-dungeon-visual-parity-audit.sh
Due: none

fix(dungeon): draw horizontal bars with repeated middle columns
  src/zelda3/dungeon/draw_routines/rightwards_routines.cc
Due: clang-tidy, cppcheck

fix(test): protect ROM input from audit report aliases
  scripts/agents/audit-dungeon-visual-parity.sh
  scripts/agents/test-dungeon-visual-parity-audit.sh
Due: none

test(dungeon): gate ROM-backed bar draw parity
  scripts/agents/audit-dungeon-visual-parity.sh
  scripts/agents/test-dungeon-visual-parity-audit.sh
Due: none

fix(dungeon): align bar payloads and geometry with usdasm
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_parser.cc
  test/integration/zelda3/dungeon_object_rom_validation_test.cc
  test/unit/zelda3/dungeon/object_dimensions_test.cc
  test/unit/zelda3/dungeon/object_drawing_comprehensive_test.cc
  test/unit/zelda3/dungeon/room_object_rom_parity_test.cc
  test/unit/zelda3/object_parser_test.cc
Due: clang-tidy, cppcheck

test(dungeon): register audit contracts and record first-wave evidence
  docs/internal/agents/dungeon-object-rendering-spec.md
  docs/internal/plans/dungeon-0.8.0-issue-test-backlog-2026-06-28.md
  test/CMakeLists.txt
Due: none

test(dungeon): audit shared floor stamps across sizes and layers
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

refactor(dungeon): share floor-copy stamping with generic floors
  src/zelda3/dungeon/draw_routines/special_routines.cc
Due: clang-tidy, cppcheck

test(dungeon): audit water edge and waterfall tile contracts
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): resize packed floor axes without changing variants
  src/app/editor/dungeon/interaction/tile_object_handler.cc
  src/app/editor/dungeon/interaction/tile_object_handler.h
  src/zelda3/dungeon/room_object.cc
  src/zelda3/dungeon/room_object.h
  test/unit/editor/tile_object_handler_test.cc
  test/unit/zelda3/dungeon/room_object_encoding_test.cc
Due: clang-tidy, cppcheck

test(dungeon): align floor fixture mirrors with trace bit order
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

feat(dungeon): expose floor dimensions and safe object variants
  docs/internal/plans/dungeon-0.8.0-issue-test-backlog-2026-06-28.md
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.h
  src/app/editor/dungeon/interaction/interaction_mode.h
  src/app/editor/dungeon/interaction/tile_object_handler.cc
  src/app/editor/dungeon/interaction/tile_object_handler.h
  src/app/editor/dungeon/workspace/dungeon_workbench_content.cc
  src/app/editor/dungeon/workspace/dungeon_workbench_inspector_helpers.cc
  src/app/editor/dungeon/workspace/dungeon_workbench_inspector_helpers.h
  src/zelda3/dungeon/dungeon_object_editor.cc
  src/zelda3/dungeon/dungeon_object_editor.h
  test/unit/editor/dungeon_canvas_viewer_navigation_test.cc
  test/unit/editor/dungeon_workbench_content_test.cc
  test/unit/editor/tile_object_handler_test.cc
  test/unit/zelda3/dungeon/dungeon_object_editor_dirty_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): preserve packed platform axes in size controls
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/workspace/dungeon_workbench_inspector_helpers.cc
  src/zelda3/dungeon/room_object.cc
  src/zelda3/dungeon/room_object.h
  test/unit/editor/dungeon_workbench_content_test.cc
  test/unit/editor/tile_object_handler_test.cc
  test/unit/zelda3/dungeon/room_object_encoding_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): select Oracle Puffstool preview from OAM layout
  src/app/editor/dungeon/dungeon_canvas_overlays.cc
  src/zelda3/sprite/sprite.cc
  src/zelda3/sprite/sprite.h
  src/zelda3/sprite/sprite_oam_tables.cc
  src/zelda3/sprite/sprite_oam_tables.h
  test/unit/zelda3/sprite_render_preview_test.cc
Due: clang-tidy, cppcheck

test(dungeon): pin Sanctuary wall facade and mixed layer contract
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): render Sanctuary wall facade with mixed layer center
  src/zelda3/dungeon/draw_routines/corner_routines.cc
  src/zelda3/dungeon/draw_routines/draw_routine_registry.cc
  src/zelda3/dungeon/draw_routines/draw_routine_registry.h
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_layer_semantics.h
  src/zelda3/dungeon/object_parser.cc
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawing_comprehensive_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): load animated tile frames through ROM table pointer
  src/zelda3/dungeon/room.cc
  test/unit/zelda3/dungeon/room_graphics_palette_test.cc
  test/unit/zelda3/dungeon/room_object_rom_parity_test.cc
Due: clang-tidy, cppcheck

test(dungeon): audit fixed corner payloads and size-independent stamps
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): reuse fixed 4x4 renderer for subtype2 corner aliases
  src/zelda3/dungeon/draw_routines/corner_routines.cc
  src/zelda3/dungeon/draw_routines/draw_routine_registry.cc
  src/zelda3/dungeon/object_dimensions.cc
Due: clang-tidy, cppcheck

test(dungeon): align corner mapping pins with fixed 4x4 routine
  test/unit/zelda3/dungeon/object_dimensions_test.cc
  test/unit/zelda3/dungeon/object_drawing_comprehensive_test.cc
Due: clang-tidy, cppcheck

test(dungeon): initialize corner dimension table fixtures explicitly
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

test(dungeon): require Sanctuary and fixed-corner audit coverage
  scripts/agents/audit-dungeon-visual-parity.sh
  scripts/agents/test-dungeon-visual-parity-audit.sh
Due: none

test(dungeon): isolate Swamp animated-frame fingerprint drift
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
Due: clang-tidy, cppcheck

test(dungeon): account for animated pixel priority transparency
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
Due: clang-tidy, cppcheck

test(dungeon): reproduce legacy room tileset indexing
  test/integration/zelda3/dungeon_room_regression_fixtures_test.cc
Due: clang-tidy, cppcheck

test(dungeon): record source-proven animated water baseline and object audit
  docs/internal/agents/dungeon-object-rendering-spec.md
  docs/internal/plans/dungeon-0.8.0-issue-test-backlog-2026-06-28.md
  test/integration/zelda3/dungeon_room_regression_fixtures.h
Due: cppcheck

test(dungeon): compare headless PNGs with configured room composites
  test/integration/zelda3/dungeon_room_render_parity_test.cc
Due: clang-tidy, cppcheck
