Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

release: bump version to 0.7.0
  CHANGELOG.md
  CMakeLists.txt
  VERSION
  docs/public/reference/changelog.md
  inc/yaze_version.h
  src/ios/iOS/Info-iOS.plist
Due: cppcheck

fix: add missing includes for animator and themed_widgets
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/panels/dungeon_workbench_panel.cc
Due: clang-tidy, cppcheck

fix: parse sha256sum output by first token instead of all hex chars
  src/zelda3/dungeon/oracle_rom_safety_preflight.cc
Due: clang-tidy, cppcheck

gui: complete themed widget adoption, API tests, and Bonjour degradation
  src/app/editor/agent/agent_proposals_panel.cc
  src/app/editor/agent/panels/agent_knowledge_panel.cc
  src/app/editor/code/assembly_editor.cc
  src/app/editor/dungeon/dungeon_object_selector.cc
  src/app/editor/graphics/gfx_group_editor.cc
  src/app/editor/graphics/pixel_editor_panel.cc
  src/app/editor/graphics/screen_editor.cc
  src/app/editor/oracle/panels/menu_inspector_panel.cc
  src/app/editor/overworld/map_properties.cc
  src/app/editor/overworld/usage_statistics_card.cc
  src/app/editor/sprite/sprite_editor.cc
  src/app/editor/system/session_coordinator.cc
  src/app/editor/ui/settings_panel.cc
  src/app/editor/ui/ui_coordinator.cc
  src/cli/service/api/api_handlers.cc
  src/cli/service/api/api_handlers.h
  src/cli/service/api/bonjour_publisher.cc
  src/cli/service/api/bonjour_publisher.h
  src/cli/service/api/http_server.cc
  test/CMakeLists.txt
  test/unit/cli/api_handlers_test.cc
Due: clang-tidy, cppcheck

feat(message): implement find/replace workflow with tests
  src/app/editor/message/message_data.cc
  src/app/editor/message/message_data.h
  src/app/editor/message/message_editor.cc
  test/unit/editor/message/message_data_test.cc
Due: clang-tidy, cppcheck

feat(overworld): wire usage statistics card to real map data
  src/app/editor/overworld/usage_statistics_card.cc
Due: clang-tidy, cppcheck

refactor(tile16): extract renderer and usage index with coverage
  src/app/editor/overworld/tile16_editor.cc
  src/app/editor/overworld/tile16_editor.h
  src/zelda3/overworld/tile16_renderer.cc
  src/zelda3/overworld/tile16_renderer.h
  src/zelda3/overworld/tile16_usage_index.cc
  src/zelda3/overworld/tile16_usage_index.h
  src/zelda3/zelda3_library.cmake
  test/CMakeLists.txt
  test/integration/editor/tile16_editor_test.cc
  test/unit/zelda3/tile16_renderer_test.cc
  test/unit/zelda3/tile16_usage_index_test.cc
Due: clang-tidy, cppcheck

docs(roadmap): update 0.7.0 completion status and tile16 backlog
  STATUS.md
  docs/internal/plans/0.7.0-feature-completion.md
  docs/internal/roadmap.md
Due: none

feat(sprite): add snapshot-based undo/redo for custom sprites
  src/app/editor/sprite/sprite_editor.cc
  src/app/editor/sprite/sprite_editor.h
  src/app/editor/sprite/sprite_undo_actions.h
  test/CMakeLists.txt
  test/unit/editor/sprite_editor_undo_test.cc
Due: clang-tidy, cppcheck

docs(0.7.0): mark sprite undo complete in status and roadmap
  STATUS.md
  docs/internal/plans/0.7.0-feature-completion.md
  docs/internal/roadmap.md
Due: none

docs(0.7.0): add execution sequence and tile16 parity checklist
  STATUS.md
  docs/internal/plans/0.7.0-feature-completion.md
Due: none

feat(screen): add snapshot-based undo/redo for dungeon maps
  src/app/editor/graphics/screen_editor.cc
  src/app/editor/graphics/screen_editor.h
  src/app/editor/graphics/screen_undo_actions.h
  test/CMakeLists.txt
  test/unit/editor/screen_editor_undo_test.cc
Due: clang-tidy, cppcheck

docs(0.7.0): mark screen undo complete across trackers
  STATUS.md
  docs/internal/plans/0.7.0-feature-completion.md
  docs/internal/roadmap.md
Due: none

feat: implement P0 features for 0.7.0 release
  src/app/editor/graphics/screen_editor.cc
  src/app/editor/graphics/screen_editor.h
  src/app/editor/graphics/screen_undo_actions.h
  src/app/editor/menu/menu_orchestrator.cc
  src/app/editor/menu/menu_orchestrator.h
  src/app/editor/message/message_editor.cc
  src/app/editor/message/message_editor.h
  src/app/editor/sprite/sprite_editor.cc
  src/app/editor/sprite/sprite_editor.h
  src/app/editor/sprite/sprite_undo_actions.h
  src/cli/handlers/rom/project_commands.cc
  src/util/bps.cc
  test/CMakeLists.txt
  test/unit/editor/message/message_data_test.cc
  test/unit/editor/screen_editor_undo_test.cc
  test/unit/editor/sprite_editor_undo_test.cc
  test/unit/util/bps_test.cc
Due: clang-tidy, cppcheck

docs(0.7.0): mark desktop BPS export complete
  STATUS.md
  docs/internal/plans/0.7.0-feature-completion.md
  docs/internal/roadmap.md
Due: none

docs: update 0.7.0 tracking — all P0 items complete
  STATUS.md
  docs/internal/plans/0.7.0-feature-completion.md
Due: none

docs(0.7.0): correct tile16 parity status and BPS test count
  docs/internal/plans/0.7.0-feature-completion.md
  docs/internal/roadmap.md
Due: none

feat: implement P1 features for 0.7.0 release
  src/app/editor/dungeon/dungeon_usage_tracker.cc
  src/app/editor/music/song_browser_view.cc
  src/app/editor/music/song_browser_view.h
  src/app/editor/music/tracker_view.cc
  src/app/editor/overworld/entity.cc
  src/app/platform/wasm/wasm_control_api.cc
  src/cli/handlers/graphics/palette_commands.cc
  src/cli/handlers/graphics/palette_commands.h
  src/zelda3/overworld/overworld.cc
  test/CMakeLists.txt
  test/unit/cli/palette_commands_test.cc
  test/unit/editor/dungeon_usage_tracker_test.cc
  test/unit/zelda3/overworld_regression_test.cc
Due: clang-tidy, cppcheck

feat(overworld,tile16): finalize item deletion flow and palette handling
  docs/internal/plans/0.7.0-feature-completion.md
  docs/internal/roadmap.md
  src/app/editor/overworld/entity_operations.cc
  src/app/editor/overworld/entity_operations.h
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/overworld/tile16_editor.cc
  src/app/editor/overworld/tile16_editor.h
  test/integration/editor/tile16_editor_test.cc
  test/unit/editor/overworld_item_operations_test.cc
Due: clang-tidy, cppcheck

fix(cli,dungeon): validate optional palette index and isolate usage table IDs
  src/app/editor/dungeon/dungeon_usage_tracker.cc
  src/cli/handlers/graphics/palette_commands.cc
  test/unit/cli/palette_commands_test.cc
  test/unit/editor/dungeon_usage_tracker_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): align corner draw routines with usdasm and override mapping
  src/zelda3/dungeon/custom_object.cc
  src/zelda3/dungeon/draw_routines/corner_routines.cc
  src/zelda3/dungeon/draw_routines/corner_routines.h
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_parser.cc
  test/unit/zelda3/custom_object_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/object_geometry_test.cc
  test/unit/zelda3/object_parser_test.cc
Due: clang-tidy, cppcheck

test(dungeon): verify corner alias filename resolution in tile editor
  test/unit/zelda3/dungeon/object_tile_editor_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): enforce strict weird-corner payload parity
  src/zelda3/dungeon/draw_routines/corner_routines.cc
  test/unit/zelda3/dungeon/draw_routine_bothbg_metadata_test.cc
  test/unit/zelda3/dungeon/object_dimensions_test.cc
Due: clang-tidy, cppcheck

refactor(dungeon): route corner routines through registry
  docs/internal/plans/0.7.0-feature-completion.md
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
Due: clang-tidy, cppcheck

refactor(dungeon): migrate diagonal and downwards core to registry
  docs/internal/plans/0.7.0-feature-completion.md
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
Due: clang-tidy, cppcheck

refactor(dungeon): migrate special utility routines to registry
  docs/internal/plans/0.7.0-feature-completion.md
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
Due: clang-tidy, cppcheck

refactor(dungeon): migrate core rightwards routines to registry
  docs/internal/plans/0.7.0-feature-completion.md
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
Due: clang-tidy, cppcheck

refactor(dungeon): migrate extended right/down routines to registry
  docs/internal/plans/0.7.0-feature-completion.md
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
Due: clang-tidy, cppcheck

refactor(dungeon): migrate ceiling and platform routines to registry
  docs/internal/plans/0.7.0-feature-completion.md
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
Due: clang-tidy, cppcheck

dungeon: migrate special draw routines to registry
  src/zelda3/dungeon/draw_routines/draw_routine_registry.h
  src/zelda3/dungeon/draw_routines/special_routines.cc
  src/zelda3/dungeon/draw_routines/special_routines.h
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
  test/unit/dungeon_object_drawer_test.cc
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_dimensions_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
  test/unit/zelda3/dungeon/object_geometry_test.cc
Due: clang-tidy, cppcheck

test(dungeon): add usdasm replay harness for corner/custom parity
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

fix(dungeon): sync parser draw routines with registry mapping
  src/zelda3/dungeon/object_parser.cc
  test/unit/zelda3/object_parser_test.cc
Due: clang-tidy, cppcheck

dungeon: align parser draw info with registry and add parity tests
  src/zelda3/dungeon/object_parser.cc
  test/integration/zelda3/dungeon_object_rom_validation_test.cc
  test/unit/zelda3/object_parser_test.cc
Due: clang-tidy, cppcheck

dungeon: derive parser orientation from routine category
  src/zelda3/dungeon/object_parser.cc
  test/unit/zelda3/object_parser_test.cc
Due: clang-tidy, cppcheck

Fix dungeon draw-routine USDASM parity for rails/cannon/bar
  docs/internal/plans/0.7.0-feature-completion.md
  docs/internal/roadmap.md
  src/zelda3/dungeon/draw_routines/downwards_routines.cc
  src/zelda3/dungeon/draw_routines/downwards_routines.h
  src/zelda3/dungeon/draw_routines/draw_routine_registry.h
  src/zelda3/dungeon/draw_routines/rightwards_routines.cc
  src/zelda3/dungeon/object_drawer.cc
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawer_registry_replay_test.cc
Due: clang-tidy, cppcheck

Improve tile16 palette UX and add quadrant palette tests
  src/app/editor/overworld/tile16_editor.cc
  src/app/editor/overworld/tile16_editor.h
  test/integration/editor/tile16_editor_test.cc
Due: clang-tidy, cppcheck

Align object dimension table with usdasm parity sweep
  src/zelda3/dungeon/object_dimensions.cc
  test/unit/zelda3/dungeon/object_dimensions_test.cc
Due: clang-tidy, cppcheck

dungeon: add diagonal ceiling routine wiring and parity expectations
  src/zelda3/dungeon/draw_routines/corner_routines.cc
  src/zelda3/dungeon/draw_routines/corner_routines.h
  src/zelda3/dungeon/draw_routines/rightwards_routines.h
  src/zelda3/dungeon/object_drawer.h
  test/unit/zelda3/dungeon/object_rendering_test.cc
Due: clang-tidy, cppcheck

test/platform: stabilize rom-fixture defines and font path resolution
  src/app/platform/font_loader.cc
  test/CMakeLists.txt
  test/unit/cli/dungeon_minecart_audit_test.cc
Due: clang-tidy, cppcheck

docs: update 0.7.0 parity status after dimension sweep fixes
  docs/internal/plans/0.7.0-feature-completion.md
  docs/internal/roadmap.md
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
