Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

feat: Introduce AI model evaluation suite and agent tools for validation and ROM diff.
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/command_handlers.h
  src/cli/handlers/tools/test_helpers_commands.cc
  src/cli/handlers/tools/test_helpers_commands.h
  src/cli/service/agent/agent_context.h
  src/cli/service/agent/tool_dispatcher.cc
  src/cli/service/agent/tool_dispatcher.h
  src/cli/service/agent/tool_schemas.h
  src/cli/service/agent/tools/rom_diff_tool.cc
  src/cli/service/agent/tools/rom_diff_tool.h
  src/cli/service/agent/tools/validation_tool.cc
  src/cli/service/agent/tools/validation_tool.h
  src/cli/service/command_registry.cc
Due: clang-tidy, cppcheck

feat: Implement AI model evaluation system and refactor unit tests.
  .gitignore
  docs/internal/agents/coordination-board.md
  docs/internal/agents/phase5-advanced-tools-handoff.md
  scripts/README.md
  scripts/ai/compare-models.py
  scripts/ai/eval-runner.py
  scripts/ai/eval-tasks.yaml
  scripts/ai/results/.gitkeep
  scripts/ai/run-model-eval.sh
  test/CMakeLists.txt
  test/test.cmake
  test/unit/filesystem_tool_test.cc
  test/unit/tools/memory_inspector_tool_test.cc
Due: clang-tidy, cppcheck

fix: add RequiresRom() to CommandHandler and fix fullscreen crash
  src/cli/service/resources/command_handler.h
  src/web/shell.html
Due: cppcheck

fix: move RequiresRom() to public section of CommandHandler
  src/cli/service/resources/command_handler.h
Due: cppcheck

fix: move RequiresLabels() to public section of CommandHandler
  src/cli/service/resources/command_handler.h
Due: cppcheck

fix: move RequiresLabels() to public in memory inspector tools
  src/cli/service/agent/tools/memory_inspector_tool.h
Due: cppcheck

fix: add test_helpers_commands.cc to agent.cmake build
  src/cli/agent.cmake
Due: none

feat: add visual analysis tool for AI agents to perform tile pattern recognition, spritesheet analysis, and palette usage statistics.
  cmake/options.cmake
  scripts/ai/eval-tasks.yaml
  src/cli/handlers/tools/test_helpers_commands.cc
  src/cli/service/agent/tool_dispatcher.cc
  src/cli/service/agent/tool_dispatcher.h
  src/cli/service/agent/tool_schemas.h
  src/cli/service/agent/tools/visual_analysis_tool.cc
  src/cli/service/agent/tools/visual_analysis_tool.h
  test/CMakeLists.txt
  test/unit/tools/visual_analysis_tool_test.cc
Due: clang-tidy, cppcheck

fix(wasm): resolve ROM loading pipeline race conditions and crashes
  src/app/editor/editor_manager.cc
  src/app/main.cc
  src/app/platform/wasm/wasm_bootstrap.cc
  src/app/platform/wasm/wasm_loading_manager.cc
  src/app/platform/wasm/wasm_loading_manager.h
  src/app/rom.cc
Due: clang-tidy, cppcheck

docs: add session notes for WASM ROM loading pipeline fixes (2025-11-25)
  docs/internal/agents/phase5-advanced-tools-handoff.md
Due: none

docs: expand Phase 5 handoff with implementation details and WASM session notes
  docs/internal/agents/phase5-advanced-tools-handoff.md
Due: none

feat(agent): implement Phase 5 advanced AI tools
  docs/internal/agents/phase5-advanced-tools-handoff.md
  scripts/ai/eval-tasks.yaml
  src/app/main.cc
  src/cli/agent.cmake
  src/cli/service/agent/tool_dispatcher.cc
  src/cli/service/agent/tool_dispatcher.h
  src/cli/service/agent/tool_schemas.h
  src/cli/service/agent/tools/code_gen_tool.cc
  src/cli/service/agent/tools/code_gen_tool.h
  src/cli/service/agent/tools/project_tool.cc
  src/cli/service/agent/tools/project_tool.h
  src/cli/service/agent/tools/rom_diff_tool.cc
  src/cli/service/agent/tools/validation_tool.cc
  src/cli/service/agent/tools/validation_tool.h
  test/CMakeLists.txt
  test/unit/tools/code_gen_tool_test.cc
  test/unit/tools/project_tool_test.cc
Due: clang-tidy, cppcheck

feat: update palette group and graphics buffer access for const correctness and mutability
  src/app/editor/graphics/graphics_editor.cc
  src/app/gfx/types/snes_palette.h
  src/app/rom.h
  src/cli/handlers/graphics/palette.cc
  src/cli/service/agent/tools/project_tool.cc
  src/zelda3/overworld/overworld_map.cc
  src/zelda3/overworld/overworld_map.h
Due: clang-tidy, cppcheck

feat: Add WASM platform bootstrap and comprehensive file management for configs, projects, and prompts.
  src/app/app.cmake
  src/app/platform/wasm/wasm_bootstrap.cc
  src/web/core/filesystem_manager.js
Due: clang-tidy, cppcheck

feat: update Emscripten platform paths to use dedicated /config, /projects, and /temp directories
  src/util/platform_paths.cc
Due: clang-tidy, cppcheck

feat: return loading indicator ID from `showLoadingIndicator` for later removal
  src/web/core/loading_indicator.js
Due: none

perf: Implement lazy SNES emulator initialization and optimize WASM memory settings to reduce startup overhead.
  src/app/app.cmake
  src/app/emu/snes.cc
  src/app/emu/snes.h
  src/app/gui/widgets/dungeon_object_emulator_preview.cc
  src/app/gui/widgets/dungeon_object_emulator_preview.h
Due: clang-tidy, cppcheck

feat: Defer sprite preview buffer allocation and enhance WASM loading progress reporting with shared handles.
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/web/core/filesystem_manager.js
  src/zelda3/sprite/sprite.cc
  src/zelda3/sprite/sprite.h
Due: clang-tidy, cppcheck

fix: Improve Emscripten event property sanitization in web app and update WASM debugging documentation.
  docs/internal/wasm-debug-infrastructure.md
  docs/internal/wasm-yazeDebug-api-reference.md
  docs/internal/wasm_dungeon_debugging.md
  src/app/platform/wasm/wasm_autosave.cc
  src/web/app.js
Due: clang-tidy, cppcheck

feat: Implement WASM loading progress and cancellation for dungeon rooms and optimize ROM data and graphics buffer handling for performance.
  src/app/editor/dungeon/dungeon_room_loader.cc
  src/app/rom.cc
Due: clang-tidy, cppcheck
