Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

imgui-frontend-engineer: add build helper scripts
  scripts/README.md
  scripts/build-ios.sh
  scripts/install-nightly.sh
Due: none

imgui-frontend-engineer: simplify nightly workflow
  .github/workflows/nightly.yml
Due: none

imgui-frontend-engineer: harden C API room loader
  src/yaze.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: gate ROM tests on availability
  test/test_utils.h
Due: cppcheck

imgui-frontend-engineer: stabilize editor card layout
  src/app/editor/ui/dashboard_panel.cc
  src/app/editor/ui/editor_selection_dialog.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: refine editor card text rendering
  src/app/editor/ui/dashboard_panel.cc
  src/app/editor/ui/editor_selection_dialog.cc
  src/ios/yaze.xcodeproj/project.xcworkspace/xcuserdata/scawful.xcuserdatad/UserInterfaceState.xcuserstate
  src/ios/yaze.xcodeproj/xcuserdata/scawful.xcuserdatad/xcschemes/xcschememanagement.plist
Due: clang-tidy, cppcheck

imgui-frontend-engineer: ignore Xcode user data
  .gitignore
Due: none

backend-infra-engineer: log history compaction rollout
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: update release rollout notes
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: finalize v0.5.0 branding
  CMakeLists.txt
  README.md
  docs/public/reference/changelog.md
  docs/public/release-notes.md
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: log release run status
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: record release failure
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: log usdasm submodule fix
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: log CI rerun
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: log CI status
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: format welcome screen
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: log formatting CI rerun
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: fix grpc link + layout preset alias
  src/app/app.cmake
  src/app/editor/layout/layout_presets.h
Due: cppcheck

backend-infra-engineer: log release rerun
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: fix grpc proto includes
  src/app/service/grpc_support.cmake
Due: none

backend-infra-engineer: log grpc include fix
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: fix release build errors
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/platform/window.h
  src/cli/agent.cmake
Due: clang-tidy, cppcheck

backend-infra-engineer: log release status
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: fix release build failures
  src/app/editor/palette/palette_editor.cc
  src/cli/handlers/tools/emulator_commands.cc
  src/cli/handlers/tools/test_cli_commands.cc
  src/cli/service/agent/emulator_service_impl.cc
  src/cli/service/agent/emulator_service_impl.h
  src/core/asar_wrapper.cc
  src/core/version_manager.cc
  src/protos/emulator_service.proto
Due: clang-tidy, cppcheck

backend-infra-engineer: fix web build dist path
  .github/workflows/web-build.yml
Due: none

backend-infra-engineer: log yaze.halext.org restore
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: complete yaze.halext.org restore
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: harden wasm fs init + debounce sync
  docs/internal/agents/coordination-board.md
  src/app/platform/wasm/wasm_bootstrap.cc
  src/web/core/filesystem_manager.js
Due: clang-tidy, cppcheck

backend-infra-engineer: add project metadata + enable ai nightly
  .github/workflows/web-build.yml
  PROJECT.toml
  scripts/install-nightly.sh
Due: none

backend-infra-engineer: fix nightly install wrappers
  scripts/install-nightly.sh
Due: none

backend-infra-engineer: update coordination board
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: close wasm perf entry
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: add help/version to nightly wrappers
  scripts/install-nightly.sh
Due: none

backend-infra-engineer: fix CI gRPC + link order
  .github/actions/setup-build/action.yml
  .github/workflows/ci.yml
  .github/workflows/scripts/linux-ci-packages.txt
  CMakePresets.json
  docs/internal/agents/coordination-board.md
  scripts/agent_test_suite.sh
  src/app/emu/emu.cmake
  src/app/test/test.cmake
  src/cli/service/agent/tools/project_tool.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: log CI/security runs
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: format project tool
  src/cli/service/agent/tools/project_tool.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: soften clang-tidy in CI
  .github/workflows/ci.yml
Due: none

backend-infra-engineer: gate absl/protobuf detection
  cmake/dependencies/grpc.cmake
Due: none
