Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

Add LMStudio support with configurable OpenAI base URL
  src/cli/flags.cc
  src/cli/service/ai/openai_ai_service.cc
  src/cli/service/ai/openai_ai_service.h
  src/cli/service/ai/service_factory.cc
  src/cli/service/ai/service_factory.h
Due: clang-tidy, cppcheck

Fix version to 0.5.3 for release artifacts
  CMakeLists.txt
  VERSION
Due: none

Improve release packaging and validation
  .github/workflows/release.yml
  docs/public/release-notes.md
  docs/public/release/README.md
  scripts/release/validate-dmg.sh
Due: none

Improve WASM/Web infrastructure and add service worker caching
  src/app/platform/wasm/wasm_bootstrap.cc
  src/cli/service/agent/tools/build_tool.cc
  src/cli/service/agent/tools/filesystem_tool.cc
  src/web/app.js
  src/web/core/filesystem_manager.js
  src/web/pwa/coi-serviceworker.js
Due: clang-tidy, cppcheck

Update version references to 0.5.3 across documentation
  README.md
  ROADMAP.md
  STATUS.md
  docs/internal/roadmap.md
  docs/public/reference/changelog.md
  docs/public/reference/feature-coverage-report.md
Due: none

Fix WASM build and address code review findings
  CMakePresets.json
  src/cli/service/agent/tools/build_tool.cc
  src/cli/service/agent/tools/filesystem_tool.cc
  src/web/pwa/coi-serviceworker.js
Due: clang-tidy, cppcheck

Update roadmap with v0.5.4 priorities and SDL3 status
  docs/internal/roadmap.md
Due: none

Add v0.5.4 planning documentation and architecture updates
  CLAUDE.md
  docs/internal/architecture/README.md
  docs/internal/architecture/platform_backends.md
  docs/internal/plans/v054-implementation-plan.md
  docs/public/reference/feature-coverage-report.md
  docs/public/release-notes.md
  src/cli/handlers/graphics/palette.cc
  src/cli/service/net/z3ed_network_client.cc
Due: clang-tidy, cppcheck

Fix proto dependency for yaze_cli_core when gRPC enabled
  src/cli/cli_core.cmake
Due: none

Fix release build configuration
  CMakePresets.json
  src/app/app.cmake
Due: none

Disable DMG license agreement popup for CI compatibility
  cmake/packaging.cmake
Due: none

fix: align macOS bundle DMG with validation
  .github/workflows/release.yml
  scripts/create-macos-bundle.sh
Due: none

fix: harden macOS DMG validation and bundle discovery
  .github/workflows/release.yml
  scripts/create-macos-bundle.sh
Due: none

fix: harden palette JSON import and restore VERSION
  src/app/editor/palette/palette_group_panel.cc
  test/CMakeLists.txt
  test/unit/palette_json_test.cc
Due: clang-tidy, cppcheck

fix: accept DMG license during validation
  scripts/release/validate-dmg.sh
Due: none

fix: disable DMG SLA prompt in CPack
  cmake/packaging/macos.cmake
  scripts/release/validate-dmg.sh
Due: none

fix: require NSIS installer in Windows artifacts
  .github/workflows/release.yml
Due: none

Add lazy asset loading mode for editor assets
  src/app/application.h
  src/app/controller.cc
  src/app/editor/editor.h
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/session_types.h
  src/app/main.cc
  src/app/startup_flags.h
Due: clang-tidy, cppcheck

Add headless/server mode with null backends
  src/app/app_core.cmake
  src/app/application.h
  src/app/controller.cc
  src/app/gfx/backend/null_renderer.h
  src/app/gfx/backend/renderer_factory.h
  src/app/main.cc
  src/app/platform/iwindow.h
  src/app/platform/null_window_backend.cc
  src/app/platform/null_window_backend.h
  src/app/platform/window_backend_factory.cc
Due: clang-tidy, cppcheck

Unify gRPC server and move emulator service
  src/app/application.cc
  src/app/application.h
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/service/emulator_service_impl.cc
  src/app/service/emulator_service_impl.h
  src/app/service/grpc_support.cmake
  src/app/service/unified_grpc_server.cc
  src/app/service/unified_grpc_server.h
  src/cli/agent.cmake
  src/cli/service/agent/agent_control_server.cc
  src/cli/service/agent/agent_control_server.h
  src/cli/service/agent/rom_debug_agent.h
  test/unit/cli/ai_service_factory_test.cc
  test/unit/cli/rom_debug_agent_test.cc
Due: clang-tidy, cppcheck

Add canvas coordinate mapping for automation
  src/app/gui/canvas/canvas.cmake
  src/app/gui/canvas/coordinate_mapper.cc
  src/app/gui/canvas/coordinate_mapper.h
  src/app/gui/gui_library.cmake
  src/app/service/canvas_automation_service.cc
  src/app/service/canvas_automation_service.h
  src/protos/canvas_automation.proto
Due: clang-tidy, cppcheck

Add visual diff engine and VisualService gRPC
  src/app/service/grpc_support.cmake
  src/app/service/visual_service_impl.cc
  src/app/service/visual_service_impl.h
  src/app/test/test.cmake
  src/app/test/visual_diff_engine.cc
  src/app/test/visual_diff_engine.h
  src/protos/visual_service.proto
Due: clang-tidy, cppcheck

Add symbol export and HTTP symbol endpoint
  src/app/emu/debug/symbol_provider.cc
  src/app/emu/debug/symbol_provider.h
  src/app/emu/emulator.h
  src/app/main.cc
  src/cli/service/api/api_handlers.cc
  src/cli/service/api/api_handlers.h
  src/cli/service/api/http_server.cc
  src/cli/service/api/http_server.h
  tools/mesen2/README.md
  tools/mesen2/yaze_bridge.lua
Due: clang-tidy, cppcheck

Add automation docs and presets
  AGENTS.md
  CMakePresets.json
  GEMINI.md
  docs/internal/agents/automation-workflows.md
  docs/internal/agents/coordination-board.md
  docs/public/developer/mac-productivity-guide.md
Due: none

Add JSON user settings with AI host registry
  src/app/editor/system/user_settings.cc
  src/app/editor/system/user_settings.h
Due: clang-tidy, cppcheck

Fix non-agent builds and test includes
  src/cli/tui/chat_tui.cc
  src/cli/tui/chat_tui.h
  src/cli/tui/unified_layout.h
  test/CMakeLists.txt
  test/e2e/README.md
  test/e2e/overworld/overworld_e2e_test.cc
  test/e2e/rom_dependent/e2e_rom_test.cc
  test/e2e/rom_dependent/editor_save_test_base.h
  test/e2e/rom_dependent/graphics_editor_save_test.cc
  test/e2e/zscustomoverworld/zscustomoverworld_upgrade_test.cc
  test/inspection/dungeon_palette_inspection_test.cc
  test/integration/dungeon_editor_test.h
  test/integration/dungeon_editor_v2_test.h
  test/integration/editor/tile16_editor_test.cc
  test/integration/overworld_editor_test.h
  test/integration/zelda3/dungeon_editor_system_integration_test.cc
  test/integration/zelda3/dungeon_graphics_transparency_test.cc
  test/integration/zelda3/dungeon_palette_test.cc
  test/integration/zelda3/dungeon_room_test.cc
  test/integration/zelda3/message_test.cc
  test/integration/zelda3/music_integration_test.cc
  test/integration/zelda3/overworld_integration_test.cc
  test/integration/zelda3/room_integration_test.cc
  test/integration/zelda3/sprite_position_test.cc
  test/unit/rom/rom_test.cc
Due: clang-tidy, cppcheck

Add iOS SwiftUI overlay and remote AI settings
  src/ios/iOS/DocumentPickers.swift
  src/ios/iOS/KeychainStore.swift
  src/ios/iOS/RemoteBuildClient.swift
  src/ios/iOS/Yaze-Bridging-Header.h
  src/ios/iOS/YazeIOSBridge.h
  src/ios/iOS/YazeIOSBridge.mm
  src/ios/iOS/YazeOverlayView.swift
  src/ios/iOS/YazeSettingsStore.swift
  src/ios/main.mm
  src/ios/project.yml
Due: cppcheck

Add iOS simulator preset and bundle tooling
  .gitignore
  CMakePresets.json
  scripts/build-ios.sh
  src/CMakeLists.txt
  src/app/test/test.cmake
  src/ios/iOS/YazeOverlayView.swift
  src/ios/iOS/YazeProjectBundle.swift
  src/ios/iOS/YazeSettingsStore.swift
  src/ios/project.yml
  tools/remote-build-server/README.md
  tools/remote-build-server/server.py
Due: none

Set iOS development team
  src/ios/project.yml
Due: none

Fix ImGui stack imbalance in welcome screen
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: iOS overlay + gRPC ROM service updates
  src/app/editor/menu/activity_bar.cc
  src/app/editor/menu/right_panel_manager.cc
  src/app/editor/system/rom_file_manager.cc
  src/app/gfx/backend/metal_renderer.mm
  src/app/platform/ios/ios_platform_state.h
  src/app/platform/ios/ios_platform_state.mm
  src/app/service/rom_service_impl.cc
  src/ios/iOS/YazeFileImport.swift
  src/ios/iOS/YazeIOSBridge.h
  src/ios/iOS/YazeIOSBridge.mm
  src/ios/iOS/YazeOverlayView.swift
  src/ios/main.mm
  src/ios/project.yml
Due: clang-tidy, cppcheck

imgui-frontend-engineer: refresh welcome screen + version sync
  docs/internal/agents/coordination-board.md
  incl/yaze.h
  src/app/editor/editor_manager.cc
  src/app/editor/menu/menu_orchestrator.cc
  src/app/editor/ui/ui_coordinator.cc
  src/app/editor/ui/welcome_screen.cc
  src/app/editor/ui/welcome_screen.h
  src/rom/rom.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: fix black screen render order
  docs/internal/agents/coordination-board.md
  src/app/controller.cc
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: fix message preview format + nightly gRPC pref
  scripts/install-nightly.sh
  src/app/editor/message/message_editor.cc
  src/app/editor/message/message_preview.cc
Due: clang-tidy, cppcheck

bump v0.5.4 + fix message preview palette/texture sync
  VERSION
  src/app/editor/message/message_editor.cc
  src/app/editor/message/message_editor.h
  src/app/editor/message/message_preview.cc
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

fix welcome screen context state header
  src/app/editor/ui/welcome_screen.h
Due: cppcheck

make visual diff engine libpng optional
  src/app/test/test.cmake
Due: none

fix libpng signature check constness
  src/app/test/visual_diff_engine.cc
Due: clang-tidy, cppcheck

Fix nightly bundle layout and sync 0.5.4 versions
  CMakeLists.txt
  README.md
  ROADMAP.md
  STATUS.md
  assets/zelda3.yaze
  docs/public/reference/changelog.md
  docs/public/reference/feature-coverage-report.md
  docs/public/release-notes.md
  incl/yaze.h
  scripts/install-nightly.sh
Due: cppcheck

Add service mode window control and API toggles
  src/app/application.h
  src/app/controller.cc
  src/app/controller.h
  src/app/main.cc
  src/app/platform/ios/ios_window_backend.h
  src/app/platform/ios/ios_window_backend.mm
  src/app/platform/iwindow.h
  src/app/platform/null_window_backend.cc
  src/app/platform/null_window_backend.h
  src/app/platform/sdl2_window_backend.cc
  src/app/platform/sdl2_window_backend.h
  src/app/platform/sdl3_window_backend.cc
  src/app/platform/sdl3_window_backend.h
  src/cli/service/api/http_server.cc
Due: clang-tidy, cppcheck
