Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

Trigger web build on scripts/agents changes
  .github/workflows/web-build.yml
Due: none

Add ContentRegistry pattern for centralized resource access
  src/app/editor/core/content_registry.cc
  src/app/editor/core/content_registry.h
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

Add core event types and test suite for EventBus expansion
  src/app/editor/editor_manager.cc
  src/app/editor/events/core_events.h
  src/app/test/core_systems_test_suite.h
Due: clang-tidy, cppcheck

Implement Phase 2A: SessionCoordinator EventBus integration
  src/app/editor/editor_manager.cc
  src/app/editor/system/session_coordinator.cc
  src/app/editor/system/session_coordinator.h
Due: clang-tidy, cppcheck

Add EventBus accessor to ContentRegistry::Context
  src/app/editor/core/content_registry.cc
  src/app/editor/core/content_registry.h
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

Publish FrameBeginEvent/FrameEndEvent from Application::Tick
  src/app/application.cc
  src/app/application.h
Due: clang-tidy, cppcheck

Migrate deferred actions to FrameBeginEvent subscription
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

Deprecate SessionObserver in favor of EventBus subscriptions
  src/app/editor/system/session_coordinator.h
Due: cppcheck

Migrate EditorManager from SessionObserver to EventBus
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
Due: clang-tidy, cppcheck

Add panel factory pattern to ContentRegistry
  src/app/editor/core/content_registry.cc
  src/app/editor/core/content_registry.h
  src/app/editor/editor_library.cmake
  src/app/editor/ui/about_panel.cc
  src/app/editor/ui/about_panel.h
Due: clang-tidy, cppcheck

Update docs: dungeon status, roadmap, imhex analysis
  docs/internal/agents/coordination-board.md
  docs/internal/architecture/imhex-comparison-analysis.md
  docs/internal/roadmap.md
  src/zelda3/dungeon/README.md
Due: none

Add current_editor() and game_data() to ContentRegistry::Context
  src/app/editor/core/content_registry.cc
  src/app/editor/core/content_registry.h
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
Due: clang-tidy, cppcheck

Add REGISTER_PANEL macro for panel self-registration
  src/app/editor/core/panel_registration.h
  src/app/editor/ui/about_panel.cc
Due: clang-tidy, cppcheck

Migrate 3 overworld panels to ContentRegistry self-registration
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/overworld/panels/debug_window_panel.cc
  src/app/editor/overworld/panels/debug_window_panel.h
  src/app/editor/overworld/panels/usage_statistics_panel.cc
  src/app/editor/overworld/panels/usage_statistics_panel.h
  src/app/editor/overworld/panels/v3_settings_panel.cc
  src/app/editor/overworld/panels/v3_settings_panel.h
Due: clang-tidy, cppcheck

Migrate 3 more overworld panels to ContentRegistry self-registration
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/overworld/panels/gfx_groups_panel.cc
  src/app/editor/overworld/panels/gfx_groups_panel.h
  src/app/editor/overworld/panels/map_properties_panel.cc
  src/app/editor/overworld/panels/map_properties_panel.h
  src/app/editor/overworld/panels/scratch_space_panel.cc
  src/app/editor/overworld/panels/scratch_space_panel.h
Due: clang-tidy, cppcheck

Migrate Tile8SelectorPanel and AreaGraphicsPanel to ContentRegistry
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/overworld/panels/area_graphics_panel.cc
  src/app/editor/overworld/panels/area_graphics_panel.h
  src/app/editor/overworld/panels/tile8_selector_panel.cc
  src/app/editor/overworld/panels/tile8_selector_panel.h
Due: clang-tidy, cppcheck

Complete overworld panel migration to ContentRegistry
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/overworld/panels/overworld_canvas_panel.cc
  src/app/editor/overworld/panels/overworld_canvas_panel.h
  src/app/editor/overworld/panels/tile16_editor_panel.cc
  src/app/editor/overworld/panels/tile16_editor_panel.h
  src/app/editor/overworld/panels/tile16_selector_panel.cc
  src/app/editor/overworld/panels/tile16_selector_panel.h
Due: clang-tidy, cppcheck

Fix category casing in DungeonRoomPanel
  src/app/editor/dungeon/panels/dungeon_room_panel.h
Due: cppcheck

Simplify build system and migrate DungeonRoomGraphicsPanel
  cmake/options-simple.cmake
  cmake/options.cmake
  src/app/application.cc
  src/app/controller.cc
  src/app/editor/core/content_registry.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/panels/dungeon_room_graphics_panel.cc
  src/app/editor/dungeon/panels/dungeon_room_graphics_panel.h
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.cc
  src/app/editor/events/core_events.h
  src/app/editor/system/editor_panel.h
  src/app/editor/system/panel_manager.cc
  src/app/editor/system/panel_manager.h
  src/app/editor/ui/about_panel.h
  src/app/test/core_systems_test_suite.h
  src/cli/agent.cmake
Due: clang-tidy, cppcheck

Add list virtualization and expand command palette
  src/app/editor/dungeon/dungeon_room_selector.cc
  src/app/editor/dungeon/dungeon_room_selector.h
  src/app/editor/message/message_editor.cc
  src/app/editor/system/shortcut_configurator.cc
Due: clang-tidy, cppcheck

Add core UI events and texture queue budget
  src/app/editor/dungeon/dungeon_room_selector.cc
  src/app/editor/events/core_events.h
  src/app/editor/menu/status_bar.cc
  src/app/editor/system/panel_manager.cc
  src/app/gfx/resource/arena.cc
  src/app/gfx/resource/arena.h
Due: clang-tidy, cppcheck

Add bulk command registration and lazy initialization to CommandPalette
  src/app/editor/system/command_palette.cc
  src/app/editor/system/command_palette.h
  src/app/editor/ui/ui_coordinator.cc
  src/app/editor/ui/ui_coordinator.h
Due: clang-tidy, cppcheck

Add animated hover effects to themed widget buttons
  src/app/gui/widgets/themed_widgets.cc
  src/app/gui/widgets/themed_widgets.h
Due: clang-tidy, cppcheck

Publish ZoomChangedEvent from Canvas zoom methods
  src/app/gui/canvas/canvas.cc
  src/app/gui/canvas/canvas.h
Due: clang-tidy, cppcheck

Extract yaze_cli_core library for shared CLI infrastructure
  src/cli/agent.cmake
  src/cli/cli.cc
  src/cli/cli_agent.cmake
  src/cli/cli_core.cmake
  src/cli/cli_main.cc
  src/cli/handlers/agent.cc
  src/cli/handlers/agent_command_registration.cc
  src/cli/handlers/agent_command_registration.h
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/command_handlers.h
  src/cli/handlers/command_handlers_agent.cc
  src/cli/handlers/command_handlers_agent.h
  src/cli/handlers/command_handlers_browser.cc
  src/cli/service/command_registry.cc
  src/cli/service/command_registry.h
  src/cli/z3ed.cmake
Due: clang-tidy, cppcheck

Add GUI animation system with smooth hover effects
  src/app/editor/menu/activity_bar.cc
  src/app/editor/system/panel_manager.cc
  src/app/editor/system/panel_manager.h
  src/app/gui/animation/animator.cc
  src/app/gui/animation/animator.h
  src/app/gui/gui_library.cmake
Due: clang-tidy, cppcheck

Improve editor performance with virtualization and theme colors
  src/app/editor/music/song_browser_view.cc
  src/app/editor/music/song_browser_view.h
  src/app/editor/palette/palette_group_panel.cc
Due: clang-tidy, cppcheck

Fix command palette panel handling and implement layout presets
  src/app/editor/system/command_palette.cc
  src/app/editor/ui/ui_coordinator.cc
Due: clang-tidy, cppcheck

Update build configuration and presets
  .gitignore
  CMakePresets-simple.json
  CMakePresets.json
  scripts/agents/smoke-build.sh
  src/CMakeLists.txt
  src/app/app.cmake
Due: none

Update documentation and add planning documents
  docs/internal/agents/coordination-board.md
  docs/internal/plans/content_registry_panel_scope_tier1_porting.md
  docs/internal/plans/imhex-ui-modernization.md
  docs/public/build/presets.md
Due: none

Update ImHex UI modernization plan with implementation status
  docs/internal/plans/imhex-ui-modernization.md
Due: none

Add OnFirstDraw hook for lazy panel initialization
  src/app/editor/system/editor_panel.h
  src/app/editor/system/panel_manager.cc
Due: clang-tidy, cppcheck

Update ImHex plan: mark lazy loading and core events complete
  docs/internal/plans/imhex-ui-modernization.md
Due: none

Complete ImHex UI modernization phases 2.3 and 3.1
  docs/internal/plans/imhex-ui-modernization.md
  src/app/editor/system/command_palette.cc
  src/app/editor/system/command_palette.h
  src/app/editor/system/panel_manager.cc
  src/app/editor/ui/ui_coordinator.cc
Due: clang-tidy, cppcheck

Complete ImHex UI modernization Phase 4-5
  docs/internal/plans/imhex-ui-modernization.md
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/events/core_events.h
  src/app/editor/layout/layout_manager.cc
  src/app/editor/layout/layout_manager.h
  src/app/editor/menu/right_panel_manager.cc
  src/app/editor/system/editor_activator.cc
  src/app/editor/system/editor_activator.h
  src/app/editor/system/editor_panel.h
  src/app/editor/system/editor_registry.cc
  src/app/editor/system/editor_registry.h
  src/app/editor/system/panel_manager.cc
  src/app/editor/system/panel_manager.h
  src/app/editor/system/user_settings.cc
  src/app/editor/system/user_settings.h
  src/app/gfx/resource/arena.cc
  src/app/gfx/resource/arena.h
Due: clang-tidy, cppcheck

Add cross-platform theme file system with ~/.yaze/themes/ support
  src/app/gui/core/theme_manager.cc
  src/app/gui/core/theme_manager.h
Due: clang-tidy, cppcheck

Add comprehensive UI polish with animations and theming enhancements
  assets/themes/cyberpunk.theme
  assets/themes/forest.theme
  assets/themes/midnight.theme
  assets/themes/sunset.theme
  src/app/editor/ui/welcome_screen.cc
  src/app/editor/ui/welcome_screen.h
  src/app/gui/animation/animator.cc
  src/app/gui/animation/animator.h
  src/app/gui/core/color.h
  src/app/gui/core/theme_manager.cc
  src/app/gui/core/theme_manager.h
  src/app/gui/widgets/themed_widgets.cc
  src/app/gui/widgets/themed_widgets.h
Due: clang-tidy, cppcheck

Restructure menus and fix sidebar toggle icon
  docs/internal/plans/ui-polish-implementation.md
  src/app/editor/editor_manager.cc
  src/app/editor/menu/menu_builder.cc
  src/app/editor/menu/menu_builder.h
  src/app/editor/menu/menu_orchestrator.cc
  src/app/editor/menu/menu_orchestrator.h
  src/main.cc
Due: clang-tidy, cppcheck

Fix build when YAZE_AI_RUNTIME is disabled
  src/cli/service/agent/conversational_agent_service.cc
Due: clang-tidy, cppcheck

Fix release validation scripts
  .github/workflows/release.yml
  scripts/release/validate-archive.py
  scripts/release/validate-dmg.sh
Due: none
