Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

backend-infra-engineer: fix CI disk + system gRPC fallback
  .github/workflows/ci.yml
  .github/workflows/security.yml
  cmake/dependencies/grpc.cmake
  src/zelda3/music/spc_parser.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: log CI reruns
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: format spc_parser min fix
  src/zelda3/music/spc_parser.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: include absl str_format
  src/app/gfx/types/snes_palette.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: normalize snes_palette line endings
  src/app/gfx/types/snes_palette.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: update CI run notes
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: include absl str_format in compression
  src/app/gfx/util/compression.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: refresh CI run IDs
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: add Playwright wasm smoke test
  .gitignore
  docs/internal/agents/coordination-board.md
  scripts/agents/package-lock.json
  scripts/agents/package.json
  scripts/agents/playwright-wasm-smoke.spec.js
Due: none

backend-infra-engineer: update CI run IDs
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: include absl str_format in collaboration panel
  src/app/gui/app/collaboration_panel.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: remove grpc ServerContext fwd decls
  src/app/service/canvas_automation_service.h
  src/app/service/imgui_test_harness_service.h
Due: cppcheck

backend-infra-engineer: update coordination board
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: drop grpc Server fwd decls
  src/app/service/imgui_test_harness_service.h
  src/app/service/unified_grpc_server.h
Due: cppcheck

backend-infra-engineer: refresh coordination board runs
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: format grpc server header
  src/app/service/unified_grpc_server.h
Due: cppcheck

backend-infra-engineer: update coordination board runs
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: guard agent control server grpc
  src/cli/service/agent/agent_control_server.h
Due: cppcheck

backend-infra-engineer: log latest CI runs
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: fix asm import error formatting
  src/app/editor/music/music_editor.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: log CI rerun
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: add absl StrFormat include
  src/app/editor/overworld/overworld_sidebar.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: log CodeQL fix rerun
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: add absl clock include
  src/cli/handlers/agent/test_commands.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: log CodeQL clock fix
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: log absl include pass
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: add absl include in gui tests
  test/gui_test_utils.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: log gui test include rerun
  docs/internal/agents/coordination-board.md
Due: none

Add absl numbers include for emulator commands
  src/cli/handlers/tools/emulator_commands.cc
Due: clang-tidy, cppcheck

Handle ArrayBuffer results in wasm storage
  src/app/platform/wasm/wasm_storage.cc
Due: clang-tidy, cppcheck

Fix absl::SimpleHexAtoi compatibility for CI builds
  src/cli/handlers/game/dungeon_commands.cc
  src/cli/handlers/game/overworld_commands.cc
  src/cli/handlers/graphics/palette_commands.cc
  src/cli/handlers/graphics/sprite_commands.cc
  src/cli/handlers/tools/emulator_commands.cc
  src/cli/handlers/tools/gui_commands.cc
  src/cli/service/planning/tile16_proposal_generator.cc
  src/cli/service/resources/command_context.cc
  src/cli/util/hex_util.h
Due: clang-tidy, cppcheck

backend-infra-engineer: fix CI lint/builds and polish CLI/docs/tests
  .github/workflows/release.yml
  .gitignore
  OWNERS
  ROADMAP.md
  STATUS.md
  docs/internal/agents/README.md
  docs/internal/agents/coordination-board.md
  docs/internal/templates/release_checklist.md
  docs/public/developer/ai-assisted-development.md
  docs/public/developer/api-reference.md
  docs/public/developer/debugging-guide.md
  docs/public/examples/web-terminal-integration.md
  docs/public/guides/z3ed-workflows.md
  docs/public/reference/changelog.md
  docs/public/reference/z3ed-command-reference.md
  docs/public/release-notes.md
  docs/public/usage/web-app.md
  docs/public/usage/z3ed-cli.md
  src/app/service/imgui_test_harness_service.cc
  src/cli/cli.cc
  src/cli/cli_main.cc
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/rom/rom_commands.h
  src/cli/handlers/tools/gui_commands.cc
  src/cli/service/agent/agent_context.h
  src/cli/service/command_registry.cc
  src/cli/service/resources/command_handler.cc
  src/cli/util/hex_util.h
  test/CMakeLists.txt
  test/cli/service/resources/command_handler_test.cc
  test/platform/wasm_async_guard_test.cc
  test/unit/cli/command_registry_test.cc
  test/unit/emu/input_backend_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: fix release build blockers
  src/app/emu/emu.cmake
  src/app/service/imgui_test_harness_service.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: fix z3ed link order + gRPC macro
  src/app/service/imgui_test_harness_service.h
  src/cli/z3ed.cmake
Due: cppcheck

backend-infra-engineer: move file dialog to gui core
  src/app/app_core.cmake
  src/app/gui/gui_library.cmake
Due: none

backend-infra-engineer: add gRPC win compat header
  src/app/service/canvas_automation_service.cc
  src/app/service/canvas_automation_service.h
  src/app/service/imgui_test_harness_service.cc
  src/app/service/imgui_test_harness_service.h
  src/app/service/rom_service_impl.h
  src/app/service/unified_grpc_server.cc
  src/app/service/unified_grpc_server.h
  src/cli/handlers/tools/emulator_commands.cc
  src/cli/service/agent/agent_control_server.cc
  src/cli/service/agent/agent_control_server.h
  src/cli/service/agent/emulator_service_impl.cc
  src/cli/service/agent/emulator_service_impl.h
  src/cli/service/gui/canvas_automation_client.h
  src/cli/service/gui/gui_automation_client.h
  src/util/grpc_win_compat.h
Due: clang-tidy, cppcheck

backend-infra-engineer: force gRPC win compat include
  src/app/service/grpc_support.cmake
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
