Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

feat(dungeon): enhance panel management and object handling
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/object_selection.cc
  src/app/editor/dungeon/object_selection.h
  src/app/editor/dungeon/panels/object_editor_panel.cc
  src/app/editor/dungeon/panels/object_editor_panel.h
  src/zelda3/overworld/overworld.cc
  test/CMakeLists.txt
  test/framework/headless_editor_test.h
  test/framework/mock_renderer.h
  test/integration/dungeon_editor_v2_test.h
  test/integration/overworld_editor_test.cc
  test/integration/overworld_editor_test.h
Due: clang-tidy, cppcheck

feat(compression): enhance HyruleMagicDecompress with safety checks and buffer management
  src/app/gfx/util/compression.cc
  src/app/gfx/util/compression.h
  src/cli/agent.cmake
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/tools/diagnostic_types.h
  src/cli/handlers/tools/dungeon_doctor_commands.cc
  src/cli/handlers/tools/graphics_doctor_commands.cc
  src/cli/handlers/tools/graphics_doctor_commands.h
  src/cli/handlers/tools/hex_inspector_commands.cc
  src/cli/handlers/tools/hex_inspector_commands.h
  src/cli/handlers/tools/message_doctor_commands.cc
  src/cli/handlers/tools/message_doctor_commands.h
  src/cli/handlers/tools/rom_compare_commands.cc
  src/cli/handlers/tools/rom_doctor_commands.cc
  src/cli/handlers/tools/sprite_doctor_commands.cc
  src/cli/handlers/tools/sprite_doctor_commands.h
  src/rom/CMakeLists.txt
  src/rom/hm_support.cc
  src/rom/hm_support.h
Due: clang-tidy, cppcheck

refactor(editor): rename card handling to panel management across the application
  src/app/application.h
  src/app/controller.cc
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/menu/activity_bar.cc
  src/app/editor/menu/menu_orchestrator.cc
  src/app/editor/system/panel_manager.h
  src/app/editor/system/shortcut_configurator.cc
  src/app/editor/system/shortcut_manager.cc
  src/app/editor/ui/ui_coordinator.cc
  src/app/editor/ui/ui_coordinator.h
  src/app/main.cc
Due: clang-tidy, cppcheck

feat(shortcuts): implement platform-aware shortcut handling across the editor
  src/app/editor/editor_manager.cc
  src/app/editor/menu/right_panel_manager.cc
  src/app/editor/system/shortcut_configurator.cc
  src/app/editor/system/shortcut_manager.cc
  src/app/editor/ui/dashboard_panel.cc
  src/app/editor/ui/editor_selection_dialog.cc
  src/app/editor/ui/editor_selection_dialog.h
  src/app/editor/ui/settings_panel.cc
  src/app/gui/core/platform_keys.cc
  src/app/platform/sdl2_window_backend.cc
  src/app/platform/sdl3_window_backend.cc
  src/app/platform/window.cc
Due: clang-tidy, cppcheck

feat(dungeon): enhance object handling and UI interactions in DungeonCanvasViewer
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_selector.cc
  src/app/editor/dungeon/dungeon_object_selector.h
  src/app/editor/dungeon/panels/object_editor_panel.cc
  src/app/editor/dungeon/panels/object_editor_panel.h
  src/zelda3/dungeon/object_drawer.cc
Due: clang-tidy, cppcheck

refactor(overworld): extract entity interaction logic into dedicated class
  src/app/editor/editor_manager.cc
  src/app/editor/graphics/graphics_editor.cc
  src/app/editor/graphics/graphics_editor.h
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/overworld/overworld_editor.h
  src/app/editor/overworld/overworld_entity_interaction.cc
  src/app/editor/overworld/overworld_entity_interaction.h
  src/app/editor/system/shortcut_manager.cc
Due: clang-tidy, cppcheck

feat(rom): add macros for ROM bounds checking and validation
  src/util/macro.h
Due: cppcheck

feat(music): update sample rate handling and improve audio diagnostics
  src/app/editor/music/music_player.cc
  src/app/editor/music/sample_editor_view.cc
  src/app/emu/snes.cc
  src/zelda3/music/music_bank.cc
Due: clang-tidy, cppcheck

feat(docs): add comprehensive documentation for emulator music subsystem and Zelda 3 dungeon system
  docs/ZELDA3_DUNGEON_SPEC.md
  docs/emulator_music_subsystem_research.md
  docs/internal/agents/archive/large-ref-docs/gemini-dungeon-rendering-task.md
  docs/internal/agents/cli-ux-proposals.md
  docs/internal/agents/coordination-board.md
  docs/internal/agents/overworld-tail-padding-handoff.md
  docs/internal/agents/tests-binary-ux-proposals.md
  docs/internal/agents/yaze-app-ux-proposals.md
  docs/internal/architecture/README.md
  docs/internal/architecture/dungeon_tile_ordering.md
  docs/internal/architecture/rom_architecture.md
  docs/internal/hand-off/HANDOFF_AUDIO.md
  docs/internal/overworld_third_world_padding.md
  docs/planning/comprehensive_test_and_cli_plan.md
  docs/planning/hyrule_magic_support_plan.md
  docs/public/build/install-options.md
  docs/public/developer/debug-flags.md
Due: none

add clang-tidy detection to CMake
  cmake/llvm-brew.toolchain.cmake
  cmake/options.cmake
Due: none

Enhance CMake configuration for code quality tools
  CMakeLists.txt
Due: none

Implement unified linting script for code quality checks
  scripts/lint.sh
  scripts/pre-push.sh
  scripts/quality_check.sh
Due: none

refactor: Rename various UI components between cards and panels, update editor architecture documentation
  CLAUDE.md
  GEMINI.md
  docs/internal/architecture/editor_manager.md
  src/app/editor/agent/agent_chat_card.cc
  src/app/editor/agent/agent_chat_card.h
  src/app/editor/agent/agent_ui_controller.cc
  src/app/editor/agent/agent_ui_controller.h
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/editor_library.cmake
  src/app/editor/menu/menu_orchestrator.cc
  src/app/editor/menu/menu_orchestrator.h
  src/app/editor/overworld/debug_window_card.cc
  src/app/editor/overworld/debug_window_card.h
  src/app/editor/overworld/overworld_editor.cc
  src/app/editor/overworld/overworld_editor.h
  src/app/editor/overworld/panels/debug_window_panel.cc
  src/app/editor/overworld/panels/usage_statistics_panel.cc
  src/app/editor/overworld/usage_statistics_card.cc
  src/app/editor/overworld/usage_statistics_card.h
  src/app/editor/palette/palette_editor.cc
  src/app/editor/palette/palette_editor.h
  src/app/editor/palette/palette_group_panel.cc
  src/app/editor/palette/palette_group_panel.h
  src/app/editor/palette/panels/palette_card_panels.h
  src/app/editor/system/panel_manager.h
Due: clang-tidy, cppcheck

refactor(dungeon): improve DungeonCanvasViewer UI and interaction logic
  src/app/editor/dungeon/README.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.h
  src/app/editor/dungeon/panels/object_editor_panel.cc
  src/app/editor/dungeon/panels/object_editor_panel.h
  src/app/editor/system/shortcut_configurator.cc
Due: clang-tidy, cppcheck

refactor(dungeon): unify context menu handling in DungeonCanvasViewer
  src/app/editor/dungeon/README.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.h
  src/app/editor/dungeon/panels/object_editor_panel.cc
  src/app/editor/dungeon/panels/object_editor_panel.h
Due: clang-tidy, cppcheck

DungeonEditor object tool improvements
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.h
  src/app/editor/dungeon/dungeon_object_selector.cc
  src/app/editor/dungeon/dungeon_object_selector.h
  src/app/editor/dungeon/panels/object_editor_panel.cc
  src/app/editor/dungeon/panels/object_editor_panel.h
  src/app/gui/core/input.cc
  src/app/gui/core/input.h
  src/zelda3/dungeon/README.md
  src/zelda3/dungeon/dungeon_object_editor.cc
  src/zelda3/dungeon/room_layer_manager.h
  src/zelda3/dungeon/room_object.h
Due: clang-tidy, cppcheck

feat(dungeon): implement composite layer rendering and layer selection filtering
  src/app/editor/dungeon/OBJECT_SELECTION_INTEGRATION.md
  src/app/editor/dungeon/README.md
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/app/editor/dungeon/dungeon_canvas_viewer.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.h
  src/app/editor/dungeon/dungeon_object_selector.cc
  src/app/editor/dungeon/dungeon_object_selector.h
  src/app/editor/dungeon/object_selection.cc
  src/app/editor/dungeon/object_selection.h
  src/app/editor/ui/welcome_screen.cc
  src/app/gfx/core/bitmap.cc
  src/app/gfx/render/background_buffer.cc
  src/app/platform/sdl_compat.h
  src/core/project.h
  src/zelda3/dungeon/draw_routines/corner_routines.cc
  src/zelda3/dungeon/draw_routines/diagonal_routines.cc
  src/zelda3/dungeon/draw_routines/downwards_routines.cc
  src/zelda3/dungeon/draw_routines/rightwards_routines.cc
  src/zelda3/dungeon/draw_routines/special_routines.cc
  src/zelda3/dungeon/draw_routines/special_routines.h
  src/zelda3/dungeon/object_dimensions.cc
  src/zelda3/dungeon/object_drawer.cc
  src/zelda3/dungeon/object_drawer.h
  src/zelda3/dungeon/object_parser.cc
  src/zelda3/dungeon/room.cc
  src/zelda3/dungeon/room.h
  src/zelda3/dungeon/room_layer_manager.cc
  src/zelda3/dungeon/room_layer_manager.h
  src/zelda3/zelda3_library.cmake
  test/unit/zelda3/dungeon/draw_routine_mapping_test.cc
  test/unit/zelda3/dungeon/object_drawing_comprehensive_test.cc
Due: clang-tidy, cppcheck

dungeon palette fix
  src/app/editor/dungeon/dungeon_canvas_viewer.cc
  src/zelda3/dungeon/room.cc
Due: clang-tidy, cppcheck
