Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

backend-infra-engineer: expand tests and web debug docs
  README.md
  docs/public/reference/changelog.md
  docs/public/release-notes.md
  docs/public/usage/web-app.md
  src/web/tests/wasm_debug_api_tests.js
  test/CMakeLists.txt
  test/unit/cli/conversational_agent_service_test.cc
  test/unit/editor/agent_chat_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: update v0.5.0 run notes
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: fix windows spc min types
  src/zelda3/music/spc_parser.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: align asar runtime on windows
  cmake/asar.cmake
Due: none

backend-infra-engineer: close v0.5.0 release note
  docs/internal/agents/coordination-board.md
Due: none

backend-infra-engineer: fix CI build/test and docs updates
  README.md
  docs/internal/agents/coordination-board.md
  docs/public/usage/web-app.md
  docs/public/usage/z3ed-cli.md
  src/cli/service/testing/test_suite.h
  src/zelda3/music/spc_parser.h
  test/unit/zelda3/music_parser_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: clang-format spc parser tests
  src/zelda3/music/spc_parser.h
  test/unit/zelda3/music_parser_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: refresh welcome and help text
  src/app/editor/ui/popup_manager.cc
  src/app/editor/ui/popup_manager.h
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: update v0.5.x label
  src/app/editor/agent/panels/agent_automation_panel.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: update AI provider help/docs
  docs/public/developer/ai-assisted-development.md
  docs/public/usage/z3ed-cli.md
  src/cli/flags.cc
  src/cli/handlers/agent.cc
  src/cli/service/ai/service_factory.h
  src/cli/tui/tui.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: fix format + chrono include
  src/cli/flags.cc
  src/cli/handlers/agent.cc
  src/cli/service/ai/service_factory.h
  src/cli/tui/tui.cc
  src/zelda3/dungeon/dungeon_object_editor.h
Due: clang-tidy, cppcheck

backend-infra-engineer: simplify formatting for clang-format
  src/cli/service/ai/service_factory.h
  src/cli/tui/tui.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: update AI provider docs and tests
  README.md
  docs/internal/agents/coordination-board.md
  docs/public/build/build-from-source.md
  docs/public/cli/README.md
  docs/public/deployment/collaboration-server-setup.md
  docs/public/developer/ai-assisted-development.md
  docs/public/developer/dependency-architecture.md
  docs/public/developer/networking.md
  docs/public/developer/testing-without-roms.md
  docs/public/examples/web-terminal-integration.md
  docs/public/reference/changelog.md
  docs/public/release-notes.md
  docs/public/usage/web-app.md
  src/cli/tui/tui.cc
  src/core/project.h
  test/CMakeLists.txt
  test/unit/cli/ai_service_factory_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: clang-format project settings
  src/core/project.h
Due: cppcheck

backend-infra-engineer: fix absl string_view in cli_main
  src/cli/cli_main.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: fix chat_tui error string conversion
  src/cli/tui/chat_tui.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: align chat_tui metrics formatting
  src/cli/tui/chat_tui.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: clang-format chat_tui metrics
  src/cli/tui/chat_tui.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: refresh welcome/help text and add vision tests
  docs/public/reference/changelog.md
  docs/public/release-notes.md
  src/app/editor/ui/popup_manager.cc
  src/app/editor/ui/welcome_screen.cc
  src/cli/cli_main.cc
  src/cli/handlers/agent.cc
  src/cli/service/ai/vision_action_refiner.cc
  src/cli/service/ai/vision_action_refiner.h
  src/cli/tui/tui.cc
  test/CMakeLists.txt
  test/unit/cli/vision_action_refiner_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: update web terminal help text
  src/web/components/terminal.js
Due: none

backend-infra-engineer: fix vision refiner unit test setup
  test/unit/cli/vision_action_refiner_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: link vision refiner in all agent builds
  src/cli/agent.cmake
Due: none

backend-infra-engineer: fix wasm js + link deps
  src/app/gfx/gfx_library.cmake
  src/app/platform/wasm/wasm_autosave.cc
  src/app/platform/wasm/wasm_secure_storage.cc
  src/app/platform/wasm/wasm_settings.cc
  src/app/service/grpc_support.cmake
  src/cli/agent.cmake
  src/core/CMakeLists.txt
  src/zelda3/zelda3_library.cmake
Due: clang-tidy, cppcheck

backend-infra-engineer: format wasm storage js
  src/app/platform/wasm/wasm_autosave.cc
  src/app/platform/wasm/wasm_secure_storage.cc
  src/app/platform/wasm/wasm_settings.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: fix test links and refresh 0.5.0 help/docs
  docs/public/overview/getting-started.md
  docs/public/reference/changelog.md
  docs/public/release-notes.md
  docs/public/usage/web-app.md
  docs/public/usage/z3ed-cli.md
  src/app/editor/ui/popup_manager.cc
  src/app/editor/ui/welcome_screen.cc
  src/cli/tui/tui.cc
  src/web/components/terminal.js
  test/CMakeLists.txt
  test/unit/cli/ai_service_factory_test.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: format UI/TUI updates
  src/app/editor/ui/popup_manager.cc
  src/app/editor/ui/welcome_screen.cc
  src/cli/tui/tui.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: align clang-format output
  src/app/editor/ui/popup_manager.cc
  src/cli/tui/tui.cc
Due: clang-tidy, cppcheck

backend-infra-engineer: keep absl deps for Linux tests
  test/CMakeLists.txt
Due: none

Finalize v0.5.0 release packaging and coverage
  .github/workflows/release.yml
  .github/workflows/web-build.yml
  README.md
  cmake/options.cmake
  cmake/packaging/cpack.cmake
  docs/internal/agents/coordination-board.md
  docs/internal/agents/initiative-test-coverage-v0-5-x.md
  docs/public/developer/architecture.md
  docs/public/developer/testing-guide.md
  docs/public/index.md
  docs/public/overview/getting-started.md
  docs/public/reference/changelog.md
  docs/public/reference/feature-coverage-report.md
  docs/public/release-notes.md
  docs/public/release/README.md
  docs/public/usage/web-app.md
  scripts/agents/playwright-wasm-smoke.spec.js
  test/CMakeLists.txt
  test/e2e/README.md
  test/e2e/editor_smoke_tests.cc
  test/e2e/editor_smoke_tests.h
  test/yaze_test.cc
  tools/test_helpers/CMakeLists.txt
Due: clang-tidy, cppcheck

Log v0.5.0 release artifact cleanup
  docs/internal/agents/coordination-board.md
Due: none

Add release manifest and artifact validation
  .github/workflows/release.yml
  cmake/packaging/cpack.cmake
  cmake/packaging/manifest.json.in
  scripts/release/validate-archive.py
  scripts/release/validate-dmg.sh
Due: none

Enable ASAR 65816 assembler integration
  cmake/asar.cmake
  cmake/dependencies.cmake
  cmake/options.cmake
Due: none

Clean up legacy directory after successful migration
  src/util/platform_paths.cc
Due: clang-tidy, cppcheck

Ensure /.yaze root exists before subdirectories in WASM
  src/web/core/filesystem_manager.js
Due: none

Fix clang-format issues in platform_paths.cc
  src/util/platform_paths.cc
Due: clang-tidy, cppcheck

Add missing filesystem include in emulator_service_impl.cc
  src/cli/service/agent/emulator_service_impl.cc
Due: clang-tidy, cppcheck

Format emulator_service_impl.cc
  src/cli/service/agent/emulator_service_impl.cc
Due: clang-tidy, cppcheck

Fix file_clock::to_sys not available on MSVC
  src/cli/service/agent/emulator_service_impl.cc
Due: clang-tidy, cppcheck

Improve error handling in playwright debug API smoke test
  scripts/agents/playwright-wasm-smoke.spec.js
Due: none
