Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

core: avoid AsarWrapper temp patch collisions under -j tests
  src/core/asar_wrapper.cc
Due: clang-tidy, cppcheck

test: split stable tests into unit/integration labels
  CMakePresets.json
  test/CMakeLists.txt
Due: none

scripts: use wrapper binaries in AI test scripts
  scripts/agent_test_suite.sh
  scripts/test_ai_features.sh
  scripts/test_gui_tools.sh
Due: none

docs: update stable test executable references
  docs/internal/agents/handoff-2026-02-06-ai-infra-architect.md
  docs/internal/agents/initiative-test-coverage-v0-5-x.md
  docs/internal/hand-off/dungeon_interaction_refactoring_handoff.md
  docs/internal/hand-off/interaction_refactor_next_steps.md
  docs/internal/plans/test_dashboard_refactor.md
  docs/internal/testing/overview.md
  docs/public/build/build-from-source.md
  docs/public/build/quick-reference.md
  test/README.md
Due: none

scripts: add fast stable subset runner
  scripts/test_fast.sh
Due: none

docs(test): document fast subset runner and unit/integration labels
  test/README.md
Due: none

test: avoid stack overflow in DungeonSaveRegionTest
  test/integration/zelda3/dungeon_save_region_test.cc
Due: clang-tidy, cppcheck

build(ios): bundle Abseil libs into iOS archive
  src/CMakeLists.txt
Due: none

scripts(ios): add xcodebuild wrapper
  scripts/README.md
  scripts/xcodebuild-ios.sh
Due: none

core(oracle): add progression + story event graph types
  src/core/CMakeLists.txt
  src/core/oracle_progression.cc
  src/core/oracle_progression.h
  src/core/story_event_graph.cc
  src/core/story_event_graph.h
Due: clang-tidy, cppcheck

core(hack_manifest): load unified resource labels + story events
  src/core/hack_manifest.cc
  src/core/hack_manifest.h
  src/core/project.cc
Due: clang-tidy, cppcheck

test(core): cover oracle progression + story graph status
  scripts/test_fast.sh
  test/CMakeLists.txt
  test/unit/core/hack_manifest_test.cc
  test/unit/core/oracle_progression_test.cc
Due: clang-tidy, cppcheck

editor: publish current project in ContentRegistry context
  src/app/editor/core/content_registry.cc
  src/app/editor/core/content_registry.h
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

editor(oracle): add progression, story graph, annotations panels
  src/app/editor/editor_library.cmake
  src/app/editor/oracle/panels/annotation_overlay_panel.cc
  src/app/editor/oracle/panels/annotation_overlay_panel.h
  src/app/editor/oracle/panels/progression_dashboard_panel.cc
  src/app/editor/oracle/panels/progression_dashboard_panel.h
  src/app/editor/oracle/panels/story_event_graph_panel.cc
  src/app/editor/oracle/panels/story_event_graph_panel.h
Due: clang-tidy, cppcheck

ios: fix auth header token optional handling
  src/ios/iOS/RemoteBuildClient.swift
Due: none

ios: add Oracle data APIs to YazeIOSBridge
  src/ios/iOS/YazeIOSBridge.h
  src/ios/iOS/YazeIOSBridge.mm
Due: cppcheck

ios: add .yazeproj documents, CloudKit annotations, Oracle tools UI
  src/ios/iOS/AnnotationEditorView.swift
  src/ios/iOS/CloudKit/AnnotationStore.swift
  src/ios/iOS/CloudKit/AnnotationSyncEngine.swift
  src/ios/iOS/OracleToolsTab.swift
  src/ios/iOS/ProgressionDashboardView.swift
  src/ios/iOS/ProjectBrowserView.swift
  src/ios/iOS/StoryGraphBrowserView.swift
  src/ios/iOS/YazeConflictResolverView.swift
  src/ios/iOS/YazeDocumentManager.swift
  src/ios/iOS/YazeProjectDocument.swift
  src/ios/iOS/yaze.entitlements
  src/ios/project.yml
Due: none

rom: make ROM backups copy on-disk file
  src/app/editor/system/rom_file_manager.cc
  test/CMakeLists.txt
  test/unit/editor/rom_file_manager_test.cc
Due: clang-tidy, cppcheck

ios: allow local signing + iCloud container overrides
  .gitignore
  scripts/README.md
  scripts/signing.env.example
  scripts/xcodebuild-ios.sh
  src/ios/iOS/CloudKit/AnnotationSyncEngine.swift
  src/ios/iOS/Info-iOS.plist
  src/ios/iOS/yaze.entitlements
  src/ios/project.yml
Due: none

rom: add diff range utility
  src/rom/CMakeLists.txt
  src/rom/rom_diff.cc
  src/rom/rom_diff.h
  test/CMakeLists.txt
  test/unit/rom/rom_diff_test.cc
Due: clang-tidy, cppcheck

editor: detect write conflicts via disk diff
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

docs(ios): make signing override examples generic
  scripts/README.md
  scripts/signing.env.example
  scripts/xcodebuild-ios.sh
Due: none

core(story): add explicit completion predicates
  src/core/story_event_graph.cc
  src/core/story_event_graph.h
  test/CMakeLists.txt
  test/unit/core/story_event_graph_test.cc
Due: clang-tidy, cppcheck

core(project): normalize paths relative to project file
  src/core/project.cc
  src/core/project.h
  test/CMakeLists.txt
  test/unit/core/project_paths_test.cc
Due: clang-tidy, cppcheck

core(project): support .yazeproj bundle projects
  src/core/project.cc
  test/CMakeLists.txt
  test/unit/core/project_bundle_test.cc
Due: clang-tidy, cppcheck

editor: detect project opens by extension
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

ios: open .yazeproj bundles via core project loader
  src/ios/iOS/ProjectBrowserView.swift
  src/ios/iOS/YazeOverlayView.swift
  src/ios/iOS/YazeProjectBundle.swift
Due: none

test: add quick suites and --quick runner
  scripts/test_fast.sh
  test/CMakeLists.txt
Due: none

core(oracle): load .srm progression and apply to story events
  src/core/CMakeLists.txt
  src/core/hack_manifest.cc
  src/core/hack_manifest.h
  src/core/oracle_progression_loader.cc
  src/core/oracle_progression_loader.h
  test/CMakeLists.txt
  test/unit/core/hack_manifest_test.cc
  test/unit/core/oracle_progression_loader_test.cc
Due: clang-tidy, cppcheck

editor(oracle): import .srm and sync story graph status
  src/app/editor/oracle/panels/progression_dashboard_panel.h
  src/app/editor/oracle/panels/story_event_graph_panel.h
Due: cppcheck

dungeon: validate rooms before save
  src/app/editor/dungeon/dungeon_editor_v2.cc
  test/CMakeLists.txt
  test/unit/editor/dungeon_editor_v2_rom_safety_test.cc
Due: clang-tidy, cppcheck

scripts: align gemini_build with AI presets
  scripts/gemini_build.sh
Due: none

ios: open .yazeproj bundles in place
  src/ios/iOS/DocumentPickers.swift
  src/ios/iOS/ProjectBrowserView.swift
  src/ios/iOS/YazeOverlayView.swift
  src/ios/iOS/YazeProjectOpenService.swift
  src/ios/iOS/YazeSecurityScope.swift
Due: none

ios: register .yazeproj and handle open from Files
  src/ios/iOS/Info-iOS.plist
  src/ios/iOS/YazeSettingsStore.swift
  src/ios/main.mm
Due: none

ios: include bundle open helpers in XcodeGen sources
  src/ios/project.yml
Due: none

editor: standardize legacy editors on Editor interface
  src/app/editor/code/assembly_editor.cc
  src/app/editor/code/assembly_editor.h
  src/app/editor/code/memory_editor.cc
  src/app/editor/code/memory_editor.h
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/graphics/screen_editor.cc
  src/app/editor/graphics/screen_editor.h
Due: clang-tidy, cppcheck

editor: refactor EditorSet to dynamic editor container
  src/app/editor/session_types.cc
  src/app/editor/session_types.h
  src/app/editor/system/editor_activator.cc
  src/app/editor/system/shortcut_configurator.cc
  src/app/editor/ui/popup_manager.cc
  src/app/editor/ui/settings_panel.h
  src/app/editor/ui/ui_coordinator.cc
Due: clang-tidy, cppcheck

test: fix ctest labels and add editor unit coverage
  src/app/editor/system/editor_registry.cc
  src/app/test/main_test.cc
  test/CMakeLists.txt
  test/unit/editor/editor_registry_test.cc
  test/unit/editor/editor_set_test.cc
Due: clang-tidy, cppcheck

docs: add editor refactor plan
  docs/internal/plans/editor-refactoring.md
Due: none

editor: add factory support to EditorRegistry
  src/app/editor/system/editor_registry.cc
  src/app/editor/system/editor_registry.h
  test/unit/editor/editor_registry_test.cc
Due: clang-tidy, cppcheck

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
