Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

Fix keychain helper forward declaration
  src/app/editor/agent/agent_editor.cc
Due: clang-tidy, cppcheck

Add Files & Sync settings and AI host controls
  src/app/editor/system/user_settings.cc
  src/app/editor/ui/selection_properties_panel.cc
  src/app/editor/ui/selection_properties_panel.h
  src/app/editor/ui/settings_panel.cc
  src/app/editor/ui/settings_panel.h
Due: clang-tidy, cppcheck

Fix editor selection dismissal and activity bar visibility
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  src/app/editor/ui/dashboard_panel.cc
  src/app/editor/ui/ui_coordinator.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: register dungeon entrance CLI handler
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/command_handlers.h
  src/cli/handlers/command_handlers_browser.cc
  src/cli/handlers/game/dungeon_commands.h
Due: clang-tidy, cppcheck

imgui-frontend-engineer: implement dungeon/message CLI reads
  src/cli/handlers/game/dungeon_commands.cc
  src/cli/handlers/game/message_commands.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: tighten welcome gating + AI settings
  docs/internal/agents/coordination-board.md
  src/app/editor/agent/agent_chat_history_codec.cc
  src/app/editor/agent/agent_chat_history_codec.h
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_editor.h
  src/app/editor/agent/agent_state.h
  src/app/editor/agent/agent_ui_controller.cc
  src/app/editor/agent/agent_ui_theme.cc
  src/app/editor/agent/panels/agent_configuration_panel.cc
  src/app/editor/editor_manager.cc
  src/app/editor/system/user_settings.cc
  src/app/editor/system/user_settings.h
  src/app/editor/ui/settings_panel.cc
  src/app/editor/ui/ui_coordinator.cc
  src/cli/service/ai/openai_ai_service.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: add local model discovery
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_state.h
  src/app/editor/agent/panels/agent_configuration_panel.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: add dungeon chest list command
  src/cli/handlers/game/dungeon_commands.cc
  src/cli/handlers/game/dungeon_commands.h
Due: clang-tidy, cppcheck

imgui-frontend-engineer: register dungeon chest list
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/command_handlers.h
  src/cli/handlers/command_handlers_browser.cc
Due: clang-tidy, cppcheck

imgui-frontend-engineer: refresh agent chat and status UX
  src/app/editor/agent/agent_chat.cc
  src/app/editor/agent/agent_chat.h
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/panels/agent_configuration_panel.cc
  src/app/platform/asset_loader.cc
Due: clang-tidy, cppcheck

cli: add overworld items listing
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/command_handlers.h
  src/cli/handlers/command_handlers_browser.cc
  src/cli/handlers/game/overworld_commands.cc
  src/cli/handlers/game/overworld_commands.h
Due: clang-tidy, cppcheck

agent ui: streamline config and sidebar hooks
  src/app/editor/agent/agent_chat.cc
  src/app/editor/agent/agent_chat.h
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/panels/agent_configuration_panel.cc
  src/app/editor/menu/activity_bar.cc
Due: clang-tidy, cppcheck

mesen: add socket client and debug panel
  src/CMakeLists.txt
  src/app/editor/agent/panels/mesen_debug_panel.cc
  src/app/editor/agent/panels/mesen_debug_panel.h
  src/app/editor/editor_library.cmake
  src/app/emu/mesen/mesen_socket_client.cc
  src/app/emu/mesen/mesen_socket_client.h
Due: clang-tidy, cppcheck

agent ui: add editor quick actions and status bar toggle
  src/app/editor/editor_manager.cc
  src/app/editor/menu/right_panel_manager.cc
  src/app/editor/menu/right_panel_manager.h
  src/app/editor/menu/status_bar.cc
  src/app/editor/menu/status_bar.h
  src/app/editor/ui/selection_properties_panel.cc
  src/app/editor/ui/selection_properties_panel.h
Due: clang-tidy, cppcheck

mesen2: add yaze bridge endpoints and sync script
  src/cli/service/api/api_handlers.cc
  src/cli/service/api/api_handlers.h
  src/cli/service/api/http_server.cc
  src/lab/main.cc
  tools/mesen2/yaze_bridge.lua
Due: clang-tidy, cppcheck

agent: add mesen debug panel and socket improvements
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_editor.h
  src/app/editor/agent/panels/agent_editor_panels.h
  src/app/editor/agent/panels/mesen_debug_panel.cc
  src/app/editor/agent/panels/mesen_debug_panel.h
  src/app/emu/mesen/mesen_socket_client.cc
  src/app/emu/mesen/mesen_socket_client.h
Due: clang-tidy, cppcheck

cli: add mesen2 tool handlers and schemas
  src/cli/cli_core.cmake
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/mesen_handlers.cc
  src/cli/handlers/mesen_handlers.h
  src/cli/service/agent/rom_debug_agent.h
  src/cli/service/agent/tool_schemas.h
Due: clang-tidy, cppcheck

mesen2: add panel shortcut and refresh sockets on open
  src/app/editor/agent/panels/agent_editor_panels.h
  src/app/editor/agent/panels/mesen_debug_panel.cc
Due: clang-tidy, cppcheck

release: bump version to 0.5.5 and update docs
  CMakeLists.txt
  README.md
  VERSION
  assets/zelda3.yaze
  docs/internal/roadmap.md
  docs/public/reference/changelog.md
  docs/public/reference/feature-coverage-report.md
  docs/public/release-notes.md
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

cli: align mesen handlers with command API
  src/cli/handlers/mesen_handlers.cc
  src/cli/handlers/mesen_handlers.h
Due: clang-tidy, cppcheck

nightly: derive version label from VERSION
  scripts/install-nightly.sh
Due: none

agent: add mesen2 live analysis helpers
  src/cli/cli_core.cmake
  src/cli/service/agent/rom_debug_agent.cc
Due: clang-tidy, cppcheck

docs: add mesen2 CLI documentation
  docs/public/cli/README.md
  docs/public/reference/z3ed-command-reference.md
  docs/public/usage/z3ed-cli.md
Due: none

docs: Update internal agent plans, public API reference, and Doxyfile
  Doxyfile
  docs/internal/agents/coordination-board.md
  docs/internal/archive/investigations/graphics-loading-regression-2024.md
  docs/internal/oos-tech-stack.md
  docs/internal/plans/oracle-yaze-integration.md
  docs/internal/plans/ralph-wiggum-codex-mission.md
  docs/public/cli/README.md
  docs/public/developer/api-reference.md
  docs/public/developer/architecture.md
  docs/public/developer/dependency-architecture.md
  docs/public/examples/web-terminal-integration.md
  docs/public/guides/z3ed-workflows.md
  docs/public/reference/api.md
  docs/public/reference/z3ed-command-reference.md
  docs/public/usage/z3ed-cli.md
  src/cli/handlers/README.md
  src/cli/service/api/README.md
Due: none

feat(agent): enable memory inspector tool and add tests
  src/app/app.cmake
  src/app/editor/agent/agent_chat_history_codec.cc
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/agent_state.h
  src/app/editor/agent/panels/agent_configuration_panel.cc
  src/app/test/agent_tools_test.cc
  src/app/test/agent_tools_test.h
  src/app/test/main_test.cc
  src/app/test/test.cmake
Due: clang-tidy, cppcheck

feat(api): add public C headers for yaze library
  inc/yaze.h
  inc/yaze_core.h
  inc/yaze_dungeon.h
  inc/yaze_errors.h
  inc/yaze_extensions.h
  inc/yaze_graphics.h
  inc/yaze_messages.h
  inc/yaze_overworld.h
  inc/yaze_rom.h
  inc/yaze_version.h
  inc/zelda.h
Due: cppcheck

docs: update coordination board, roadmap, and changelog
  .gitignore
  AGENTS.md
  GEMINI.md
  README.md
  docs/index.md
  docs/internal/agents/coordination-board.md
  docs/internal/roadmap.md
  docs/public/reference/changelog.md
  docs/public/reference/feature-coverage-report.md
  docs/public/release-notes.md
Due: none

chore(agents): enhance ralph loop and test infrastructure
  scripts/agents/README.md
  scripts/agents/ralph-loop-codex.sh
  scripts/agents/ralph-loop-lock.sh
  scripts/agents/ralph-loop-report.sh
  scripts/agents/ralph-loop-status.sh
  scripts/agents/ralph-loop-stop.sh
  scripts/agents/run-gh-workflow.sh
  scripts/agents/run-tests.sh
  scripts/agents/smoke-build.sh
  scripts/agents/test-grpc-api.sh
  scripts/agents/test-http-api.sh
Due: none

refactor(api): remove legacy incl/ directory (replaced by inc/)
  incl/yaze.h
  incl/zelda.h
Due: cppcheck

chore: bump version to 0.5.5 and update packaging
  VERSION
  cmake/packaging.cmake
Due: none

build: refactor cmake libraries and improve modularity
  CMakeLists.txt
  CMakePresets.json
  src/CMakeLists.txt
  src/app/app_core.cmake
  src/app/editor/editor_library.cmake
  src/app/emu/emu.cmake
  src/app/emu/emu_library.cmake
  src/app/gfx/gfx_library.cmake
  src/app/gui/canvas/canvas.cmake
  src/app/gui/gui_library.cmake
  src/app/service/grpc_support.cmake
  src/app/test/test.cmake
  src/cli/agent.cmake
  src/cli/cli_agent.cmake
  src/cli/cli_core.cmake
  src/core/CMakeLists.txt
  src/ios/project.yml
  src/ios/yaze.xcodeproj/project.pbxproj
  src/lab/lab.cmake
  src/util/util.cmake
  src/zelda3/zelda3_library.cmake
  test/CMakeLists.txt
Due: none

feat(cli): expand AI service registry and mesen handlers
  src/cli/cli.cc
  src/cli/cli_main.cc
  src/cli/flags.cc
  src/cli/handlers/command_handlers.cc
  src/cli/handlers/graphics/hex_commands.cc
  src/cli/handlers/graphics/hex_commands.h
  src/cli/handlers/mesen_handlers.cc
  src/cli/handlers/mesen_handlers.h
  src/cli/handlers/rom/rom_commands.cc
  src/cli/handlers/rom/rom_commands.h
  src/cli/service/ai/ai_config_utils.h
  src/cli/service/ai/model_registry.cc
  src/cli/service/ai/model_registry.h
  src/cli/service/ai/service_factory.cc
  src/cli/service/ai/service_factory_browser.cc
  src/cli/service/api/api_handlers.cc
  src/cli/service/api/api_handlers.h
  src/cli/service/api/http_server.cc
  src/cli/service/resources/command_handler.cc
Due: clang-tidy, cppcheck

feat(emu): add mesen client registry and symbol provider
  src/app/emu/debug/symbol_provider.cc
  src/app/emu/debug/symbol_provider.h
  src/app/emu/emulator.cc
  src/app/emu/mesen/mesen_client_registry.cc
  src/app/emu/mesen/mesen_client_registry.h
Due: clang-tidy, cppcheck

feat(editor): add oracle RAM panel and ASM follow service
  src/app/editor/agent/agent_chat_history_codec.h
  src/app/editor/agent/agent_editor.h
  src/app/editor/agent/agent_ui_controller.cc
  src/app/editor/agent/agent_ui_controller.h
  src/app/editor/agent/asm_follow_service.cc
  src/app/editor/agent/asm_follow_service.h
  src/app/editor/agent/oracle_ram_panel.cc
  src/app/editor/agent/oracle_ram_panel.h
  src/app/editor/agent/panels/mesen_debug_panel.cc
  src/app/editor/editor_manager.cc
  src/app/editor/events/core_events.h
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

feat(app): add activity file tracking and service improvements
  src/app/activity_file.cc
  src/app/activity_file.h
  src/app/application.cc
  src/app/application.h
  src/app/main.cc
  src/app/service/emulator_service_impl.cc
Due: clang-tidy, cppcheck

feat(core): improve project configuration handling
  src/core/project.cc
  src/core/project.h
Due: clang-tidy, cppcheck

test: expand test coverage for AI and CLI subsystems
  test/integration/asar_integration_test.cc
  test/unit/cli/ai_config_utils_test.cc
  test/unit/cli/ai_service_factory_test.cc
  test/unit/cli/http_api_handlers_test.cc
  test/unit/cli/model_registry_test.cc
  test/unit/core/asar_wrapper_test.cc
  test/unit/editor/agent_chat_test.cc
  test/unit/tools/filesystem_tool_test.cc
  test/unit/tools/project_tool_test.cc
Due: clang-tidy, cppcheck

docs: add CHANGELOG.md
  CHANGELOG.md
Due: none

chore(scripts): add local nightly install helper
  scripts/install-nightly-local.sh
Due: none

chore: update default project configuration
  assets/zelda3.yaze
Due: none

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
