Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

editor: allow EditorSet creation via EditorRegistry factories
  src/app/editor/session_types.cc
  src/app/editor/session_types.h
  test/unit/editor/editor_set_test.cc
Due: clang-tidy, cppcheck

editor: register default factories and plumb into sessions
  src/app/editor/editor_manager.cc
  src/app/editor/session_types.cc
  src/app/editor/session_types.h
  src/app/editor/system/session_coordinator.cc
  src/app/editor/system/session_coordinator.h
Due: clang-tidy, cppcheck

editor: make SetDependencies virtual and remove legacy wiring
  src/app/editor/code/memory_editor.h
  src/app/editor/editor.h
  src/app/editor/music/music_editor.cc
  src/app/editor/music/music_editor.h
  src/app/editor/session_types.cc
  src/app/editor/ui/settings_panel.cc
  src/app/editor/ui/settings_panel.h
Due: clang-tidy, cppcheck

editor: use Editor interface for init/load/save flows
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

ios: make .yazeproj open robust in Files picker
  src/ios/iOS/YazeOverlayView.swift
  src/ios/iOS/YazeProjectOpenService.swift
  src/ios/iOS/YazeSecurityScope.swift
Due: none

editor: move default editor factories into system module
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.cc
  src/app/editor/system/default_editor_factories.cc
  src/app/editor/system/default_editor_factories.h
Due: clang-tidy, cppcheck

editor: inject StatusBar through EditorDependencies
  src/app/editor/editor.h
  src/app/editor/editor_manager.cc
  src/app/editor/ui/settings_panel.cc
Due: clang-tidy, cppcheck

editor: remove redundant SettingsPanel wiring and fix override defaults
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

editor: drop message editor include from rom override validation
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

editor: route assembly operations through EditorSet helpers
  src/app/editor/editor_manager.cc
  src/app/editor/session_types.cc
  src/app/editor/session_types.h
  test/unit/editor/editor_set_test.cc
Due: clang-tidy, cppcheck

editor: decouple EditorManager from dungeon editor implementation
  src/app/editor/editor_manager.cc
  src/app/editor/session_types.cc
  src/app/editor/session_types.h
  test/unit/editor/editor_set_test.cc
Due: clang-tidy, cppcheck

editor: expose overworld data via EditorSet helper
  src/app/editor/editor_manager.cc
  src/app/editor/session_types.cc
  src/app/editor/session_types.h
  test/unit/editor/editor_set_test.cc
Due: clang-tidy, cppcheck

test: run editor manager/set in quick unit suite
  test/CMakeLists.txt
Due: none

docs: mark editor manager decoupling plan complete
  docs/internal/plans/editor-refactoring.md
Due: none

docs: prefer build_ai presets and wrapper scripts
  README.md
  docs/public/build/quick-reference.md
Due: none

zelda3: validate water fill reserved region safety on load
  src/zelda3/dungeon/water_fill_zone.cc
  test/unit/zelda3/dungeon/water_fill_zone_test.cc
Due: clang-tidy, cppcheck

test: add mac-ai quick-unit/quick-integration ctest presets
  CMakePresets.json
Due: none

test: cover SaveRom write-conflict blocking and bypass
  test/CMakeLists.txt
  test/unit/editor/editor_manager_write_conflict_test.cc
Due: clang-tidy, cppcheck

docs: mention mac-ai quick-unit/quick-integration test presets
  README.md
Due: none

ios: avoid watchdog on opening large .yazeproj bundles
  src/app/editor/code/assembly_editor.cc
  src/app/editor/editor_manager.cc
  src/app/editor/system/file_browser.cc
  src/ios/iOS/YazeProjectOpenService.swift
  src/ios/main.mm
Due: clang-tidy, cppcheck

ios: allow picking .yazeproj bundles via folder picker fallback
  src/ios/iOS/YazeOverlayView.swift
Due: none

rom-safety: compute ROM hash for OpenRomOrProject
  src/app/editor/editor_manager.cc
Due: clang-tidy, cppcheck

test: cover ROM write policy confirmation and blocking
  test/CMakeLists.txt
  test/unit/editor/editor_manager_rom_write_policy_test.cc
Due: clang-tidy, cppcheck

scripts: add yaze_test wrapper and prefer build_ai binaries
  scripts/yaze
  scripts/yaze_test
Due: none

docs: fix GEMINI build/test commands to match build_ai + wrappers
  GEMINI.md
Due: none

docs: prefer wrapper scripts and build_ai in common guides
  docs/public/developer/debugging-guide.md
  docs/public/developer/testing-guide.md
  docs/public/developer/testing-quick-start.md
  docs/public/reference/api.md
  docs/public/usage/dungeon-editor.md
Due: none

rom-doctor: check WaterFill reserved region integrity
  src/cli/handlers/tools/rom_doctor_commands.cc
  test/CMakeLists.txt
  test/unit/cli/rom_doctor_water_fill_test.cc
Due: clang-tidy, cppcheck

ios: route OpenProject via overlay and fix stylus drag
  src/app/editor/editor_manager.cc
  src/app/editor/ui/welcome_screen.cc
  src/app/platform/ios/ios_platform_state.h
  src/app/platform/ios/ios_platform_state.mm
  src/ios/main.mm
Due: clang-tidy, cppcheck

core: add story event graph node query helper
  src/core/CMakeLists.txt
  src/core/story_event_graph_query.cc
  src/core/story_event_graph_query.h
  test/CMakeLists.txt
  test/unit/core/story_event_graph_query_test.cc
Due: clang-tidy, cppcheck

ios: do not crash when recent paths are inaccessible
  src/app/editor/ui/welcome_screen.cc
Due: clang-tidy, cppcheck

ui: add jump actions to story event graph sidebar
  src/app/editor/oracle/panels/story_event_graph_panel.h
Due: cppcheck

test: split quick unit suite and add focused ctest presets
  CMakePresets.json
  test/CMakeLists.txt
Due: none

nav: jump to message and ensure assets for navigation
  src/app/editor/editor_manager.cc
  src/app/editor/events/core_events.h
  src/app/editor/message/message_editor.cc
  src/app/editor/message/message_editor.h
  src/app/editor/system/editor_activator.cc
  src/app/editor/system/editor_activator.h
Due: clang-tidy, cppcheck

editor: add Oracle ROM safety pre-save guardrails
  src/app/editor/editor_manager.cc
  src/app/editor/editor_manager.h
  test/CMakeLists.txt
  test/unit/editor/editor_manager_oracle_rom_safety_test.cc
Due: clang-tidy, cppcheck

oracle: jump to ASM symbol from story graph
  src/app/editor/code/assembly_editor.cc
  src/app/editor/code/assembly_editor.h
  src/app/editor/events/core_events.h
  src/app/editor/oracle/panels/story_event_graph_panel.h
  src/app/editor/system/editor_activator.cc
  src/app/editor/system/editor_activator.h
  test/CMakeLists.txt
  test/unit/editor/assembly_editor_symbol_jump_test.cc
Due: clang-tidy, cppcheck

ios: enable AI agent runtime via URLSession
  CMakePresets.json
  src/CMakeLists.txt
  src/app/editor/agent/agent_editor.cc
  src/app/editor/agent/panels/mesen_screenshot_panel.cc
  src/app/editor/editor_library.cmake
  src/cli/agent.cmake
  src/cli/handlers/graphics/palette.cc
  src/cli/service/agent/tools/project_graph_tool.cc
  src/cli/service/ai/anthropic_ai_service.cc
  src/cli/service/ai/gemini_ai_service.cc
  src/cli/service/ai/ios_urlsession_http_client.h
  src/cli/service/ai/ios_urlsession_http_client.mm
  src/cli/service/ai/openai_ai_service.cc
  src/ios/iOS/Info-iOS.plist
Due: clang-tidy, cppcheck

test: add Room water fill state coverage
  test/CMakeLists.txt
  test/unit/zelda3/dungeon/room_water_fill_state_test.cc
Due: clang-tidy, cppcheck

ui: add filtering to story event graph
  src/app/editor/oracle/panels/story_event_graph_panel.h
Due: cppcheck

ui: refresh story graph filter on progression changes
  src/app/editor/oracle/panels/story_event_graph_panel.h
Due: cppcheck

test: add message id resolver helper
  src/app/editor/message/message_id_resolver.h
  test/CMakeLists.txt
  test/unit/editor/message/message_id_resolver_test.cc
Due: clang-tidy, cppcheck

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
