Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

.pre-commit-config.yaml:

# Pre-commit hooks for YAZE
# Install with: pip install pre-commit && pre-commit install

repos:
  # Clang format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.0
    hooks:
      - id: clang-format
        args: [--style=Google, -i]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # Clang tidy
  - repo: local
    hooks:
      - id: clang-tidy
        name: clang-tidy
        entry: clang-tidy
        language: system
        args: [--header-filter=src/.*\.(h|hpp)$]
        files: \.(cc|cpp)$
        exclude: ^(src/lib/|third_party/)

  # Cppcheck
  - repo: local
    hooks:
      - id: cppcheck
        name: cppcheck
        entry: cppcheck
        language: system
        args: [--enable=warning,style,performance, --inconclusive, --error-exitcode=0]
        files: \.(cc|cpp|h|hpp)$
        exclude: ^(src/lib/|third_party/)

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-files=cmake-format.yaml]
        files: CMakeLists\.txt$|\.cmake$

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        files: \.(sh|bash)$

  # Python linting (for scripts)
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        files: \.py$
        exclude: ^(third_party/|build/)

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        files: \.py$
        exclude: ^(third_party/|build/)

chore(ci): disable nightly scheduled runs
  .github/workflows/nightly.yml
Due: none

fix(ci): correct nightly workflow if-condition syntax
  .github/workflows/nightly.yml
Due: none

fix(wasm): fix Emscripten build configuration
  CMakePresets.json
Due: none

fix(wasm): enable pthread support for Emscripten build
  CMakePresets.json
Due: none

fix(wasm): pre-set CMake thread variables to bypass FindThreads
  CMakePresets.json
Due: none

docs: add web port agent handoff document
  docs/internal/agents/web-port-handoff.md
Due: none

fix(wasm): add Emscripten guards for incompatible libraries
  src/CMakeLists.txt
  src/app/editor/overworld/tile16_editor.h
  src/app/gui/gui_library.cmake
  src/cli/agent.cmake
Due: cppcheck

feat: Add `YAZE_BUILD_Z3ED` and `YAZE_ENABLE_AGENT_CLI` CMake options to presets.
  CMakePresets.json
Due: none

fix(wasm): enable nlohmann_json for web build
  CMakePresets.json
Due: none

fix(wasm): correct binaryDir to match build script
  CMakePresets.json
Due: none

fix(wasm): use absolute paths for shell file and assets
  CMakePresets.json
Due: none

fix(wasm): fix WASM link errors for agent features
  src/app/editor/editor_library.cmake
  src/app/editor/editor_manager.h
Due: cppcheck

fix: correct editor_system_ variable name in dungeon editor
  docs/internal/wasm-network-support-plan.md
  src/app/editor/dungeon/dungeon_editor_v2.cc
  src/app/editor/dungeon/dungeon_editor_v2.h
Due: clang-tidy, cppcheck

fix: remove extra closing braces in dungeon_object_interaction.cc
  src/app/editor/dungeon/dungeon_object_interaction.cc
Due: clang-tidy, cppcheck

feat: add network abstraction layer for WASM compatibility
  src/app/editor/dungeon/dungeon_object_interaction.cc
  src/app/net/http_client.h
  src/app/net/native/httplib_client.cc
  src/app/net/native/httplib_client.h
  src/app/net/native/httplib_websocket.cc
  src/app/net/native/httplib_websocket.h
  src/app/net/net_library.cmake
  src/app/net/network_factory.cc
  src/app/net/network_factory.h
  src/app/net/wasm/emscripten_http_client.cc
  src/app/net/wasm/emscripten_http_client.h
  src/app/net/wasm/emscripten_websocket.cc
  src/app/net/wasm/emscripten_websocket.h
  src/app/net/websocket_interface.h
Due: clang-tidy, cppcheck

docs: add comprehensive WASM web app enhancements plan
  docs/internal/wasm-web-app-enhancements-plan.md
Due: none

feat: Add WASM platform layer with loading, storage, file dialog, and error handling, and refine internal agent coordination documentation.
  AGENTS.md
  CMakePresets.json
  GEMINI.md
  docs/internal/agents/README.md
  docs/internal/agents/claude-gemini-collaboration.md
  docs/internal/agents/collaboration-framework.md
  docs/internal/agents/coordination-board.md
  docs/internal/agents/coordination-improvements.md
  scripts/agent_build.sh
Due: none
