Repository scawful/yaze: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, cppcheck

clang-tidy:
  name: clang-tidy
  entry: clang-tidy
  language: system
  args:
  - --header-filter=src/.*\.(h|hpp)$

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - style
  - performance
  - --inconclusive
  - --error-exitcode=0

feat(wasm): implement WASM platform layer (Phases 1-3)
  docs/internal/agents/coordination-board.md
  src/app/app_core.cmake
  src/app/platform/wasm/wasm_error_handler.cc
  src/app/platform/wasm/wasm_error_handler.h
  src/app/platform/wasm/wasm_file_dialog.cc
  src/app/platform/wasm/wasm_file_dialog.h
  src/app/platform/wasm/wasm_loading_manager.cc
  src/app/platform/wasm/wasm_loading_manager.h
  src/app/platform/wasm/wasm_storage.cc
  src/app/platform/wasm/wasm_storage.h
  src/web/error_handler.css
  src/web/error_handler.js
  src/web/loading_indicator.css
  src/web/loading_indicator.js
  test/platform/wasm_error_handler_test.cc
Due: clang-tidy, cppcheck

docs: update WASM plan with Phase 1-3 completion status
  docs/internal/wasm-web-app-enhancements-plan.md
Due: none

remove outdated docs
  docs/internal/legacy/BUILD-GUIDE.md
  docs/internal/legacy/BUILD.md
  docs/release-notes-draft.md
Due: none

fix(wasm): fix compilation errors and add phases 4-6
  src/CMakeLists.txt
  src/app/app_core.cmake
  src/app/platform/wasm/wasm_autosave.cc
  src/app/platform/wasm/wasm_autosave.h
  src/app/platform/wasm/wasm_error_handler.cc
  src/app/platform/wasm/wasm_file_dialog.cc
  src/app/platform/wasm/wasm_file_dialog.h
  src/app/platform/wasm/wasm_loading_manager.cc
  src/app/platform/wasm/wasm_secure_storage.cc
  src/app/platform/wasm/wasm_secure_storage.h
  src/app/platform/wasm/wasm_settings.cc
  src/app/platform/wasm/wasm_settings.h
  src/app/platform/wasm/wasm_storage.cc
  src/cli/agent.cmake
  src/cli/service/ai/browser_ai_service.cc
  src/cli/service/ai/browser_ai_service.h
  src/web/manifest.json
  src/web/offline.html
  src/web/service-worker.js
  src/web/shell.html
Due: clang-tidy, cppcheck

docs: update WASM plan with phases 4-6 completion
  docs/internal/wasm-web-app-enhancements-plan.md
Due: none

consolidate documentation
  docs/internal/AI_API_ENHANCEMENT_HANDOFF.md
  docs/internal/README.md
  docs/internal/agents/CI-TEST-AUDIT-REPORT.md
  docs/internal/agents/README.md
  docs/internal/agents/ai-development-tools.md
  docs/internal/agents/archive/legacy-2025-11/agent-leaderboard-archived-2025-11-25.md
  docs/internal/agents/archive/legacy-2025-11/ai-infrastructure-initiative-archived-2025-11-25.md
  docs/internal/agents/archive/legacy-2025-11/coordination-improvements-archived-2025-11-25.md
  docs/internal/agents/archive/session-handoffs/CLAUDE_AIINF_HANDOFF.md
  docs/internal/agents/archive/session-handoffs/CODEX_ONBOARDING.md
  docs/internal/agents/archive/session-handoffs/COLLABORATION_KICKOFF.md
  docs/internal/agents/coordination-board.md
  docs/internal/agents/dev-assist-agent.md
  docs/internal/agents/doc-hygiene.md
  docs/internal/handoff/ai-api-phase2-handoff.md
  docs/internal/handoff/yaze-build-handoff-2025-11-17.md
  docs/internal/plans/CLAUDE_TEST_HANDOFF.md
  docs/internal/plans/GEMINI3_HANDOFF.md
  docs/internal/plans/README.md
  docs/internal/plans/branch_organization.md
  docs/internal/plans/branch_recovery_plan.md
  docs/internal/platforms/windows-build-guide.md
Due: none

more doc updates
  docs/internal/README.md
  docs/internal/agents/coordination-board.md
  docs/internal/agents/doc-hygiene.md
  docs/internal/plans/README.md
  docs/internal/plans/message_editor_implementation_roadmap.md
Due: none

fix(wasm): remove invalid WEBSOCKET Emscripten flag
  src/app/net/net_library.cmake
Due: none

feat(wasm): implement phases 7-8 (Web Workers + WebAudio)
  src/CMakeLists.txt
  src/app/emu/audio/audio_backend.cc
  src/app/emu/audio/audio_backend.h
  src/app/emu/platform/wasm/wasm_audio.cc
  src/app/emu/platform/wasm/wasm_audio.h
  src/app/platform/wasm/wasm_worker_pool.cc
  src/app/platform/wasm/wasm_worker_pool.h
  src/web/worker.js
Due: clang-tidy, cppcheck

docs: mark all 8 WASM phases complete
  docs/internal/wasm-web-app-enhancements-plan.md
Due: none

documentation overhaul
  AGENTS.md
  GEMINI.md
  docs/internal/agents/README.md
  docs/internal/plans/EDITOR_ROADMAPS_2025-11.md
  docs/internal/plans/ai-assisted-development-plan.md
  docs/internal/plans/ai-infra-improvements.md
  docs/internal/plans/app-dev-agent-tools.md
  docs/internal/plans/asm-debug-prompt-engineering.md
  docs/internal/plans/emulator-debug-api-design.md
  docs/internal/plans/graphics_system_improvement_plan.md
  docs/internal/plans/hex_editor_enhancements.md
  docs/internal/plans/message_editor_implementation_roadmap.md
  docs/internal/plans/message_system_improvement_plan.md
  docs/internal/plans/ui_modernization.md
  docs/internal/plans/web_port_strategy.md
  docs/internal/wasm-ai-integration-summary.md
Due: none

feat(wasm): integrate WasmLoadingManager with graphics loading
  CMakePresets.json
  src/app/app_core.cmake
  src/app/rom.cc
Due: clang-tidy, cppcheck

fix(wasm): guard httplib and fix WebSocket API for WASM builds
  src/app/net/wasm/emscripten_websocket.cc
  src/app/net/websocket_client.cc
Due: clang-tidy, cppcheck

chore(ci): consolidate GitHub Actions workflows
  .github/workflows/ci-enhanced.yml
  .github/workflows/code-quality.yml
  .github/workflows/matrix-test.yml
  .github/workflows/symbol-detection.yml
Due: none

fix(wasm): correct Emscripten Fetch callback signatures
  docs/internal/wasm-web-features-roadmap.md
  src/app/net/wasm/emscripten_http_client.cc
  src/app/net/wasm/emscripten_http_client.h
Due: clang-tidy, cppcheck

fix(wasm): make Handle* methods public for extern C access
  src/app/platform/wasm/wasm_file_dialog.h
Due: cppcheck

fix(wasm): fix autosave timeout and browser AI service errors
  src/app/platform/wasm/wasm_autosave.cc
  src/app/platform/wasm/wasm_autosave.h
  src/cli/service/ai/browser_ai_service.cc
Due: clang-tidy, cppcheck

fix(dungeon): fix typo and remove duplicate Undo/Redo methods
  src/app/editor/dungeon/dungeon_editor_v2.cc
Due: clang-tidy, cppcheck

feat: Introduce WebAssembly support for patch export, drag-and-drop, and web UI with touch input and keyboard shortcuts, alongside build system updates.
  docs/wasm/patch_export.md
  docs/web/drag-drop-rom-loading.md
  src/app/app_core.cmake
  src/app/emu/platform/wasm/README.md
  src/app/gui/canvas/canvas_touch_handler.cc
  src/app/gui/canvas/canvas_touch_handler.h
  src/app/gui/core/touch_input.cc
  src/app/gui/core/touch_input.h
  src/app/gui/gui_library.cmake
  src/app/gui/keyboard_shortcuts.cc
  src/app/gui/keyboard_shortcuts.h
  src/app/platform/wasm/wasm_collaboration.cc
  src/app/platform/wasm/wasm_collaboration.h
  src/app/platform/wasm/wasm_drop_handler.cc
  src/app/platform/wasm/wasm_drop_handler.h
  src/app/platform/wasm/wasm_drop_integration_example.h
  src/app/platform/wasm/wasm_patch_export.cc
  src/app/platform/wasm/wasm_patch_export.h
  src/cli/agent.cmake
  src/web/collaboration_ui.css
  src/web/collaboration_ui.js
  src/web/drop_zone.css
  src/web/drop_zone.js
  src/web/service-worker-guide.md
  src/web/shell.html
  src/web/shortcuts_overlay.css
  src/web/shortcuts_overlay.js
  src/web/test-service-worker.html
  src/web/touch_gestures.css
  src/web/touch_gestures.js
  test/browser_ai_test.cc
  test/unit/wasm_patch_export_test.cc
Due: clang-tidy, cppcheck

fix(wasm): make WasmDropHandler destructor public for unique_ptr
  src/app/platform/wasm/wasm_drop_handler.h
Due: cppcheck

Path conditions:
  clang-tidy: any of: \.(cc|cpp)$, but not: ^(src/lib/|third_party/)
  cppcheck: any of: \.(cc|cpp|h|hpp)$, but not: ^(src/lib/|third_party/)
